---
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>150 Years of Women at UCSF</title>
  <link href='https://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
  <link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
  {% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
  <div class="banner"><h1><a href="/">A History of UCSF</a></h1>
  </div>
  <div id="insidebody">
    <div id="photocopy">
      <div id="photocopy_text"><h2 class="title"><span class="title-primary">150 Years of Women at UCSF</span></h2>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/c6f73bb6.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Aiko (Grace) Obata Amemiya</strong></div>
        <div>
          Amemiya was a nursing student at UCSF in 1942 when she and her family were forcibly detained in an Arizona internment camp alongside thousands of other Japanese Americans and Japanese nationals. In 2009, Amemiya was instrumental in persuading UC Regents to grant honorary degrees to the 700 UC students who were denied education due to their internment during World War II. 
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/ascher2012.jpg" alt="" /></div>
        <div class="sidenavtype"><strong>Nancy Ascher, MD, PhD</strong></div>
        <div>
          The first woman to perform a liver transplant, Ascher established the liver-transplantation program at UCSF and was the first woman to chair the Department of Surgery. An author of many scientific papers, she served on Presidential and Surgeon General task forces for organ transplantation and donation and was named one of "America's Top Doctors" by U.S. News.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/baintonforddorothy.png" alt="" /></div>
        <div class="sidenavtype"><strong>Dorothy Ford Bainton, MD</strong></div>
        <div>
          Bainton was the first woman to chair a department in the UCSF School of Medicine's Department of Pathology, and later became the Vice Chancellor of Academic Affairs. Her research focused on the development and function of white blood cells in defense against infection.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/68d65a89.png" alt="" /></div>
        <div class="sidenavtype"><strong>Josephine Eugenia Barbat, PhG, MD</strong></div>
        <div>
          In 1884, Barbat was the first female graduate of UCSF's College of Pharmacy. She became its first female instructor. In 1903, she graduated from the School of Medicine. 
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/c711d0ed.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Elizabeth H. Blackburn, PhD</strong></div>
        <div>
          An expert in the study of telomeres — the part of chromosomes essential to preserving genetic information — Blackburn won the 2009 Nobel Prize in Physiology or Medicine for her work. At UCSF, she has served as Department Chair of the Department of Microbiology and Immunology. In 2007 she was named one of TIME Magazine’s 100 Most influential People.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/botsford_mary.png" alt="" /></div>
        <div class="sidenavtype"><strong>Mary Botsford, MD</strong></div>
        <div>
          A pioneer in the use of anesthesia, Botsford in 1897 became the first physician on the West Coast known to practice its use. Her career included many such firsts, including championing the law that required anesthesia be taught in medical schools. In 1932, she became the first faculty member and clinical professor of anesthesia at UC.
        </div>
        </div>

        <div class="entry-150w" style="min-height:0"> <!-- <div class="small_thumb"><img src="images/pictures/IMGFILENAME" alt="" /></div> -->
        <div class="sidenavtype"><strong>Maria Angelina Burch, DDS</strong></div>
        <div>
          The first female graduate of the College of Dentistry (later the UCSF School of Dentistry), Burch established her own private practice in San Francisco in 1884.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/1100a772.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Priscilla Chan, MD</strong></div>
        <div>
          Chan is a pediatrician who earned her medical degree at UCSF, and an entrepreneur focused on children's issues. With her husband Mark Zuckerberg, she co-founded the $1 billion Chan-Zuckerberg Initiative, which supports science research and education.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/b8b856f2.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Shirley Chater, PhD, RN, FAAN</strong></div>
        <div>
          A former UCSF professor and vice chancellor, Chater was named a "Living Legend" by the American Academy of Nursing for her contributions to the field.  She also served as Commissioner of the U.S. Social Security Administration during the Clinton administration.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/75f23018.png" alt="" /></div>
        <div class="sidenavtype"><strong>Lillian Cohen, RN</strong></div>
        <div>
          In 1909, Cohen became the first female graduate of the Training School for Nurses, which was created only two years before.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/DesmondHellmann.jpg" alt="" /></div>
        <div class="sidenavtype"><strong>Sue Desmond-Hellmann, MD, MPH</strong></div>
        <div>
          A UCSF alumna, Desmond-Hellmann served as the university's ninth chancellor and the first woman to hold that post. During her tenure, she co-led a National Academy of Sciences Committee that recommended the creation of an extensive data network to revolutionize medical discovery, diagnosis and treatment, coining the term “precision medicine.” 
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/e46abcc2.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Emma O. Dong  (Chong), MD</strong></div>
        <div>
          The world’s first Chinese woman ophthalmic surgeon, she earned her UCSF medical degree in 1939 and was the first woman accepted to the residency program in the Department of Ophthalmology.
        </div>
        </div>

        <div class="entry-150w" style="min-height: 0"><!-- <div class="small_thumb"><img src="images/pictures/IMGFILENAME" alt="" /></div> -->
        <div class="sidenavtype"><strong>Laura Esserman, MD, MBA</strong></div>
        <div>
          Esserman's breast cancer research, she says, "spans the spectrum from public policy issues to basic science and the impact of both on the delivery of clinical care." The Director of the Breast Care Center and the Clinical Leader of the NCI-designated Breast Oncology Program. she was named one of TIME's 100 Most Influential People in the World in 2016.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/Estes.jpg" alt="" /></div>
        <div class="sidenavtype"><strong>Carroll Estes, PhD, FAAN</strong></div>
        <div>
          A founding scholar and policymaker in the field of “political economy of aging," Estes also launched the Aging Health Policy Center at UCSF, which later became the Institute for Health and Aging.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/2e825c10.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Ella Mae Ferneil, RN</strong></div>
        <div>
          Working against discriminatory hiring practices, Ferneil moved to the Bay Area after World War II and became the first African American registered nurse, public health nurse, visiting nurse, and school nurse in the state of California.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/f5162ad8.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Julie Gerberding, MD, MPH</strong></div>
        <div>
          A former associate professor of medicine at UCSF and physician at San Francisco General Hospital, Gerberding in 2002 became the first female director of the Centers for Disease Control and Prevention.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/f810238e.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Kathy Giacomini, PhD</strong></div>
        <div>
          Giacomini's research into membrane transporters has had profound implications for drug delivery and response. One of her team's goals is improving drug design for patients who do not respond to standard treatments.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/51e440b6.png" alt="" /></div>
        <div class="sidenavtype"><strong>Sarah Gomez Erlach, RN</strong></div>
        <div>
          Gomez Erlach was a UCSF School of Nursing alumna who developed public health services for migrant farm workers in California. Her advocacy led to the development of primary care in the state, with a focus on community participation. During World War II, she helped establish medical-nursing care services for nine reserve hospitals and was later chief nurse of two army hospitals in Oakland and the Presidio.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/9ec42687.png" alt="" /></div>
        <div class="sidenavtype"><strong>Deborah Greenspan, DSc, BDS</strong></div>
        <div>
          Greenspan's research Identified oral lesions as one of the first signs of AIDS, a breakthrough in the oral aspects of AIDS and the role of viruses in oral lesions. She is Clinical Director of UCSF's Oral AIDS Center and Chair of the Department of Orofacial Sciences at the School of Dentistry.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/dfb502e1.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Victoria Hale, PhD</strong></div>
        <div>
          Hale is a School of Pharmacy alumnus in pharmaceutical chemistry. She is founder and CEO of One World Health, the first non-profit pharmaceutical company in the U.S. Its purpose is to develop affordable medicines for people in the developing world. Her work led to her being named a MacArthur Fellow in 2006.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/Diane_Havlir_29megs_By+Marco+S-2442614729-O.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Diane Havlir, MD</strong></div>
        <div>
          A UCSF resident alumna, she co-authored the “Washington D.C. Declaration,” a nine-point plan to end the AIDS epidemic. In 2013, she co-founded San Francisco’s Getting to Zero Coalition, which aims to help the city reach zero new HIV infections, zero stigma, and zero deaths by 2020.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/dc74a0bf.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Dorothy Horstmann, MD</strong></div>
        <div>
          Horstmann earned her medical degree from UCSF in 1940. She went on to become the first woman appointed as a professor at the Yale School of Medicine. Her research on the spread of poliovirus in the bloodstream helped in the development of the polio vaccine.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/dc7dde16.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Nola Hylton, PhD</strong></div>
        <div>
          Hylton pioneered using MRI for the detection, diagnosis, and staging of breast cancer. A leader in the field of breast MRI, she is a Professor in Residence in UCSF's Department of Radiology and Biomedical Imaging, and Director of the Breast Imaging Research Group.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/0b84590f.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Cynthia Kenyon, PhD</strong></div>
        <div>
          An authority on the science of aging, molecular biologist Kenyon's research into longevity discovered genes that doubled the lifespan of the roundworm C. elegans. She is now the director of the Hillblom Center for the Biology of Aging at UCSF.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/MaryAnneKoda-Kimblepreferred.jpg" alt="" /></div>
        <div class="sidenavtype"><strong>Mary Anne Koda-Kimble, PharmD</strong></div>
        <div>
          A UCSF alumna and author, Koda-Kimble was the first female dean of the School of Pharmacy. During her tenure, she increased the school's faculty by more than 25 percent and increased funding from the National Institutes of Health from $4 million to $27 million per year.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/c39a33eb.png" alt="" /></div>
        <div class="sidenavtype"><strong>Lucile Petry Leone</strong></div>
        <div>
          A School of Nursing professor emerita who was the founding director of the Cadet Nurse Corps, Leone's organization supported the U.S. Armed Forces in World War II. She was also the first woman — and the first nurse — to serve as the U.S. assistant surgeon general.
        </div>
        </div>
       
        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/6d08a39a.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Joanne Lewis</strong></div>
        <div>
          A co-founder of the UCSF Black Caucus, Lewis was also California’s first director of Fair Employment and Housing in the administration of Governor Jerry Brown. In 1998, she received the UCSF Medal, the university's highest award.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/599a8441.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Marilyn Reed Lucia, MD</strong></div>
        <div>
          Lucia was the first woman division chief in a medical department at UCSF: In 1985 she was named chief of the Division of Pediatric Immunology and Rheumatology. She also served as the first chair of the Chancellor’s Advisory Committee on Child Care. Her groundbreaking work led to the development of the statewide University of California child care system.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/88f194c0.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Tippi MacKenzie, MD</strong></div>
        <div>
          MacKenzie's research focuses on treating fetal conditions before birth. She led the world’s first clinical trial using blood stem cells transplanted prior to birth, leading to the successful live birth of an infant with a normally fatal condition called alpha thalassemia.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/374cd95a.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Gail Martin, PhD</strong></div>
        <div>
          Martin was one of the co-discoverers of embryonic stem cells in mice (for which she coined the term "embryonic stem cells"). Her research laid the groundwork for worldwide research on human embryonic stem cells to treat disease. 
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/1a7f6b36.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Christine Miaskowski, RN, PhD, FAAN</strong></div>
        <div>
          An expert on chronic pain as a condition rather than just a symptom, Miaskowski helped develop improved pain-management strategies. She was also the first nurse scientist to be named an American Cancer Society Clinical Research Professor.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/77559332.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Nancy Milliken, MD & Rita Redberg, MD, MS</strong></div>
        <div>
          Milliken, an expert on reproductive health, is founding director of the National Center of Excellence on Women's Health. Redberg, a cardiologist, studies the regulatory process for medical devices and is Editor-in-Chief of JAMA Internal Medicine.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/1f65e983.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Ulrike Muench, RN, PhD, FAAN</strong></div>
        <div>
          A School of Nursing faculty member who was the first to publish a study illuminating the pay gap between male and female RNs.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/renee-navarro.jpg" alt="" /></div>
        <div class="sidenavtype"><strong>Renee Navarro, MD, PharmD</strong></div>
        <div>
          The first vice chancellor of Diversity and Outreach at UCSF and first UCSF Director of Academic Diversity, Navarro led the development of the university's diversity initiatives. She also served as perioperative medical director and chief of staff at San Francisco General Hospital.
        </div>
        </div>

        <div class="entry-150w" style="min-height:0"><!-- <div class="small_thumb"><img src="images/pictures/IMGFILENAME" alt="" /></div> -->
        <div class="sidenavtype"><strong>Virginia Olesen, PhD</strong></div>
        <div>
          Oleson's groundbreaking research on the importance of gender-based health care was instrumental in shaping the field of women's health. Her sociological work focused on gender issues, nursing, and the "gig economy" decades before it became a mainstream issue.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/214cbceb.png" alt="" /></div>
        <div class="sidenavtype"><strong>Mary Olney, MD</strong></div>
        <div>
          Olney was a female pediatrician, social advocate, and co-creator and director of the Diabetic Youth Foundation (DYF) and its summer camps for diabetic children. She founded Camp Whitaker and Bearskin Meadow Camp, wilderness camps in California for children with diabetes.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/6542ad6f.png" alt="" /></div>
        <div class="sidenavtype"><strong>Jacquelin Perry, MD</strong></div>
        <div>
          A polio specialist and pioneer in the field of orthopedic surgery, Perry was one of the first 10 women orthopedic surgeons in the country. She was the first woman to graduate from the UCSF Orthopaedic Surgery Residency Program in 1954. In 1966, she was one of 35 spine specialists, and the only woman, to establish the Scoliosis Research Society. 
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/75abf6a7.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Jennifer Puck, MD</strong></div>
        <div>
          An authority in the field of immunology, Puck 's research into human immune disorders led to the development of a newborn screening test for severe combined immunodeficiency (SCID). She directs the UCSF Jeffrey Modell Diagnostic Center for Primary Immunodeficiencies.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/0c35815b.png" alt="" /></div>
        <div class="sidenavtype"><strong>Dorothy Rice</strong></div>
        <div>
          A School of Nursing professor emerita, Rice was a pioneer in health economics and statistics whose work led to the creation of Medicare. As director of the National Center for Health Statistics, she also created the National Death Index.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/b2944468.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Shane Snowdon, MA</strong></div>
        <div>
          In 1999, Snowdon founded and led the Center for LGBT Health and Equity at UCSF, for 14 years the nation’s only LGBT office in a health care or health education setting. She also helped develop Human Rights Campaign’s Healthcare Equality Index (HEI), the annual U.S. hospital “scorecard," now used annually by nearly 700 hospitals nationwide to measure how well they are serving LGBT people.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/57c6bb11.png" alt="" /></div>
        <div class="sidenavtype"><strong>Florence Stroud, RN</strong></div>
        <div>
          Stroud was the first African American to serve as health director for Berkeley. A former UCSF professor, she authored guidelines concerning the prevention of prenatal transmission of HIV and the care of mothers and children infected with AIDS.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/styles.jpg" alt="" /></div>
        <div class="sidenavtype"><strong>Margretta Madden Styles, RN, EdD, FAAN</strong></div>
        <div>
          Styles conceived and helped establish the national standards for certifying and credentialing nurses in pediatrics, cardiology, and other specialties. She held numerous leadership positions as well, including dean and professor of the School of Nursing, past president of the American Nurses Association, and the first American to serve as president of the International Council of Nurses.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/150ff69c.png" alt="" /></div>
        <div class="sidenavtype"><strong>Lucy Field Wanzer, MD</strong></div>
        <div>
          A pioneer for women in medicine, in 1876 she became the first female graduate of the Medical Department of the University of California, which later became UCSF.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/mss200915_12_19_wara_crop.png" alt="" /></div>
        <div class="sidenavtype"><strong>Diane Wara, MD</strong></div>
        <div>
          Wara was the first associate dean for women’s affairs at any medical school, and the first woman fellow in allergy-immunology at UCSF. In the early 1980s she was on the team that first identified HIV-positive babies.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/35ec0c14.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Mabel Weed</strong></div>
        <div>
          A social worker and pioneering public-health nurse, she worked with many social-welfare organizations in the Bay Area. With Berta Wright, she founded Children’s Hospital Oakland, which is now UCSF Benioff Children's Hospital Oakland.
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/60a668e4.png" alt="" /></div>
        <div class="sidenavtype"><strong>Constance (Connie) Wofsy, MD</strong></div>
        <div>
          A leader in the fight against HIV/AIDS, Wofsy was co-founder of the first-in-the-country outpatient clinic for AIDS patients at San Francisco General Hospital. The UCSF professor of medicine also created a program to train AIDS caregivers around the world. 
        </div>
        </div>

        <div class="entry-150w"><div class="small_thumb"><img src="images/pictures/12b6cbf6.jpeg" alt="" /></div>
        <div class="sidenavtype"><strong>Berta Wright</strong></div>
        <div>
          A nursing pioneer who treated patients in a tent in Golden Gate Park after the 1906 San Francisco earthquake, Wright was the first school nurse in Alameda County, and the first Alameda County public health nurse. With Mabel Weed, she founded Children's Hospital Oakland, which is now UCSF Benioff Children's Hospital Oakland.
        </div>
        </div>

      </div>
    </div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
