---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>1868-1898 - Creating a UC Dental Department  - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|PT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>

</div>
<div id="insidebody">
<div id="insidecopy">
{% include nav.html %}
<div id="insidecopy_text">

  <h2 class="title">
    <span class="title-primary">1868&ndash;1898</span> The Origins of the University of California and Affiiated Colleges
  </h2>
<div id="subhead">Creating a UC Dental Department </div><br/>
<div id="quote">
<div id="quote_top"></div>
<div id="quote_middle"><span class="main_nav_text">“We need a college of dentistry on this coast and if we have not a necessary talent among ourselves, we can import it. We owe those who take our places, greater facilities for study and professional breadth than the times have afforded us. The future will demand men educated in all that constitutes the scholar and professional man, and refined in all that makes the gentleman.” </span><br />
  Dr. CC Knowles, June 26, 1870</div>
<div id="quote_bottom"></div>
</div><br/>
The same impulse that prompted physicians and pharmacists to organize, standardize, and regulate their professions motivated a group of the city’s leading dentists to call for creation of a professional dental school. S.W. Dennis, M.D., D.D.S., was typical of this group of early organizers. He had graduated from the medical department of the University of Pennsylvania, received an honorary D.D.S. degree from the Indiana Dental College, and began practice in San Francisco after studying with a local dentist. In the midst of general lobbying for a school of dentistry, Dr. Dennis contacted colleagues at Harvard and the University of Pennsylvania to help plan for a dental college in San Francisco.
<br/>
<br/>
<div id="thumb3"><a href="1868_photo14.html"><img src="images/story_thumbnails/Dennis.jpg" width="150" height="200" border="0" /></a>
<div id="caption3">S. W. Dennis, M.D., DDS. </div>
</div>In the late nineteenth century, dentistry was regarded as a recently separated area of medical specialization. Many dentists had M.D. degrees in addition to their dental training and most agreed that dental education should be closely linked to the medical curriculum, especially with respect to the teaching of anatomy and pathology. They desired university affiliation and they worked in close conjunction with the faculty of the Medical Department. On May 28, 1881, the medical faculty formally proposed the creation of an affiliated Dental Department to the UC Regents, using the affiliation of the medical and pharmacy departments as precedent.  Part of their appeal included their promise of free lecture and clinic space for dental students at the Toland Medical College building.
<br/><br/>
The Regents responded favorably, and in September of 1881 they established a Dental College to be organized with seven professors, nine instructors and four demonstrators. The eight members of the Dental Class of 1882 took courses of instruction in anatomy, physiology, chemistry and surgery alongside medical students in the Toland Medical College building at the corner of Stockton and Francisco Streets. A dental clinic was also located there and dental students were invited to attend selected bedside teaching clinics given by the medical faculty. While the UC Dental Department was not the only dental school to be organized in San Francisco, its founding in the context of the state university placed it in the forefront of academic schools in the West.
<br/><br/>
<div id="thumb3"><a href="1868_photo15.html"><img src="images/story_thumbnails/toland_hall_students_large.jpg" width="150" height="200" border="0" /></a>
<div id="caption3">Toland Medical Building was the site of science instruction for the College of Pharmacy (in 1875-1876) and Dentistry (1882-1891) as well as the Medical School (1864-1898) </div></div>Thus by 1882 the University of California had three affiliated colleges in San Francisco. Faculty salaries were paid by tuition and fees and the individual schools retained control over choice of faculty, but the Toland Medical College building was officially made the property of the university, and graduates of the schools wore university gowns at graduation. From the beginnings of affiliation, reciprocity in course offerings and programs was a feature of the three colleges: medical and dental students took anatomy and physiology side-by side, and all three schools allowed their graduates to expand their careers by matriculating in the other schools, with course credit allowed.
<br/>
<br/>
<a href="1868_nurses.html" class="bodylink">>> Trained Nurses for San Francisco</a><br/>
<br/><br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
<div id="sidenav_subnav_header"><strong>THE STORY</strong></div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_header"><strong>1868-1898</strong></div>
      <div id="sidenav_subnav_links">
      <strong><a href="story.html" class="sidenav_subnav_type">Introduction</a></strong><br />
        <br />
      <strong><a href="1868_goldrush.html" class="sidenav_subnav_type">Prelude: The California Gold Rush</a></strong><br />
        <br />
        <strong><a href="1868_hospitals.html" class="sidenav_subnav_type">San Francisco’s First Medical Institutions: Hospitals and Pesthouses</a></strong><br />
        <br />
        <strong><a href="1868_pharmaceutical.html" class="sidenav_subnav_type">California Pharmaceutical Society</a></strong><br />
        <br />
        <strong><a href="1868_dental.html" class="sidenav_subnav_type_visited">Creating a UC Dental Department </a></strong><br />
        <br />
        <strong><a href="1868_nurses.html" class="sidenav_subnav_type">Trained Nurses for San Francisco </a></strong><br />
        <br />
        <strong><a href="1868_colleges.html" class="sidenav_subnav_type">Growth of the Affiliated Colleges</a> </strong><br />
        <br />
        <strong><a href="1868_parnassus.html" class="sidenav_subnav_type">Building the Parnassus Campus </a></strong></div>
    </div>
  <div id="sidenavtype">
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
