---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Photo - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all">
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <h3 aria-hidden="true">Dentistry clinic, 1940</h3>
<img src="images/pictures/dental_clinic_1940.jpg" alt="Dentistry clinic, 1940"><br><div class="caption2">Dentistry clinics on the top floor of the UC Clinics Building</div>
     <br>
<br>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br><br>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br>
  <br>
  <div id="sidenav_subnav_header"><a href="photos.html" class="sidenavtype sidenav_subnav_type_visited">PHOTOS</a></div>
  <br>
  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a><br>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
