---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>1959-1989 - Planning the Future - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body onload="document.forms['cse-search-box'].elements['q'].focus();">
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator"><a href="index.html" id="rotator_home_link"></a>
<div id="nav2">
<ul id="main_nav"  >
<li><a href="story.html" class="main_nav_text"><strong>1868 - 1898</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1899.html" class="main_nav_text"><strong>1899 - 1918</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1919.html" class="main_nav_text"><strong>1919 - 1939</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1940.html" class="main_nav_text"><strong>1940 - 1958</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1959.html" class="main_nav_text_visited"><strong>1959 - 1989</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1990.html" class="main_nav_text"><strong>1990 - 2000</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="2000.html" class="main_nav_text"><strong>2000</strong>+</a></li>
</ul>
</div>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text">
<img src="images/titles/1959.jpg" alt="1959 - 1989 Modernization and Graduate Expansion at UCSF" width="501" height="111" />
   <div id="subhead">Planning the Future</div>
In 1987 chancellor Julius Krevans formed the Faculty Committee on the Future of UCSF consisting of members elected by the schools’ and Graduate Division’s deans. The committee reviewed programmatic goals, involving existing and new academic programs, and considered issues surrounding the development of the campus and future space needs. The committee identified six programmatic goals that would begin to shape the future of the curriculum and strengthen research collaborations. The areas were:
   <ol>
     <li>To develop interdisciplinary clinical research with close ties to the basic sciences </li>
     <li>    To consolidate and expand social and behavioral sciences </li>
     <li>To develop shared facilities involving the application of large instruments for structural biology groups </li>
     <li>To consider the possibility of creating advanced undergraduate programs in the health sciences</li>
     <li>To promote interactions with biotechnology and other relevant health-related disciplines in the industrial sector </li>
     <li>To develop programs to conquer AIDS and other diseases caused by retroviruses </li>
     </ol>
   <p>The future space requirements for the campus were identified as requiring action along the following lines: </p>
   <ol>
     <li>To develop Laurel Heights as a vital academic center </li>
     <li>To acquire 50-100 acres to develop as a major campus site to preserve options for the future </li>
     <li>To acquire additional clinical facilities to free up clinical space immediately with no net increase of beds in the community </li>
     <li>To maximize utilization of Parnassus Heights space resources by scrutinizing existing space use and programs, renovate, and build new research space <br/>
       </li>
     </ol>
   <p>A number of these goals have been met over the past twenty years. As the campus continues to grow—developing into new spaces at Mission Bay, integrating teaching in the Social and Behavioral Sciences and Medical Humanities within the core curricula and graduate instruction, promoting bioentrepreneurship and biotechnological advancement, and continuing to receive outstanding support for research in all areas of the health sciences—UCSF will have exceeded these goals and will be moving forward to reach its new mission: “advancing health worldwide.” A summary of some of the achievements and innovations post-1989 is provided in the final section of this history.
   </p>
   <br/><br/>
<a href="1990.html" class="bodylink">>> 1990-2000</a><br/>
<br/><br/>
   </div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
<div id="sidenav_subnav_header"><strong>THE STORY</strong></div>
 <div id="sidenav_subnav">
      <div id="sidenav_subnav_header"><strong>1959 - 1989</strong></div>
      <div id="sidenav_subnav_links">
      <strong><a href="1959.html" class="sidenav_subnav_type">An Emerging Identity for the Health Sciences Campus</a></strong><br />
        <br />
        <strong><a href="1959_medical_center.html" class="sidenav_subnav_type">Modernizing UC Medical Center</a></strong><br />
        <br />
        <strong><a href="1959_buildings.html" class="sidenav_subnav_type">Updates to Campus Buildings</a></strong><br />
        <br />
        <strong><a href="1959_graduate_division.html" class="sidenav_subnav_type">The Formation of the Graduate Division</a></strong><br />
        <br />
        <strong><a href="1959_education.html" class="sidenav_subnav_type">Innovations in Professional Education</a></strong><br />
        <br />
        <strong><a href="1959_research.html" class="sidenav_subnav_type">Innovations in Research</a></strong><br />
        <br />
        <strong><a href="1959_future.html" class="sidenav_subnav_type_visited">Planning the Future</a> </strong></div>
    </div>
    <div id="sidenavtype"><br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
</body>
</html>
