---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>1990-2009 - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>

</div>
<div id="insidebody">
<div id="insidecopy">
{% include nav.html %}
<div id="insidecopy_text">
  <h2 class="title">
    <span class="title-primary">1990&ndash;2009</span>
  </h2>
<div ><a href="1959_photo25.html"><img src="images/story_thumbnails/aerial-view-1988.jpg" width="200" height="150" border="0" /></a>
  <div id="caption2">UCSF, aerial view, 1988</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1990</strong></div>
<div class="dates_body">
UCSF acquires Mount Zion Hospital.  </div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1990</strong></div>
<div class="dates_body">Construction begins on Gladstone Institute of Virology and Immunology at SFGH.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1990</strong></div>
<div class="dates_body">UCSF receives $3 million to establish the W.M. Keck Foundation Center for Integrative Neuroscience.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1991</strong></div>
<div class="dates_body">Millie-Hughes Fulford, UCSF research scientist, becomes part of space shuttle Columbia crew that conducts experiments on bone density loss.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1991</strong></div>
<div class="dates_body">School of Nursing introduces the Master’s Entry Program in Nursing (MEPN).</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1991</strong></div>
<div class="dates_body">School of Nursing establishes the Research Center for Symptom Management.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1991</strong></div>
<div class="dates_body">School of Dentistry establishes the NIH Pain Research Center within the department of oral and maxillofacial surgery.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1992</strong></div>
<div class="dates_body">DNSc degree program in the School of Nursing closes admissions; PhD remains the only doctoral program.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1993</strong></div>
<div class="dates_body">Gladstone Institute of Virology opens at SFGH.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1994</strong></div>
<div class="dates_body">Valencia Pediatric Practice, later renamed with expanded services, Valencia Health Services, sponsored by the School of Nursing.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1995</strong></div>
<div class="dates_body">Completion of ground floor classrooms, part of campus education center re-development, and enhanced mezzanine commons and café space in the School of Nursing building.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1995</strong></div>
<div class="dates_body">School of Pharmacy establishes the San Francisco Branch of the United States Cochrane Center.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1996</strong></div>
<div class="dates_body">Graduate Division combines Ph.D. programs in Anatomy, Endocrinology, Experimental Pathology, and Physiology to form a new Graduate Group and Ph.D. program in Biomedical Sciences.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1997</strong></div>
<div class="dates_body">Stanley Prusiner wins Nobel Prize in Physiology or Medicine for his discovery of prions.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1997</strong></div>
<div class="dates_body">UC Regents approve Mission Bay as the site for UCSF’s new campus and enter into an agreement with Catellus Development Corporation and the City and County of San Francisco for the donation of 43 acres of property in Mission Bay.  The Mission Bay campus allows UCSF to double its research space, speed the pace of biomedical discovery, and help prepare a new generation of students.  Phase 1 construction of $800 million included four research buildings, a campus community center, a student housing complex, two parking structures, and development of large open space.  By 2006, about 1400 faculty, students, scholars and staff are located at the UCSF Mission Bay campus. At full build-out, 9,100 people are expected to work and study there.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1997</strong></div>
<div class="dates_body">School of Pharmacy develops and establishes the California Poison Control System, a system for providing uniform poison services for the entire state via satellite centers at four locations throughout the State.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1997</strong></div>
<div class="dates_body">UCSF Medical Center merges with Stanford Health Services to become UCSF Stanford Health Care. The merger is ultimately deemed unsuccessful and the 2 institutions de-merge in 2000.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1997</strong></div>
<div class="dates_body">Glide Memorial Clinic, as a joint project of the School of Nursing and Catholic Healthcare West, begins operation.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1998</strong></div>
<div class="dates_body">School of Dentistry creates Post-Baccalaureate Program, aimed at preparing disadvantaged students for entry into oral health care higher education.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1998</strong></div>
<div class="dates_body">School of Pharmacy leads in the creation of three new cross-campus PhD programs: Biological and Medical Informatics, Pharmaceutical Sciences and Pharmacogenomics, and, with the School of Medicine, Chemistry and Chemical Biology.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1998</strong></div>
<div class="dates_body">School of Pharmacy radically alters its Doctor of Pharmacy curriculum to establish innovative specialty pathways (Pharmaceutical Care, Pharmaceutical Health Policy and Management, Pharmaceutical Sciences).</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1999</strong></div>
<div class="dates_body">School of Dentistry completes modernization of all its Predoctoral Clinics.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>1999</strong></div>
<div class="dates_body">School of Nursing ranks first among nursing schools in NIH funding.</div>
</div>
<div class="dates">
<div class="dates_text">
<strong>2000</strong></div>
<div class="dates_body">De-merger of the UCSF Stanford Health Care.</div>
</div>
 <div class="dates">
            <div class="dates_text">
              <strong>2000</strong>
            </div>
            <div class="dates_body">School of Medicine radically redesigns the core curriculum to promote integration of disciplines, bringing cultural, social, and behavioral factors into the teaching of biomedical and clinical issues.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2000</strong>
            </div>
            <div class="dates_body">School of Pharmacy establishes the Center for Consumer Self Care.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2000</strong>
            </div>
            <div class="dates_body">Ph.D. program in Chemistry and Chemical Biology is established in the Graduate Division.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2001</strong>
            </div>
            <div class="dates_body">The newly created International Dentist Program enrolls its first class of students.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2001</strong>
            </div>
            <div class="dates_body">The Ph.D. program in Pharmaceutical Sciences and Pharmacogenomics is established.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2002</strong>
            </div>
            <div class="dates_body">The Master’s of Advanced Studies degree (MAS) in Clinical Research is established in the Graduate Division.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2002</strong>
            </div>
            <div class="dates_body">School of Pharmacy establishes satellite clinical teaching programs in Fresno and South Bay.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2003</strong>
            </div>
            <div class="dates_body">Genentech Hall opens at the Mission Bay campus.  With more than 400,000 gross square feet, it houses programs in structural and chemical biology and molecular cell and developmental biology, the Molecular Design Institute, the Center for Advanced Technology, a library, an auditorium, and commercial space. </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2004</strong>
            </div>
            <div class="dates_body">Arthur and Toni Rembe Rock Hall opens at the Mission Bay campus.  It houses programs in human genetics, developmental biology, developmental neuroscience, and the Center for Brain Development.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2004</strong>
            </div>
            <div class="dates_body">Revised curriculum implemented for the School of Dentistry, creating new interdepartmental courses developed around five thematic streams that emphasize and reinforce the integration of basic sciences and clinical sciences in dental education.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2004</strong>
            </div>
            <div class="dates_body">Graduate Division establishes joint UCSF/San Francisco State University Doctorate in Physical Therapy (DPT).
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2005</strong>
            </div>
            <div class="dates_body">Byers Hall, The California Institute for Quantitative Biosciences (QB3) opens as the home for the California Institute of Science and Innovation (Cal ISI) at the Mission Bay campus.  This is the headquarters for the Institute, which is a partnership with UC Berkeley and UC Santa Cruz. QB3 is one of the four California Institutes for Science and Innovation, developed at the initiative of Governor Grey Davis, and the only one focused on biomedical research to advance human health. Research here is intensely computational, integrating physical, mathematical and engineering sciences to tackle the complexities of genomics, proteomics, protein folding and interactions, and developing imaging systems of unprecedented power and resolution for diagnosis and treatment of disease. </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2006</strong>
            </div>
            <div class="dates_body">Elizabeth Blackburn wins Albert Lasker Award for Medical Research for the prediction and discovery of the telomerase enzyme -- which plays a key role in cell aging and human cancer.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2006</strong>
            </div>
            <div class="dates_body">UCSF establishes Clinical and Translational Science Institute as largest recipient of NIH Clinical and Translational Science Awards.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2006</strong>
            </div>
            <div class="dates_body">Helen Diller Family Cancer Research Building breaks ground on the Mission Bay campus.  It will contain research and development programs in neurological surgery, urology and cancer research. </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2006</strong>
            </div>
            <div class="dates_body">Graduate Division establishes Ph.D. program in Developmental Biology.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2006</strong>
            </div>
            <div class="dates_body">UCSF Certificate Program in Global Health Sciences is approved by Graduate Council.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2006</strong>
            </div>
            <div class="dates_body">The Schools of Dentistry, Pharmacy, Nursing, Medicine and the Graduate Division offer the first inter-disciplinary class for all enrolled students.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2007</strong>
            </div>
            <div class="dates_body">School of Medicine expands enrollment for first time in three decades with launch of the Program in Medical Education for the Urban Underserved (PRIME-US,) aimed at educating and inspiring new physicians to address health disparities.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2008</strong>
            </div>
            <div class="dates_body">UCSF breaks ground on new building at Parnassus to house Institute for Regeneration Medicine, to be home for 25 stem cell and regeneration medicine researchers.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2008</strong>
            </div>
            <div class="dates_body">School of Medicine establishes new academic Department of Emergency Medicine.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2008</strong>
            </div>
            <div class="dates_body">Graduate Division establishes Master's of Science in Global Health Sciences.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2008</strong>
            </div>
            <div class="dates_body">School of Pharmacy and School of Medicine establish a joint department:  Bioengineering and Therapeutic Sciences.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2009</strong>
            </div>
            <div class="dates_body">Susan Desmond-Hellman, MD, MPH becomes UCSF's 9th Chancellor and the first woman to serve in this position.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2009</strong>
            </div>
            <div class="dates_body">Elizabeth Blackburn, PhD, becomes UCSF's fourth scientist to recieve the Nobel Prize in Physiology or Medicine for her co-discovery of telomerase.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2009</strong>
            </div>
            <div class="dates_body">Shinya Yamanaka, MD, PhD, UCSF Professor of Anatomy, receives the Albert Lasker Basic Medical Research Award for his stem cell discoveries .
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2009</strong>
            </div>
            <div class="dates_body">The University of California becomes the first public university in California to provide honorary degrees to Japanese Americans and Japanese nationals whose educations were interrupted when they were sent to internment camps during World War II.
            </div>
          </div>


<br/>
 <div id="subhead2">Leadership</div>
 <strong>UCSF Chancellors:   </strong><br />
   -
   Julius R. Krevans (1982-1993)
   <br />
   -
   Joseph B. Martin (1993-1997)
   <br />
   -
   Haile T. Debas (1997-1998)
   <br />
   -
   J. Michael Bishop (1998-2009)


 <p> <strong>Deans (Dentistry):
   </strong><br />
   -
   John C. Greene (1981-1994)<br />
   -
   Karin Vargervick, Interim (1994-1995)
   <br />
   -
   Charles N. Bertolami (1995-2007)</p>


 <p><strong>Deans (Graduate Division)
   </strong><br />
   -
   Lloyd Kozloff, PhD (1981-1991)
   <br />
   -
   C. Clifford Attkisson, Ph.D., Interim (1991-1992); Dean and Associate Vice Chancellor of Student Academic Affairs (1992-2005)<br />
   -   Patricia Calarco, Ph.D., Interim (2005-2007); Dean (2007-2011)</p>


 <p><strong>Deans (Medicine):
   </strong><br />
   -
   Joseph Martin (1989-1993)
   <br />
   -
   Haile Debas (1993-2003)<br />
   - David      Kessler (2003-2007)<br />
          - Samuel Hawgood, Interim (2007-2009); Dean (2009-present)</p>


 <p><strong>Deans (Nursing):
   </strong><br />
   -
   Jane S. Norbeck: (1989-1999)
   <br />
   -
   Kathleen Dracup (2000-2010)</p>


 <p> <strong>Deans (Pharmacy):</strong><br />
   -
   Jere E. Goyan (1967-1992)
     <br />
     -
     George L. Kenyon (1993-1998)
     <br />
     -
     Mary Anne Koda-Kimble (1998-2012)</p>


 <p><strong>Directors (Medical Center)</strong><br />
   -
   William B. Kerr (1977-2000)<br/>-  Mark R. Laret (2001-Present)</p>

   <br/>
<a href="2010.html" class="bodylink">>> 2010+</a><br/>
<br/><br/>
 </p>
 </p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
<div id="sidenav_subnav_header"><strong>THE STORY</strong></div>
    <div id="sidenavtype"><br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
