---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>1990-2000 - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body onload="document.forms['cse-search-box'].elements['q'].focus();">
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a>
<div id="nav2">
<ul id="main_nav"  >
<li><a href="story.html" class="main_nav_text"><strong>1868 - 1898</strong></a></li>
<li><img src="images/divider.jpg" /></li>
<li><a href="1899.html" class="main_nav_text"><strong>1899 - 1918</strong></a></li>
<li><img src="images/divider.jpg" /></li>
<li><a href="1919.html" class="main_nav_text"><strong>1919 - 1939</strong></a></li>
<li><img src="images/divider.jpg" /></li>
<li><a href="1940.html" class="main_nav_text"><strong>1940 - 1958</strong></a></li>
<li><img src="images/divider.jpg" /></li>
<li><a href="1959.html" class="main_nav_text"><strong>1959 - 1989</strong></a></li>
<li><img src="images/divider.jpg" /></li>
<li><a href="1990.html" class="main_nav_text_visited"><strong>1990 - 2000</strong></a></li>
<li><img src="images/divider.jpg" /></li>
<li><a href="2000.html" class="main_nav_text"><strong>2000</strong>+</a></li>
</ul>
</div>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text">
<img src="images/titles/1990.jpg" width="177" height="71" />
<div id="thumb2"><a href="1959_photo25.html"><img src="images/story_thumbnails/aerial-view-1988.jpg" width="200" height="150" border="0" /></a>
  <div id="caption2">UCSF, aerial view, 1988</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1990</strong></div>
<div id="dates_body">
UCSF acquires Mount Zion Hospital.  </div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1990</strong></div>
<div id="dates_body">Construction begins on Gladstone Institute of Virology and Immunology at SFGH.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1990</strong></div>
<div id="dates_body">UCSF receives $3 million to establish the W.M. Keck Foundation Center for Integrative Neuroscience.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1991</strong></div>
<div id="dates_body">Millie-Hughes Fulford, UCSF research scientist becomes part of space shuttle Columbia crew that conducts experiments on bone density loss.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1991</strong></div>
<div id="dates_body">School of Nursing introduces the Master’s Entry Program in Nursing (MEPN).</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1991</strong></div>
<div id="dates_body">School of Nursing establishes the Research Center for Symptom Management.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1991</strong></div>
<div id="dates_body">School of Dentistry establishes the NIH Pain Research Center within the department of oral and maxillofacial surgery.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1992</strong></div>
<div id="dates_body">DNSc degree program in the School of Nursing closes admissions; PhD remains the only doctoral program.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1993</strong></div>
<div id="dates_body">Gladstone Institute of Virology opens at SFGH.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1994</strong></div>
<div id="dates_body">Valencia Pediatric Practice, later renamed with expanded services, Valencia Health Services, sponsored by the School of Nursing.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1995</strong></div>
<div id="dates_body">Completion of ground floor classrooms, part of campus education center re-development, and enhanced mezzanine commons and café space in the School of Nursing building.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1995</strong></div>
<div id="dates_body">School of Pharmacy establishes the San Francisco Branch of the United States Cochrane Center.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1996</strong></div>
<div id="dates_body">Graduate Division combines Ph.D. programs in Anatomy, Endocrinology, Experimental Pathology, and Physiology to form a new Graduate Group and Ph.D. program in Biomedical Sciences.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1997</strong></div>
<div id="dates_body">Stanley Prusiner wins Nobel Prize in Physiology or Medicine for his discovery of prions.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1997</strong></div>
<div id="dates_body">UC Regents approve Mission Bay as the site for UCSF’s new campus and enter into an agreement with Catellus Development Corporation and the City and County of San Francisco for the donation of 43 acres of property in Mission Bay.  The Mission Bay campus allows UCSF to double its research space, speed the pace of biomedical discovery, and help prepare a new generation of students.  Phase 1 construction of $800 million included four research buildings, a campus community center, a student housing complex, two parking structures, and development of large open space.  By 2006, about 1400 faculty, students, scholars and staff are located at the UCSF Mission Bay campus. At full build-out, 9,100 people are expected to work and study there.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1997</strong></div>
<div id="dates_body">School of Pharmacy develops and establishes the California Poison Control System, a system for providing uniform poison services for the entire state via satellite centers at four locations throughout the State.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1997</strong></div>
<div id="dates_body">UCSF Medical Center merges with Stanford Health Services to become UCSF Stanford Health Care. The merger is ultimately deemed unsuccessful and the 2 institutions de-merge in 2000.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1997</strong></div>
<div id="dates_body">Glide Memorial Clinic, as a joint project of the School of Nursing and Catholic Healthcare West, begins operation.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1998</strong></div>
<div id="dates_body">School of Dentistry creates The Postbaccalaureate Program, aimed at preparing disadvantaged students for entry into oral health care higher education.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1998</strong></div>
<div id="dates_body">School of Pharmacy leads in the creation of three new cross-campus PhD programs: Biological and Medical Informatics, Pharmaceutical Sciences and Pharmacogenomics, and, with the School of Medicine, Chemistry and Chemical Biology.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1998</strong></div>
<div id="dates_body">School of Pharmacy radically alters its Doctor of Pharmacy curriculum to establish innovative specialty pathways (Pharmaceutical Care, Pharmaceutical Health Policy and Management, Pharmaceutical Sciences).</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1999</strong></div>
<div id="dates_body">School of Dentistry completes modernization of all its Predoctoral Clinics.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>1999</strong></div>
<div id="dates_body">School of Nursing ranks first among nursing schools in NIH funding.</div>
</div>
<div id="dates">
<div id="dates_text">
<strong>2000</strong></div>
<div id="dates_body">De-merger of the UCSF Stanford Health Care.</div>
</div> <br/>
 <div id="subhead2">Leadership</div>
 <strong>UCSF Chancellors:   </strong><br />
   -
   Julius R. Krevans (1982-1993)
   <br />
   -
   Joseph B. Martin (1993-1997)
   <br />
   -
   Haile T. Debas (1997-1998)
   <br />
   -
   J. Michael Bishop (1998-2009)<br />
   - Susan Desmond-Hellmann (2009-present)
 <p> <strong>Deans (Dentistry):
   </strong><br />
   -
   John C. Greene (1981-1994)<br />
   -
   Karin Vargervick, Interim (1994-1995)
   <br />
   -
   Charles N. Bertolami (1995-2007)<br />
   -
   John Featherstone (2007-present)   </p>
 <p><strong>Deans (Graduate Division)
   </strong><br />
   -
   Lloyd Kozloff, PhD (1981-1991)
   <br />
   -
   C. Clifford Attkisson, Ph.D., Interim (1991-1992); Dean and Associate Vice Chancellor of Student Academic Affairs (1992-2005)
   <br />
   -
   Patricia Calarco, Ph.D.,  Interim (2005-2007); Dean (2007-present)   </p>
 <p><strong>Deans (Medicine):
   </strong><br />
   -
   Joseph Martin (1989-1993)
   <br />
   -
   Haile Debas (1993-2003)
   <br />
   -
   David Kessler (2003-2007)
   <br />
   -
   Samuel Hawgood, Interim (2007-2009); Dean (2009-present)</p>
 <p><strong>Deans (Nursing):
   </strong><br />
   -
   Jane S. Norbeck: (1989-1999)
   <br />
   -
   Kathleen Dracup (2000-present)</p>
 <p> <strong>Deans (Pharmacy):</strong><br />
   -
   Jere E. Goyan (1967-1992)
     <br />
     -
     George L. Kenyon (1993-1998)
     <br />
     -
     Mary Anne Koda-Kimble (1998-present)</p>
 <p><strong>Directors (Medical Center)</strong><br />
   -
   William B. Kerr (1977-2000)
     <br />
     -
     Mark R. Laret (2001-Present) <br/><br/>
<a href="2000.html" class="bodylink">>> 2000+</a><br/>
<br/><br/>
 </p>
 </p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
<div id="sidenav_subnav_header"><strong>THE STORY</strong></div>
    <div id="sidenavtype"><br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
</body>
</html>
