---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>2010+ - A History of UCSF</title>
  <link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
  {% include google_analytics.html %}
</head>

<body>
  <div id="mainbody">
    {% include ucsf_banner.html %}
    <div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a>
      <div id="nav2">
        <ul id="main_nav"  >
          <li><a href="story.html" class="main_nav_text"><strong>1868 - 1898</strong></a></li>
          <li><img src="images/divider.jpg" alt="" /></li>
          <li><a href="1899.html" class="main_nav_text"><strong>1899 - 1918</strong></a></li>
          <li><img src="images/divider.jpg" alt="" /></li>
          <li><a href="1919.html" class="main_nav_text"><strong>1919 - 1939</strong></a></li>
          <li><img src="images/divider.jpg" alt="" /></li>
          <li><a href="1940.html" class="main_nav_text"><strong>1940 - 1958</strong></a></li>
          <li><img src="images/divider.jpg" alt="" /></li>
          <li><a href="1959.html" class="main_nav_text"><strong>1959 - 1989</strong></a></li>
          <li><img src="images/divider.jpg" alt="" /></li>
          <li><a href="1990.html" class="main_nav_text"><strong>1990 - 2009</strong></a></li>
          <li><img src="images/divider.jpg" alt="" /></li>
          <li><a href="2000.html" class="main_nav_text_visited"><strong>2010</strong>+</a></li>
        </ul>
      </div>
    </div>
    <div id="insidebody">
      <div id="insidecopy">
        <div id="insidecopy_text"><img src="images/titles/2010.jpg" width="177" height="71" alt="2000+" />
          <div id="thumb2"><a href="1959_photo26.html"><img src="images/story_thumbnails/2003-08-27-02a.jpg" width="200" height="150" border="0" alt="" /></a>
            <div id="caption2">UCSF Mission Bay campus, 2003. Photo by Majed.
            </div>
          </div>
                     <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">David Julius, PhD receives the 2010 Shaw Prize in Life Sciences and Medicine for his groundbreaking work on the sensation of touch.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">UCSF Nobel laureate Stanley B. Prusiner, MD, Professor of Neurology and director of the Institute for Neurodegenerative Diseases, receives the National Medal of Science for his discovery of and ongoing research on prions.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">UCSF breaks ground on the Benioff Children's Hospital, a state-of-the-art and sustainable medical center at Mission Bay that promises to transform care for women, children, and cancer patients.
            </div>
          </div>
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">UCSF opens the new Teaching and Learning Center, one of the nation's first inter-professional, team-based simulation learning centers, as part of the campus' ongoing efforts to foster collaboration and innovation among the health professions.
            </div>
          </div>




          <br/>
          <div id="subhead2">Leadership</div>
          <strong>UCSF Chancellors:   </strong><br />
          - Susan Desmond-Hellmann (2009-present)
          
          <p> <strong>Deans (Dentistry):
          </strong><br />         
          -
          John Featherstone (2007-present)&nbsp; </p>

          <p><strong>Deans (Graduate Division)
          </strong><br />
          -   Joseph Castro, Ph.D., Interim (2011-2012)<br />
          -   Elizabeth Watkins, Ph.D. (2012-present)</p>

          <p><strong>Deans (Medicine):
          </strong><br />
          - Samuel Hawgood, Interim (2007-2009); Dean (2009-present)</p>
          
          <p><strong>Deans (Nursing):
          </strong><br />
          -   Sally Rankin (Interim 2010-2011)<br/>
          - David Vlahov (2011-present)</p>
         
          <p> <strong>Deans (Pharmacy):</strong><br />
           -  Mary Anne Koda-Kimble (1998-2012)<br />
           -  B. Joseph Guglielmo, Jr., Interim (2012-2013); Dean (2013-present)</p>

           <p><strong>Directors (Medical Center)</strong><br />
             -  Mark R. Laret (2001-Present) <br />
             <br/>
           </p>
         </div>
       </div>
     </div>
     <div id="sidebar">
      <div id="sidenav_inside">{% include search_include.html %}<br />
        <div id="sidenav_subnav_header"><strong>THE STORY</strong>
        </div>
        <div id="sidenavtype"><br/>
          <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
          <br/>
          <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
          <br/>
          <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
          <br/>
          <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
          <br/>
          <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
        </div>
      </div>
    </div>
    <br class="clearit" />
    {% include footer.html %}
  </div>
  {% include bottom_js.html %}
</body>
</html>
