---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>2010+ - A History of UCSF</title>
  <link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
  {% include google_analytics.html %}
</head>

<body>
  <div id="mainbody">
    {% include ucsf_banner.html %}
    <div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a>
      {% include nav.html %}
    </div>
    <div id="insidebody">
      <div id="insidecopy">
        <div id="insidecopy_text"><img src="images/titles/2010.jpg" width="177" height="71" alt="2000+" />
          <div id="thumb2"><a href="1959_photo26.html"><img src="images/story_thumbnails/2003-08-27-02a.jpg" width="200" height="150" border="0" alt="" /></a>
            <div id="caption2">UCSF Mission Bay campus, 2003. Photo by Majed.
            </div>
          </div>
          
           <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">Opening of the Smith Cardiovascular Research Building, the new headquarters of the UCSF Cardiovascular Research Institute at Mission Bay. 
            </div>
          </div>
          
          
                     <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">David Julius, PhD receives the 2010 Shaw Prize in Life Sciences and Medicine for his groundbreaking work on the sensation of touch.
            </div>
          </div>
          
          
          
          <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">UCSF Nobel laureate Stanley B. Prusiner, MD, Professor of Neurology and director of the Institute for Neurodegenerative Diseases, receives the National Medal of Science for his discovery of and ongoing research on prions. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">UCSF breaks ground on the UCSF Medical Center at Mission Bay, a state-of-the-art and sustainable medical center that promises to transform care for women, children, and cancer patients. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2010</strong>
            </div>
            <div class="dates_body">San Francisco philanthropists Marc and Lynne Benioff announce the $100 million gift to help build a new home for UCSF Children's Hospital at Mission Bay. This contribution gave the children’s hospital its new name: UCSF Benioff Children's Hospital.
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">UCSF Medical Center opens robotic pharmacy believed to be the nation's most comprehensive facility using robotic technology and electronics to prepare and track medications with the goal of improving patient safety.
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">UCSF Chancellor Susan Desmond-Hellmann co-chairs a National Academy of Sciences Committee that recommended the creation of an extensive data network to revolutionize medical discovery, diagnosis and treatment, an emerging field called precision medicine.
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">Neil Risch and Pui-Yan Kwok lead effort to performed whole-genome genotyping of the DNA of 100,000 Kaiser Permanente members who agreed to take part in the nation’s largest and most diverse genomics project. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">Mount Zion celebrates 100 years since its founding. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">UCSF opens the new Teaching and Learning Center, one of the nation's first inter-professional, team-based simulation learning centers, as part of the campus' ongoing efforts to foster collaboration and innovation among the health professions. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2011</strong>
            </div>
            <div class="dates_body">UCSF celebrates the grand opening of the Eli and Edythe Broad Center of Regeneration Medicine and Stem Cell Research at UCSF, on the Parnassus campus. This unique structure serves as headquarters for a program that will continue to extend across all UCSF departments. The building is located near UCSF Medical Center, symbolizing UCSF’s long-term goal of translating basic science research findings into clinical treatments.
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2012</strong>
            </div>
            <div class="dates_body">Chief Nursing Officer Sheila Antrum and team at UCSF Medical Center and UCSF Benioff Children’s Hospital achieve Magnet recognition from the American Nurses Credentialing Center.  
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2012</strong>
            </div>
            <div class="dates_body">Shinya Yamanaka, a senior investigator at the Gladstone Institutes — which is affiliated with UCSF — wins the Nobel Prize in Medicine for his discovery of how to transform ordinary adult skin cells into cells that, like embryonic stem cells, are capable of developing into any cell in the human body. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2012</strong>
            </div>
            <div class="dates_body">UCSF becomes first UC campus to partner with Coursera to offer online courses. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2012</strong>
            </div>
            <div class="dates_body">UCSF Medical Center takes a major step in advancing patient-centered care though the successful implementation of APeX, one of the most comprehensive electronic health records systems in the U.S.
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2012</strong>
            </div>
            <div class="dates_body">UCSF opens a new Anatomy Learning Center, a state-of-the-art, technology-enabled, student-centered space for inerprofessional education and training located on the Parnassus campus. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2012</strong>
            </div>
            <div class="dates_body">Ron Vale wins the Albert Lasker Basic Medical Research Award for work beginning more than three decades ago, that has helped illuminate several critical aspects of life — how the heart beats and how cells transport material around internally. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2013</strong>
            </div>
            <div class="dates_body">UCSF celebrates groundbreaking for the new Global Health & Clinical Sciences Building, or Mission Hall at Mission Bay, which will bring together all the faculty, staff, and students involved in the University’s global health programs. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2013</strong>
            </div>
            <div class="dates_body">UCSF convenes more than 170 of the world’s foremost thinkers, creators, and innovators for the first-ever OME Precision Medicine Summit to identify new approaches to make medicine more predictive, preventive, and precise. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2013</strong>
            </div>
            <div class="dates_body">UCSF names Michael Blum director of the newly created Center for Digital Health Innovation to focus on transforming health care delivery and discovery in an era of individualized precision medicine. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2014</strong>
            </div>
            <div class="dates_body">UCSF Benioff Children’s Hospital and Children’s Hospital & Research Center Oakland affiliate, building on the hospitals’ mutual commitment to provide outstanding care to children in local communities, and advance medical discovery and treatment for the world. 
            </div>
          </div>
          
          <div class="dates">
            <div class="dates_text">
              <strong>2014</strong>
            </div>
            <div class="dates_body">UCSF celebrates its 150th anniversary with a series of events beginning in April with Founders Day and continuing through May 2015. 
            </div>
          </div>
          




          <br/>
          <div id="subhead2">Leadership</div>
          <strong>UCSF Chancellors:   </strong><br />
          - Susan Desmond-Hellmann (2009-2014)<br />
          - Sam Hawgood (2014-present) <br />

          <p> <strong>Deans (Dentistry):
          </strong><br />
          -
          John Featherstone (2007-present)&nbsp; </p>

          <p><strong>Deans (Graduate Division)
          </strong><br />
          -   Joseph Castro, Ph.D., Interim (2011-2012)<br />
          -   Elizabeth Watkins, Ph.D. (2012-present)</p>

          <p><strong>Deans (Medicine):
          </strong><br />
          - Samuel Hawgood, Interim (2007-2009); Dean (2009-present)</p>

          <p><strong>Deans (Nursing):
          </strong><br />
          -   Sally Rankin (Interim 2010-2011)<br/>
          - David Vlahov (2011-present)</p>

          <p> <strong>Deans (Pharmacy):</strong><br />
           -  Mary Anne Koda-Kimble (1998-2012)<br />
           -  B. Joseph Guglielmo, Jr., Interim (2012-2013); Dean (2013-present)</p>

           <p><strong>Directors (Medical Center)</strong><br />
             -  Mark R. Laret (2001-Present) <br />
             <br/>
           </p>
         </div>
       </div>
     </div>
     <div id="sidebar">
      <div id="sidenav_inside">{% include search_include.html %}<br />
        <div id="sidenav_subnav_header"><strong>THE STORY</strong>
        </div>
        <div id="sidenavtype"><br/>
          <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
          <br/>
          <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
          <br/>
          <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
          <br/>
          <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
          <br/>
          <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
        </div>
      </div>
    </div>
    <br class="clearit" />
    {% include footer.html %}
  </div>
  {% include bottom_js.html %}
</body>
</html>
