---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>About this History - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text">
    <h2 class="title"><span class="title-primary">About This History</span></h2>
     The UCSF History website is a collaboration of the UCSF Library and Center for Knowledge Management and the UCSF Department of Anthropology, History, and Social Medicine.
     <p>Funding for the project was provided by the Office of the Executive Vice Chancellor and Provost, A. Eugene Washington. </p>
     <p>The cooperation and support of the UCSF Schools of Dentistry, Medicine, Nursing, and Pharmacy, the Graduate Division, and the UCSF Medical Center was vital to the success of the project. </p>
     <div id="subhead">Acknowledgements and Credits</div>
     <br/>
     <strong> Website editorial board</strong> <br />
Dorothy Porter, Ph.D., Chair – UCSF School of Medicine, Department of Anthropology, History, and Social Medicine <br />
Troy E. Daniels, DDS, MS – UCSF School of Dentistry <br />
Marilyn Flood, Ph.D., RN – UCSF School of Nursing <br />
Robert L. Day, Pharm. D. – UCSF School of Pharmacy <br />
Karen Nelson, MA – UCSF Graduate Division <br />
Kathleen Balestreri – UCSF Medical Center
<p><strong>Website content</strong> <br />
  Nancy Rockafellar, PhD – Author, Story 1868-1959, Biographies, Special Topics <br />
  Brian Dolan, PhD – Author, Story 1959-- ; editor, 1868-1959 <br />
  Joseph LaDou, M.D. – Author, Special Topics </p>
<p><strong>UCSF Library staff </strong><br />
  Lisa Mix, Manager, Archives &amp; Special Collections <br />
  Leslie Kleinberg, Website Project Manager <br />
  Josue Hurtado, Assistant Archivist
  <br />
  Julia Kochi, Director, Digital Library and Collections </p>
<p>We are grateful to the following UCSF Library staff for their support of the project: <br />
  Karen Butter, University Librarian <br />
  Sadie Honey, Web Services Manager <br />
  Kathleen Cameron, Manager, Digital Content Development <br />
  Renaud Waldura, Manager, Applications Group </p>
<div id="subhead">Bibliography</div>
<br />
<strong>PRIMARY SOURCES</strong> <br />
<strong>Books and Articles: </strong><br />
<em>Bulletin of the University of California Medical Center.</em> San Francisco: Alumni Association, School of Medicine, 1950.
</p>
<p>Campbell, W. W. <em>President's Special Report on The Medical School and Hospitals.</em> Lick Observatory Archives, Campbell Papers Folder 288, February 26, 1924.</p>
<p>Elliott, Edward C., <em>The General Report of the Pharmaceutical Survey, 1946-1949.</em> Washington, D.C.: American Council on Education, 1950.</p>
<p>Flexner, Abraham. <em>Medical Education in the United States and Canada.</em> Boston: Merrymount Press, 1910.</p>
<p>Flexner, Abraham. <em>Daniel Coit Gilman: Creator of the American Type of University.</em> New York: Harcourt, Brace and Company, 1946.</p>
<p>Flint, Joseph M. &quot;Anatomical Laboratory of the University of California,&quot; <em>Johns Hopkins Hospital Bulletin</em> 16 (1905): 32-37.</p>
<p>Gies, William John. <em>Dental Education in the United States and Canada</em>. New York: The Carnegie Foundation for the Advancement of teaching, 1926.</p>
<p>Gilman, Daniel Coit. &quot;On Medical Education in the State University,&quot; <em>Transactions of the Medical Society of the State of California.</em> Sacramento: T. A. Springer, State Printer, 1873.</p>
<p>Gilman, Daniel Coit. <em>University Problems in the United States.</em> New York: Century Company, 1889.</p>
<p>Goldmark, Josephine. <em>Nursing and Nursing Education in the U.S.</em> New York: Macmillan Co., 1923.</p>
<p>Pope, Saxton. &quot;The Medical History of Ishi,&quot; <em>University of California Publications in American Archaeology and Ethnology</em> 13 (1920): 175-213.</p>
<p>Waterman, T. T. &quot;The Yana Indians,&quot; <em>University of California Publications in American Archaeology and Ethnology</em> 13 (1918):35-102.</p>
<p><strong>ARCHIVAL COLLECTIONS</strong> </p>
<p><strong>UCSF Library, Archives and Special Collections</strong><br />
  AR 1 School of Dentistry Records 1881-1956<br />
  AR 1A College of Dentistry History 1880-1916<br />
  AR 4 California College of Pharmacy Records<br />
  AR 24 School of Medicine Dean’s Correspondence<br />
  AR 24.1 School of Medicine, Dean. Committee Reports, 1917-57</p>
<p>AR 24.2 School of Medicine, Dean. Faculty Minutes, 1864-1958<br />
  AR 71-12 Chancellor’s Office Administrative records, 1957-1969<br />
  AR 79-5 Chancellor's Office Administrative Records 1954-1963<br />
  AR 80-4 UC Hospital, 1917-1960<br />
  AR 13-1 UC Hospital, 1913-1916<br />
  AR 84-3 Cardiovascular Research Institute <br />
  AR 84-30 San Francisco General Hospital Records, 1854-1966<br />
  AR 87-46 Campus History Materials, Dept. of History of Health Sciences<br />
  AR 90-56 Dean's Office Files, 1936-1987<br />
  AR 92-83 Dean's Office Records, 1929-1988<br />
  MSS 74-10 Willard C. Fleming Papers 1899-1973<br />
  MSS 7502 Dental Oral History Project<br />
  MSS 88-56 Edwin Boldrey Papers<br />
  MSS 85-18 Julius Comroe Papers <br />
  MSS 90-73, MSS 85-31 John Saunders Papers<br />
  MSS 97-12 Robert Crede papers 1960-1984<br />
  MSS 09-5 William M. Searby Papers 1935-1909, Dean of Pharmacy<br />
  MSS xxxx Jere Goyan Papers<br />
  308nm CRI-LEO Records of the Laboratory of Experimental Oncology</p>
<p><strong>UC Berkeley, Bancroft Library, Archives</strong><br />
  CU-23 Papers of the Department of Anthropology<br />
  CU-5 President’s Files/University of California Archive</p>
<p><strong>Announcement Bulletins of the Professional Schools at San Francisco </strong><br />
  (Titles vary over time)<br />
  <u>Dentistry:</u> <em>Announcement of the College of Dentistry of the University of California</em>. 1882-1955. <em>Announcement of the UC School of Dentistry,</em> 1956ff. Berkeley: UC Press, various years.</p>
<p><u>Medicine:</u><em> Annual Announcement Of Courses Of Instruction In The Medical Department</em> 1873-1912; <em>University of California College of Medicine Announcement</em> 1913-1914; <br />
    <em>University Of California Medical School Plan Of Instruction And Announcement Of Courses</em>, 1914-1948; <em>University of California School of Medicine</em> 1949 ff. Berkeley: UC Press, various years.</p>
<p><u>Nursing:</u><em> University of California Announcement of: </em><br />
    <em>The University of California Hospital Training School for Nurses;1915-1921; . </em><br />
    <em>University of California Training School for Nurses,1922 - 1938; </em><br />
    <em>University of California School of Nursing</em> 1939ff. Berkeley: UC Press, various years. </p>
<p><u>Pharmacy</u>: <em>Announcement of the California College of Pharmacy</em>; 1872-1933; <em>University of California College of Pharmacy;</em> 1934-1954; <em>University of California School of Pharmacy</em>, 1955ff. Berkeley, UC Press, various years.</p>
<p><strong>University Reports</strong><br />
    <em>Biennial Report of the President of the University on behalf of the Regents to his Excellency the Governor of the State, 1893. </em><br />
    <em>Biennial Report of the President of the University on behalf of the Regents to his Excellency the Governor of the State.1894</em>.<strong></strong><br />
    <em>Biennial Report of the President of the University on behalf of the Regents to his Excellency the Governor of the State. 1894-1896</em>.<br />
    <em>Biennial Report of the President of the University on behalf of the Regents to his Excellency the Governor of the State. 1896-1898.</em><br />
    <em>Biennial Report of the President of the University on behalf of the Regents to his Excellency the Governor of the State.&nbsp; 1910-1912</em>, Berkeley: UC Press, 1912<br />
    <em>Biennial Report of the President of the University on behalf of the Regents to his excelency the governor of the state, 1916-1917</em>. Berkeley UC Press, Dec 1917.<br />
  University of California. <em>Annual Report of the President</em>. 1916-1917. <br />
  <em>University of California. Annual Report of the President</em>. 1918-1919.</p>
<p><strong>ORAL HISTORIES:<br />
</strong><em>Robert Langley Porter: Physician, Teacher, And Guardian Of The Public Health.</em> Interviewed by Edna Tartaul Daniel. Berkeley, Calif.: Regional Cultural History Project, University of California General Library, 1960.</p>
<p><em>Conversations with Dr. Leslie Latty Bennett: The Research Tradition at UCSF.</em> Interviewed by Rita Carroll and Nancy Rockafellar. San Francisco: Regents of the University of California, 1992.</p>
<p><em>Conversations with Robert B. Aird, M.D.: Origins of Neurology at UCSF.</em> Interviewed by Nancy Rockafellar. San Francisco: Regents of the University of California, 1995.</p>
<p><em>Conversations with Chauncey Depew Leake. Sr</em>. Founder and Chairman of the Department of Pharmacology, UCSF. Interviewed by Rita Carroll. San Francisco: Regents of the University of California, 1987. </p>
<p><strong>Unpublished Interview Transcripts:<br />
</strong>Interviews with Eddie Leong Way, Ph.D., “Memories of Pharmacology and Pharmaceutical Chemistry at UCSF.”&nbsp; Interviewed by Caroline Acker, Ph.D. May 1991.</p>
<p>Interview with Robert L. Day, PharmD, Associate Dean, School of Pharmacy. Interviewed by Nancy Rockafellar, Ph.D.&nbsp; June 12, 2007.</p>
<p><strong>Dentistry Oral History Collection MSS 75-2</strong><br />
  Interviews with Willard Fleming, D.D.S.: Dentistry graduate, 1918, Dean of Dentistry, 1939-1965; Chancellor 1966-1969. Interview date: 1967.</p>
<p>Interviews with Ben Pavone, D.D.S., Dean of Dentistry, 1965-1980. Interviewed February 23, 1987. </p>
<p>Interview with Troy E. Daniels M.S., D.D.S., Interviewed by Nancy Rockafellar, Ph.D. May 30, 2007.</p>
<p>Interview with John C. Greene, DMD, MPH, Dean of Dentistry, 1981-, Interviewed by Nancy Rockafellar, Ph.D.&nbsp; June 21, 2007.</p>
<p><strong>UCSF Campus Oral History Series</strong> <br />
  Interviews with Ellen Brown, Malcolm S. M. Watts, Edward Shaw, Elbridge Best, Hulda Thelander, Ralph Kellogg, L. Holly Smith, Robert Crede, Clark Kerr, Morton Meyer, W. Francis Ganong, Robert Fishman, John Clements, Richard Havel, Rudi Schmid, Isidore Edelman, Nicholas Petrakis, Alex Margulis, Melvin Grumbach, Phil Lee, Ernest Jawetz, William Rutter, Herbert Boyer.</p>
<p><em>Surgery in the Postwar Years Series:</em> Interviews with F. William Blaisdell, Haile T. Debas, Alan Johnson, Paul Ebert, Benson Roe, Theodore Schrock, J. E. Dunphy, Alfred deLorimier, William Silen, John Najarian.</p>
<p><strong>SECONDARY SOURCES:</strong> </p>
<p><strong>University of California Publications:</strong><br />
    <em>Alumni-Faculty Association Bulletin: School of Medicine</em><br />
    <em>Pharmacy Alumni Association Newsletter</em><br />
    <em>California Monthly</em><br />
    <em>UCSF Graduate Division Bulletin</em>. San Francisco. 1962 </p>
<p>University of California <em>In Memorium</em>, accessed through OAC, Online Archive of California</p>
<p><strong>Pamphlets and Booklets:<br />
</strong><em>From Barbary Coast To Parnassus Heights: A Survey Of University Service To Community Health</em>. c 1966. </p>
<p>Pratt, Robertson, <em>One Hundred Years of Progress: School of Pharmacy Centennial History</em>, 1972.</p>
<p><em>UC San Francisco 1864-1989: 125 Years of Excellence.</em> 1989.</p>
<p><em>Dentistry and the University of California: The Early Days</em>. UCSF Reprographics, 1997.</p>
<p><strong>Articles:</strong><br />
  Berliner, Howard. &quot;A Larger Perspective on the Flexner Report,&quot; <em>International Journal of Health Services</em> 5 (1975) : 573-592.</p>
<p>Brieger, Gert H. &quot;The California Origins of the Johns Hopkins Medical School,&quot; <em>Bulletin of the History of Medicine</em> 51 (1977): 339-352.</p>
<p>Brieger, Gert H., and M. Rita Carroll. &quot;Make No Mistake of It: A Survey of that Recurring Question...,&quot; <em>Alumni Faculty Association Bulletin</em> 30 (Summer/Fall 1986): 2-9.</p>
<p>Buhler-Wilkerson, K. “Public Health Nursing: In Sickness or in Health.” <em>American Journal of Public Health</em> 75 (October, 1985): 1155-1161.</p>
<p>Buhler-Wilkerson, K.. “Bringing Care to the People: Lilian Wald’s Legacy to Public Health Nursing.” <em>American Journal of Public Health</em> 83 (December, 1993): 1778-1786.</p>
<p>Eloesser, Leo. &quot;The City and County Hospital of San Francisco,&quot; <em>American Journal of Surgery</em> 118 (October, 1969).</p>
<p>Fee, Elizabeth and Bu, Liping. Models of Public Health Education. <em>Bulletin of the World</em> <em>Health Organization</em>. Dec 2007, 85 (12).</p>
<p>Flood, Marilyn. “Looking Back”. <em>Science of Caring</em>. Accessed at: http://nurseweb.ucsf.edu/public/lkgback.pdf.</p>
<p>Flood, Marilyn. “Proclaiming Our Work a Science”. <em>Science of Caring.</em> Accessed at: http://nurseweb.ucsf.edu/public/ourwrk.pdf.</p>
<p>Fluhmann, C. Frederic. &quot;Symposium on Progress in Obstetrics and Gynecology,&quot; <em>The Surgical Clinics of North America</em> 42: 4 (1962).</p>
<p>Gardner, Frances Tomlinson. &quot;The Little Acorn: Hugh Huger Toland, 1806-1880,&quot; <em>Bulletin of the History of Medicine</em> 24 (1950).</p>
<p>Gardner, Frances Tomlinson. &quot;King Cole of California,&quot; <em>Annals of Medical History</em>, 3rd ser. 2, (May 1940, Part I), and (July 1940, Part II).</p>
<p>Hudson, Robert P. &quot;Abraham Flexner in Perspective: American Medical Education 1865-1910,&quot; <em>Bulletin of the History of Medicine</em> 46 (1972): 545-561.</p>
<p>Kraus, Shirley. &quot;Stanford University School of Medicine: Medical Schools of the West,&quot; <em>Western Journal of Medicine</em> 139 (1983): 244-247.</p>
<p>Loevy, H.T., and Kowith, A. A.“M. Evangeline Jordon, Pioneer in Pedodontics,” <em>Journal of the History of Dentistry</em> Vol 54, No. 1, Spring, 2006 p 3-8.</p>
<p>Lyman, George D. &quot;The Sponge,&quot; <em>Annals of Medical History</em> 10 (1928): 460-479.</p>
<p>Pace, Nello. &quot;Tides of Physiology at Berkeley,&quot; <em>The Tides of Physiology: Departmental Histories</em>, edited by Arthur B. Otis. Supplement to <em>The Physiologist</em> 29 (October 1986): 7-20.</p>
<p>&nbsp;Saunders, J.B. DEC.M. “Geography and Geopolitics in California Medicine.” <em>Bulletin of the History of Medicine</em> 41 (July-August, 1967): 293-324.</p>
<p>&quot;Stanford University Medical Center: 25 Years,&quot; <em>Stanford Medicine</em> (Fall, 1984).</p>
<p><strong>Books:</strong><br />
    <em>American Contributions to the New Age of Dental Research</em><strong>. </strong>USDHHS, PHS, NIH, NIDR, NLM, 1988.</p>
<p>Barry, John M. <em>The Great Influenza; The Epic Story Of The Deadliest Plague In History.</em> New York: Penguin Group, 2004<strong>.</strong></p>
<p>Blaisdell, F. W., and Grossman, Moses. <em>Catastrophes, Epidemics and Neglected Diseases: SFGH and the Evolution of Public Care.</em> San Francisco: SFGH Foundation, 1999.</p>
<p>Cardiovascular Research Institute, the First Twenty-Five Years, 1958-1983. San Francisco: UCSF, 1983.</p>
<p>Comroe, Julius. <em>Retrospectroscope: Insights into Medical Discovery</em>. Menlo Park CA: Von Gehr Press, 1977.</p>
<p>Craddock, Susan. <em>City of Plagues: Disease, Poverty and Deviance in San Francisco</em>. Minneapolis: University of Minnesota Press, 2000.</p>
<p>Dowling, Henry F. <em>Fighting Infection.</em> Cambridge, Mass.: Harvard University Press, 1977.</p>
<p>Duffy, John. <em>The Healers: A History of American Medicine.</em> Urbana, Illinois.: University of Illinois Press, 1976.</p>
<p>Flood, Marilyn. <em>Promise on Parnassus</em>: <em>The First Century of the UCSF School of Nursing</em>. San Francisco: UCSF Nursing Press, 2007.</p>
<p>Fradkin, Philip L. <em>The Great Earthquake and Firestorms of 1906.</em> Berkeley and Los Angeles: University of California Press, 2005.</p>
<p>Harden, Victoria. <em>Inventing the NIH: Federal Biomedical Research Policy, 1887-1937.</em> Baltimore: Johns Hopkins University Press, 1986.</p>
<p>Harris, Henry. <em>California's Medical Story.</em> San Francisco: Grabhorn Press, 1932.</p>
<p>Jones, William Carey. <em>Illustrated History of the University of California,</em> revised edition. Berkeley.: Student's Cooperative Society, 1901.</p>
<p>Kerr, Clark. <em>The Gold And The Blue: A Personal Memoir of The University of California. 1949-1947. </em>Volume One. Berkeley and Los Angeles: University of California Press, 2001.</p>
<p>Kohler, Robert E. <em>From Medical Chemistry to Biochemistry: The Reform of Medical Education in America</em>. Cambridge: Cambridge University Press, 1982.</p>
<p>Kroeber, Theodora. <em>Ishi In Two Worlds: A Biography of the Last Wild Indian In North America.</em> Berkeley: University of California Press, 1961.</p>
<p>Ludmerer, Kenneth M. <em>Learning to Heal: The Development of American Medical Education.</em> Baltimore: Johns Hopkins University Press, 1985.</p>
<p>McGehee, Harvey A. <em>A Model of Its Kind.</em> Baltimore: Johns Hopkins University Press, 1977.</p>
<p>Reverby, Susan. <em>Ordered to Care: The Dilemma of American Nursing, 1850-1945</em>. Cambridge: Cambridge University Press, 1987.</p>
<p>Rosenberg, Charles E. <em>The Care of Strangers: The Rise of America’s Hospital System</em>. New York: Basic Books, 1987.</p>
<p>Rosen, George. <em>A History of Public Health</em>. New York: M.D. Publications, 1958, 1976. </p>
<p>Schindler, Meyer, <em>The Thirtieth in Two World Wars; the Story of the University of California Medical School Unit</em>, (San Francisco: 1966).</p>
<p>Sonnedecker, Glenn. <em>Kremer’s and Urdang’s History of Pharmacy</em>. Philadelphia: Lippincott, 1976.</p>
<p>Stadtman, Verne A. <em>The University of California, 1868-1968.</em> New York: McGraw Hill, 1970.</p>
<p>Stadtman, Verne A., editor. <em>The Centennial Record of the University of California.</em> Berkeley: University of California, 1967.</p>
<p>Starr, Paul. <em>The Social Transformation of American Medicine.</em> New York: Basic Books, 1982.</p>
<p>Wilson, John L. “Stanford University School of Medicine and the Predecessor Schools,” accessed at http://elane.stanford.edu/wilson/.</p>
<p><strong>Unpublished Sources</strong><br />
  Beckett, F.A., and Sutton, Albert. <em>Report Of Inspection Of Colleges Of Pharmacy Of The United States And Canada: Referring To The Plan Of The Buildings, Arrangement Of Laboratories, Lecture Rooms, Faculty Rooms Etc, Curriculae, Systems Of Instruction, Requirements For Graduation, Degrees, Etc.</em> Spring, 1895. Presented to the Board of Trustees of the California College of Pharmacy. UCSF School of Pharmacy Records.</p>
<p>Carter, William E., compiler. <em>Tales and Traditions,</em> Eight Volumes. Sponsored by UCSF Alumni-Faculty Association, [c1900-1965].</p>
<p>Flood, Marilyn. “The White Mortarboard: Continuity with Change.” Typescript. 1986 Alumni Day Presentation. </p>
<p>Greenberg, David. “Recollections on the History of Biochemistry at the University of California.” typescript, 1968.</p>
<p>Grossman, Moses. “History of UCSF Department of Pediatrics.” Typescript.</p>
<p>Hublitz, Erika. <em>Beginnings of the George Williams Hooper Foundation of the University of California San Francisco</em> In AR 91-30, G. W. Hooper Foundation and Department of Epidemiology and International Health, UCSF Archives.</p>
<p>Laycoock, Miriam, “Early History of the School of Nursing.” Typescript <em>Tales and Traditions</em> Volume Five.</p>
<p>Meyer, Karl Friedrich. <em>Coping with Catastrophe.</em> Eighth Annual Service Award, The Forty-Niners, Shearton-Blackstone Hotel, Chicago, Illinois, January 21, 1961.</p>
<p>Pharmacy Scrapbooks, Two Volumes. School of Pharmacy.</p>
<p>Porter, Langley. “University of California School of Medicine; 1925-1941.” Undated typescript.</p>
<p>Risse, Guenter, B. <em>History of UCSF: A Long, Extended, Quite Lengthy Chronology of Events,</em> Volume One. Typescript, 1989.</p>
<p>Rockafellar, Nancy. <em>History of UCSF: The Postwar Years, 1945-present,</em> Volume Two. Typescript, 1996.</p>
<p>Rowe, Albert H. “Reminiscences Of My Training For The Practice Of Medicine At UC And Its Medical School From 1907-1915.” Typescript. <em>Tales and Traditions</em> Volume Six.</p>
<br/>
<br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
