---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Architecture - Affiliated Colleges - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <h2 class="title"><span class="title-primary">Photos</span></h2>
<div id="subhead">ARCHITECTURE</div>
<a href="architecture.html" class="bodylink">Parnassus Campus</a><br />
Affiliated Colleges<br/>
    <a href="architecture_dentistry.html" class="bodylink"> Dentistry</a><br/>
    <a href="architecture_medicine.html" class="bodylink">Medicine</a>
    <br />
    <a href="architecture_nursing.html" class="bodylink">Nursing</a><br/>
    <a href="architecture_pharmacy.html" class="bodylink"> Pharmacy</a><br/>
    <a href="architecture_hospitals.html" class="bodylink">Hospitals</a><br/>
  <br />
<h3>Affiliated Colleges</h3>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo23.html"><img src="images/photo_thumbnails/grading_construction_site_parnassus.jpg" alt="Affiliated Colleges construction site, 1895" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges construction site, 1895</div>
</div>
<div id="photo_thumb"><a href="1868_photo26.html"><img src="images/photo_thumbnails/pharmacology_cornerstone_dif_view_1897.jpg" alt="Affiliated Colleges cornerstone ceremony, 1897" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges cornerstone ceremony, 1897</div>
</div>
<div id="photo_thumb"><a href="building_photo.html"><img src="images/photo_thumbnails/affiliated_colleges_buildings.jpg" alt="Affiliated Colleges under construction" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges under construction</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_photo12.html"><img src="images/photo_thumbnails/tent_city.jpg" alt="Affiliated Colleges with &quot;tent city&quot;" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges with &quot;tent city&quot;</div>
</div>
<div id="photo_thumb"><a href="1899_photo.html"><img src="images/photo_thumbnails/view_of_ucsf_from_tenniscourts.jpg" alt="Affiliated" /></a>
  <div aria-hidden="true" class="photo_caption">Affiliated Colleges, 1904</div>
</div>
<div id="photo_thumb"><a href="1899_photo8.html"><img src="images/photo_thumbnails/affiliated_colleges_w_streetcar.jpg" alt="Affiliated Colleges, c.1900" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges, c.1900</div>
</div></div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="building_photo2.html"><img src="images/photo_thumbnails/affiliated_colleges_perspective_view.jpg" alt="Affiliated Colleges, drawing" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges, drawing</div>
</div>
<div id="photo_thumb"><a href="building_photo3.html"><img src="images/photo_thumbnails/affiliated_colleges_views.jpg" alt="Affiliated Colleges, interiors" /></a><div class="photo_caption" aria-hidden="true">Affiliated Colleges, interiors</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header">PHOTOS</div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenav_subnav_type">Portraits</a><br />
        <br />

        <a href="architecture.html" class="sidenavtype sidenav_subnav_type_visited">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
