---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Architecture - Dentistry - A History of UCSF </title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <div id="subhead">ARCHITECTURE</div>
<a href="architecture.html" class="bodylink">Parnassus Campus</a><br />
<a href="architecture_colleges.html" class="bodylink">Affiliated Colleges</a><br />
Dentistry<br/>
    <a href="architecture_medicine.html" class="bodylink">Medicine</a>
    <br />
    <a href="architecture_nursing.html" class="bodylink">Nursing</a><br/>
    <a href="architecture_pharmacy.html" class="bodylink"> Pharmacy</a><br/>
    <a href="architecture_hospitals.html" class="bodylink">Hospitals</a><br/>
  <br />
<h3>Dentistry</h3>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1919_photo17.html"><img src="images/photo_thumbnails/dental_clinic_1940.jpg" alt="Dentistry clinic, 1940" width="113" height="150" border="0" /></a><div id="photo_caption" aria-hidden="true">Dentistry clinic, 1940</div>
</div>
<div id="photo_thumb"><a href="1868_photo19.html"><img src="images/photo_thumbnails/col_of_dentistry_donohoe_building.jpg" alt="Donohoe Building - College of Dentistry" width="113" height="150" border="0" /></a><div id="photo_caption" aria-hidden="true">Donohoe Building - College of Dentistry</div>
</div>
<div id="photo_thumb"><a href="1899_photo11.html"><img src="images/photo_thumbnails/earthquake_images_1906.jpg" alt="Donohoe Building, 1906 earthquake" border="0" /></a><div id="photo_caption" aria-hidden="true">Donohoe Building, 1906 earthquake</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1959_photo14.html"><img src="images/photo_thumbnails/Dental-Clinic-Building.jpg" alt="Dental Clinics" width="113" height="150" border="0" /></a><div id="photo_caption" aria-hidden="true">Dental Clinics</div>
</div>
<div id="photo_thumb"><a href="1959_photo15.html"><img src="images/photo_thumbnails/School-of-Dentistry-1980.jpg" alt="School of Dentistry, 1980s" width="113" height="150" border="0" /></a><div id="photo_caption" aria-hidden="true">School of Dentistry, 1980s</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header">PHOTOS</div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenav_subnav_type">Portraits</a><br />
        <br />

        <a href="architecture.html" class="sidenavtype sidenav_subnav_type_visited">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
