---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>LeRoy H. Briggs - Biography- A History of UCSF </title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text">
  <h2 class="title"><span class="title-primary">People</span></h2>
     <div id="subhead">LEROY H. BRIGGS (1883-1953)</div>
<div id="thumb_people"><a href="1919_photo12.html"><img src="images/story_thumbnails/brunn_portrait2.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
LeRoy H. Briggs was born in Oakland in 1883. He attended public school there, and later the University of California at Berkeley. He graduated from the University of California School of Medicine in 1908. Throughout his long career, he conducted a private practice of internal medicine in San Francisco, along with his teaching at the medical school. He was the first William Watt Kerr Professor of Medicine at the University of California. He was a member of the examining board of the Board of Internal Medicine and he received the gold-headed cane in 1950 in recognition of his outstanding qualities as a great physician. He retired in 1951 after more than forty years of service to the medical school, and died two years later.
     <p>What more can be said of this shy and modest man, possessed of such great drive and energy? His students revere his memory and remain devoted to his philosophy of medical practice. He epitomized the distinguished physician whose sound judgment and keen clinical acumen gained for him the respect and admiration of colleagues and patients alike. </p>
<strong>References:</strong> <br/>
     <div id="footnotes">
See Interviews with Morton Meyer, Postwar Transformations from the Clinical Faculty Perspective, UCSF Campus Oral History Program, UCSF Department of Anthropology, History and Social Medicine, San Francisco for firsthand reminiscences by a key student of Dr. Briggs.
     </div>
       <br/>
       <br/>
     </p>
     </p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
