---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Buildings - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
     <h2 class="title"><span class="title-primary">Buildings</span></h2>
     <div id="small_thumb"><img src="images/small_thumbs/affiliated_colleges_w_streetcar.jpg" alt=""></div>
     <div id="sidenavtype2"><a href="building_affiliated.html" class="sidenavtype">BRICKS AND MORTAR: BUILDING THE AFFILIATED COLLEGES</a></div>
In 1895, the California Legislature appropriated $250,000 for the "Affiliated Colleges" of the University of California, to be located on a 13-acre site overlooking Golden Gate Park.<br><br>
     <div id="small_thumb"><img src="images/small_thumbs/uc_hospital_view_from_street.jpg" alt=""></div>
     <div id="sidenavtype2"><a href="building_hospitals.html" class="sidenavtype">BRICKS AND MORTAR: TWO NEW HOSPITALS FOR SAN FRANCISCO</a></div>
In the years after the earthquake, San Francisco rebuilt with remarkable speed but the disaster and epidemics that followed reinforced the need for adequate hospitals.<br><br>
     <div id="small_thumb"><img src="images/small_thumbs/moffit_archi_pflueger.jpg" alt=""></div>
     <div id="sidenavtype2"><a href="building_moffitt.html" class="sidenavtype">BRICKS AND MORTAR: MOFFITT AND MEDICAL SCIENCES</a></div>
The cross-shaped, fourteen-story teaching hospital was designed by architects Timothy and Milton T. Pflueger.<br>
<br>
     <br>
<br>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br><br>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br>
  <br>
  <a href="photos.html" class="sidenavtype">PHOTOS</a>  <br>  <br>
 <div id="sidenav_subnav_header"><a href="buildings.html" class="sidenavtype sidenav_subnav_type_visited">BUILDINGS</a></div>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
