---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Two New Hospitals for San Francisco - Buildings - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Buildings</span></h2>
    <div id="subhead">BRICKS AND MORTAR: TWO NEW HOSPITALS FOR SAN FRANCISCO<br />
       by Nancy Rockafellar<br />
     </div><br />
<div id="thumb"><a href="building_photo4.html"><img src="images/story_thumbnails/uc_hospital_view_from_street.jpg" width="200" height="150" border="0" /></a>
</div>In the years after the 1906 earthquake, San Francisco rebuilt with remarkable speed, but the disaster and epidemics that followed reinforced the need for adequate hospitals. The old City County Hospital on Potrero had been burned down in 1908 after the discovery of plague-infected rats within its walls. Patients were moved to converted horse stalls, and surgery, kitchen, and supply rooms were set up in the grandstand at the Ingleside Jockey Club Race Track. The drafty racetrack buildings were not adequate for acute medical and surgical cases and city officials quickly worked to restore the city's most important public health facility.
<br/><br/><div id="thumb3"><a href="building_photo5.html"><img src="images/story_thumbnails/sfgh_plans.jpg" width="150" height="200" border="0" /></a>
  <div id="caption3">Plans for San Francisco County Hospital</div>
</div>The cornerstone for the new 512-bed San Francisco Hospital was laid at 22nd and Potrero in 1909 and the completed buildings were dedicated by Mayor Rolph on May 1, 1915. The series of brick buildings were designed by architect Newton J. Tharp with a plan based upon European pavilion style, designed to maximize ventilation and prevent cross infection. The external walls were decorated with Renaissance terra cotta and elegant arches; each ward building had a roof garden, and the grounds contained tiled fountains and walking paths. During its first year of occupancy, the number of surgical operations at the City County hospital increased by 400 percent and the patient census rose from 341 to 683.<br/><br/>
     <div id="subhead2">A New Hospital at Parnassus</div>
During the first years of the new century, <a href="flexner_report.html" class="bodylink">Flexner's criticisms</a> and the wishes of University officials led to active movement to build a much finer teaching hospital at the Parnassus site. In his survey Flexner had called the 75-bed ad hoc hospital, created in 1907 in the Medical School Building, "small but modern" and "not up to University standard."
<p>
He pointed out that better facilities might attract better full-time faculty. In response, Medical School Dean <a href="moffitt.html" class="bodylink">Herbert C. Moffitt</a> led an effort to fund a new teaching hospital and eventually collected $655,000 to complete the project. An ambitious early first design had been presented in 1903 by Bernard Maybeck, who responded to UC President Wheeler's call for a University Hospital. The final architectural plan that was built, however, was created by San Francisco architect Lewis Parsons Hobart, who also designed Grace Cathedral, the Bohemian Club, and the California Academy of Sciences.        </p>
<div id="thumb"><a href="building_photo6.html"><img src="images/story_thumbnails/uc_hospital_lobby.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">UC Hospital's Elegant Lobby</div></div>The cornerstone was laid May 18, 1916, and building was completed within thirteen months.  UC Hospital opened in 1917, just as the United States entered the First World War. The six-floor building contained a machine shop and laundry in the basement and the first floor held a grand lobby, a kitchen, a cafeteria, and a lecture amphitheater named for <a href="toland.html" class="bodylink">Hugh Toland</a>. Surgery occupied the second floor.  Floors three through five contained laboratories, nursing stations, and wards housing 220 patients.
       <p>The creation of these two substantial hospital facilities would provide excellent clinical teaching facilities for UC faculty, medical students, interns, and residents for the next four decades. </p>
       </p><br/><br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a>
  <br/>  <br/>
 <div id="sidenav_subnav_header"><strong><a href="buildings.html" class="sidenav_subnav_type_visited">BUILDINGS</a></strong></div>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
