---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Moffitt and Medical Sciences - Buildings - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all">
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text">
    <h2 class="title"><span class="title-primary">Buildings</span></h2>
    <h3>BRICKS AND MORTAR: MOFFITT AND MEDICAL SCIENCES<br>by Nancy Rockafellar</h3>
         <a href="1940_photo2.html"><img src="images/story_thumbnails/moffit_archi_pflueger.jpg" alt="Architectural Drawing of Moffitt Hospital" width="200" height="150" /></a><br><br>
     <div id="thumb3"><a href="building_photo7.html"><img src="images/story_thumbnails/moffitt_medsci1.jpg" alt="Moffitt Hospital and the Medical Sciences Building" width="150" height="200" /></a>
<div aria-hidden="true" class="caption3">Moffitt Hospital and the Medical Sciences Building</div></div>The cross-shaped, fourteen-story teaching hospital was designed by architects Timothy and Milton T. Pflueger and the multi-story Medical Sciences building would adjoin both the new teaching hospital and the clinics building located west on Parnassus. It was designed by the supervising architectural firm for the medical center: Blanchard and Maher.<br><br>
The two buildings were intended to function as an integrated unit, with direct access between basic research facilities and the teaching hospital's clinical facilities. The Medical center was to be funded with $20 million from state funds, $1 million from the U. S. Public Health Service and private grants.<br>
  <br>  <br>  <br><div ><a href="building_photo7.html"><img src="images/story_thumbnails/medsci_patio.jpg" alt="" width="501" height="146" usemap="#Map2" />
<map name="Map2" id="Map2">
<area shape="rect" coords="-2,3,168,146" href="building_photo8.html" alt="Patio off of the Medical Sciences building." />
<area shape="rect" coords="169,3,336,144" href="building_photo9.html" alt="Entrance to the Medical Sciences Building." />
<area shape="rect" coords="340,5,501,143" href="building_photo10.html" alt="View of Moffitt Hospital from Arguello Street." />
</map></a>
  <div aria-hidden="true" class="caption2">LEFT: Patio off of the Medical Sciences building.<br>
  CENTER: Entrance to the Medical Sciences Building<br>
  RIGHT: View of Moffitt Hospital from Arguello Street</div>
  </div>
  <div id="thumb3"><a href="building_photo11.html"><img src="images/story_thumbnails/moffitt_site.jpg" alt="Building site for Moffitt Hospital and the Medical Sciences building" width="150" height="200" /></a>
<div aria-hidden="true" class="caption3">Building site for Moffitt Hospital and the Medical Sciences building</div>
  </div>
</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br><br>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br>
  <br>
  <a href="photos.html" class="sidenavtype">PHOTOS</a>  <br>  <br>
 <div id="sidenav_subnav_header"><a href="buildings.html" class="sidenavtype sidenav_subnav_type_visited">BUILDINGS</a></div>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
