---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Buildings - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <img src="images/titles/buildings.jpg" alt="Buildings" width="147" height="71" /><br/>
     <div id="small_thumb"><img src="images/small_thumbs/affiliated_colleges_w_streetcar.jpg" /></div>
     <div id="sidenavtype2"><a href="building_affiliated.html" class="sidenavtype"><strong>BRICKS AND MORTAR: BUILDING THE AFFILIATED COLLEGES</strong></a></div>
In 1895, the California Legislature appropriated $250,000 for the "Affiliated Colleges" of the University of California, to be located on a 13-acre site overlooking Golden Gate Park.<br /><br />
     <div id="small_thumb"><img src="images/small_thumbs/uc_hospital_view_from_street.jpg" /></div>
     <div id="sidenavtype2"><a href="building_hospitals.html" class="sidenavtype"><strong>BRICKS AND MORTAR: TWO NEW HOSPITALS FOR SAN FRANCISCO</strong></a></div>
In the years after the earthquake, San Francisco rebuilt with remarkable speed but the disaster and epidemics that followed reinforced the need for adequate hospitals.<br /><br />
     <div id="small_thumb"><img src="images/small_thumbs/moffit_archi_pflueger.jpg" /></div>
     <div id="sidenavtype2"><a href="building_moffitt.html" class="sidenavtype"><strong>BRICKS AND MORTAR: MOFFITT AND MEDICAL SCIENCES</strong></a></div>
The cross-shaped, fourteen-story teaching hospital was designed by architects Timothy and Milton T. Pflueger.<br />
<br />
     <br />
<br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a>
  <br/>  <br/>
 <div id="sidenav_subnav_header"><strong><a href="buildings.html" class="sidenav_subnav_type_visited">BUILDINGS</a></strong></div>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
