---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Moffitt and Medical Sciences - Buildings - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text">
    <h2 class="title"><span class="title-primary">Buildings</span></h2>
    <div id="subhead">BRICKS AND MORTAR: MOFFITT AND MEDICAL SCIENCES<br />
       by Nancy Rockafellar<br />
     </div><br />
         <a href="1940_photo2.html"><img src="images/story_thumbnails/moffit_archi_pflueger.jpg" width="200" height="150" border="0" /></a><br/><br/>
     <div id="thumb3"><a href="building_photo7.html"><img src="images/story_thumbnails/moffitt_medsci1.jpg" width="150" height="200" border="0" /></a>
  <div id="caption3">Moffitt Hospital and the Medical Sciences Building</div></div>The cross-shaped, fourteen-story teaching hospital was designed by architects Timothy and Milton T. Pflueger and the multi-story Medical Sciences building would adjoin both the new teaching hospital and the clinics building located west on Parnassus. It was designed by the supervising architectural firm for the medical center: Blanchard and Maher.<br/><br/>
The two buildings were intended to function as an integrated unit, with direct access between basic research facilities and the teaching hospital's clinical facilities. The Medical center was to be funded with $20 million from state funds, $1 million from the U. S. Public Health Service and private grants.<br/>
  <br/>  <br/>  <br/><div ><a href="building_photo7.html"><img src="images/story_thumbnails/medsci_patio.jpg" width="501" height="146" border="0" usemap="#Map2" />
<map name="Map2" id="Map2"><area shape="rect" coords="-2,3,168,146" href="building_photo8.html" />
<area shape="rect" coords="169,3,336,144" href="building_photo9.html" />
<area shape="rect" coords="340,5,501,143" href="building_photo10.html" />
</map></a>
  <div id="caption2">LEFT: Patio off of the Medical Sciences building.<br />
  CENTER: Entrance to the Medical Sciences Building<br />
  RIGHT: View of Moffitt Hospital from Arguello Street</div>
  </div>
  <div id="thumb3"><a href="building_photo11.html"><img src="images/story_thumbnails/moffitt_site.jpg" width="150" height="200" border="0" /></a>
  <div id="caption3">Building site for Moffitt Hospital and the Medical Sciences building</div>
  </div>
</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a>
  <br/>  <br/>
 <div id="sidenav_subnav_header"><strong><a href="buildings.html" class="sidenav_subnav_type_visited">BUILDINGS</a></strong></div>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
