---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Affiliated Colleges - Buildings - A History of UCSF</title>
<link href='https://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <h2 class="title"><span class="title-primary">Buildings</span></h2>
     <div id="subhead">BRICKS AND MORTAR: BUILDING THE AFFILIATED COLLEGES <br />
       by Nancy Rockafellar<br />
     </div>
<br />
<div id="thumb"><a href="1899_photo8.html"><img src="images/story_thumbnails/affiliated_colleges_w_streetcar.jpg" width="200" height="150" border="0" /></a></div>
In 1895, the California Legislature appropriated $250,000 for the "Affiliated Colleges" of the University of California to be located on a 13-acre site overlooking Golden Gate Park. The land was donated by the city's mayor, Adolph Sutro, and the site was designed by architects Krafft, Martens and Coffey to house Sutro's extensive library collection, and to be used for the University of California's colleges of medicine, dentistry, pharmacy, veterinary medicine, and law.
<br/><br/>The cornerstone of the medical school was laid on March 27, 1897, in a driving spring rainstorm. <a href="cole.html" class="bodylink">Beverly Cole</a>, who by this time had been elected President of the American Medical Association, passed out champagne bottles.
<div id="thumb"><a href="building_photo.html"><img src="images/story_thumbnails/affiliated_colleges_buildings.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">Buildings of the Affiliated Colleges while under construction</div></div>Reporters noted that the rain and blowing sand did not dampen the celebration attended by Mayor James Phelan and former Mayor Adolph Sutro. Lieutenant Governor Jeter declared that the raindrops are "nature's tears of joy" for the occasion. "Spread out before us," he proclaimed, "we behold as beautiful and lovely a landscape as one could imagine: at our very feet Golden Gate Park with its green lawns, rising trees, and winding paths, while strains of music float softly through the air."       </p>
     <p>The completed Romanesque stone buildings of the Affiliated Colleges lined Parnassus Avenue. The Colleges of Dentistry and Pharmacy occupied the building on the left (east), and the College of Medicine was based in the building in thecenter. The third building was intended for the Hastings College of the Law, but the faculty considered it too far from the city's courts and refused to move from Pioneer Hall, where the college was then located. Instead, the building became an anthropological museum and housed archeological specimens and art objects included in the Phoebe Hearst Collection. A smaller building in the rear housed the College of Veterinary Science.       </p>
<div id="thumb"><a href="building_photo2.html"><img src="images/story_thumbnails/affiliated_colleges_perspective_view.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">Perspective view of the Affiliated Colleges</div></div>Three buildings were completed and occupied by October of 1898. The 1898 Brochure of the Medical Department of the University of California described the new facilities, including a new auditorium with a capacity of 1,200, spacious laboratories for pathology, bacteriology, chemistry and physiology, and "the finest dissecting room in the world at the present time." The author of the pamphlet also speculated that "the site of the City and County Hospital in contemplation by the Supervisors is to be within a few blocks of the College buildings, thus offering clinical advantages conveniently close at hand."
<br/><br/><div id="thumb"><a href="building_photo3.html"><img src="images/story_thumbnails/affiliated_colleges_views.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">Interior and exterior views of the Affiliated Colleges</div></div><br/><br/>
<br/><br/><br/><br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a>
  <br/>  <br/>
 <div id="sidenav_subnav_header"><strong><a href="buildings.html" class="sidenav_subnav_type_visited">BUILDINGS</a></strong></div>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
