---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Photos - California History - A History of UCSF </title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all">
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <h2 class="title"><span class="title-primary">Photos</span></h2>
<h3>CALIFORNIA HISTORY</h3>

  <div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo.html"><img src="images/photo_thumbnails/view_of_san_francisco.jpg" alt="San Francisco 1847" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">San Francisco 1847</div>
</div>
<div id="photo_thumb"><a href="1868_photo2.html"><img src="images/photo_thumbnails/forest_of_masts_1850s.jpg" alt="San Francisco, 1850s panorama" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">San Francisco, 1850s panorama</div>
</div>
<div id="photo_thumb"><a href="1868_photo3.html"><img src="images/photo_thumbnails/vermin.jpg" alt="San Francisco lodging conditions, 1850s"></a><div class="photo_caption" aria-hidden="true">San Francisco lodging conditions, 1850s</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo4.html"><img src="images/photo_thumbnails/street_conditions.jpg" alt="San Francisco during the Gold Rush"></a><div class="photo_caption" aria-hidden="true">San Francisco during the Gold Rush</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br><br>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br>
  <br>
  <div id="sidenav_subnav_header">PHOTOS</div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenav_subnav_type">Portraits</a><br>
        <br>

        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br>
        <br>
        <a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a><br>
        <br>
        <a href="cal_history.html" class="sidenavtype sidenav_subnav_type_visited">California History</a></div>
    </div>  <br>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
