---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - California History - A History of UCSF </title>
<link href='https://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <h2 class="title"><span class="title-primary">Photos</span></h2>
<div id="subhead">CALIFORNIA HISTORY</div>
<br/>
  <br />
  <div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo.html"><img src="images/photo_thumbnails/view_of_san_francisco.jpg" width="113" height="150" border="0" /></a><div id="photo_caption">San Francisco 1847</div>
</div>
<div id="photo_thumb"><a href="1868_photo2.html"><img src="images/photo_thumbnails/forest_of_masts_1850s.jpg" width="113" height="150" border="0" /></a><div id="photo_caption">San Francisco, 1850s panorama</div>
</div>
<div id="photo_thumb"><a href="1868_photo3.html"><img src="images/photo_thumbnails/vermin.jpg" border="0" /></a><div id="photo_caption">San Francisco lodging conditions, 1850s</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo4.html"><img src="images/photo_thumbnails/street_conditions.jpg" border="0" /></a><div id="photo_caption">San Francisco during the Gold Rush</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="photos.html" class="sidenav_subnav_type_visited">PHOTOS</a></strong></div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <strong><a href="portraits.html" class="sidenav_subnav_type">Portraits</a></strong><br />
        <br />
        <strong><a href="architecture.html" class="sidenav_subnav_type">Architecture</a></strong><br />
        <br />
        <strong><a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a></strong><br />
        <br />
        <strong><a href="cal_history.html" class="sidenav_subnav_type_visited">California History</a></strong></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
