---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Curriculum Reform - Special Topics - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v4"><a href="index.html" id="rotator_home_link"></a></div>
<div id="insidebody">
<div id="insidecopy">
  <div id="insidecopy_text"><img src="images/titles/special_topics.jpg" alt="Special Topics" width="211" height="71" />
    <div id="subhead">CURRICULUM REFORM: A COMPARATIVE CHRONOLOGY OF UCSF IN THE CONTEXT OF NATIONAL REFORMS by Nancy Rockafellar<br />
     </div>
        <p><a href="#1860" class="bodylink">1860s: The Proprietary Years</a><br />
          <a href="#1870" class="bodylink">1870s: University Affiliation</a><br />
          <a href="#1880" class="bodylink">1880s: Innovations and Accountability through Exams</a><br />
          <a href="#1890" class="bodylink">1890s: Bacteriology and the Advent of Laboratory Instruction </a><br />
          <a href="#1900" class="bodylink">1900s: Full-time Instruction in Preclinical Sciences
          </a><br />
          <a href="#1910" class="bodylink">1910: The Flexner Report Provides Momentum for Reform</a> </p>
        <p><strong><a name="1860" id="1860"></a>1860s: The Proprietary Years
          </strong><br />
          In 1846 the first National Medical Convention (forerunner of the American Medical Association) convened to study American medical education. At this time, all medical schools, even those connected with Harvard University and the University of Pennsylvania, were proprietary, relying upon student fees for faculty salaries and overhead costs. At mid-century all that was needed to open a school was an interested group of potential lecturers and a suitable lecture hall. The National Medical Convention recommended that proprietary schools admit only those who had completed a satisfactory apprenticeship with a practitioner, require two terms of courses taught by at least seven different professors, and provide three months of dissecting work.
<p>In San Francisco, on November 5, 1864, Toland Medical College joined the ranks of the hundred or so proprietary medical schools in the nation, opening its doors and offering instruction to a class of eight students.</p>
 <div id="quote">
<div id="quote_top"></div>
<div id="quote_middle">
<span class="main_nav_text">Admission Requirements for Toland Medical College </span>
<p align="left">Students had to be at least 21 YEARS OLD, and have completed three years study under a respectable practitioner.</p>
<p align="left">Course of Study: Two Full Courses And A Medical Thesis </p>
Highlights: Extensive clinical study on site at the City-County Hospital by a faculty of nine, with many opportunities for performing autopsies in San Francisco's advantageous dissecting climate (cool summers). In March of 1865 the State legislature approved a dissection law permitting pauper bodies to be studied by accredited physicians. Hugh Toland urged students to study monographs and medical journals each day.<br/><br/></div><div id="quote_bottom"></div>
</div>
<p><strong><a name="1870" id="1870"></a>1870s: University Affiliation: Following National Examples
          </strong><br />
          NATIONAL: IN 1871 HARVARD MEDICAL SCHOOL INSTITUTED A THREE-YEAR GRADED CURRICULUM, A LONGER SCHOOL YEAR, AND WRITTEN EXAMS. PENNSYLVANIA, SYRACUSE AND MICHIGAN FOLLOWED SUIT BY THE END OF THE DECADE.
<p>Meanwhile, in San Francisco in 1870, the crowded City and County Hospital was relocated at the Portrero Nuevo site, many miles away from the medical college, separating students from the clinics. Negotiations began with the University of California Regents to link the Toland school with the university as an "affiliated college." Both Toland professors and faculty of the recently revived Cooper Medical College argue over university affiliation. In November of 1870, the regents established a Board of Medical Examiners of the University of California whose duty it was to examine all students applying for a medical college of the Pacific states and territories. Degrees would be conferred as recommended by faculty of their respective colleges, subject to approval by the board of regents. This placed all students from Toland Medical College and the Medical Department of the University of the Pacific under the jurisdiction of the University of California.</p>
<p>March 1873: Formal affiliation of Toland Medical College with the University of California took place under the guidance of <a href="daniel_gilman.html" class="bodylink">President Daniel Coit Gilman</a>.</p>
<P>NATIONAL: IN 1874 THE UNIVERSITY OF PENNSYLVANIA BUILT A TEACHING HOSPITAL EXPRESSLY FOR CLINICAL INSTRUCTION.
<p>1875-1878: Regents of the University of California, determined to improve medical instruction, voted to adopt a standard of study and graduation "not lower than that of the University of Pennsylvania or the Medical Department of Harvard University. " This resulted in the adoption in 1878 of a three-year course and new clinics.</p>
<p><strong><a name="1880" id="1880"></a>1880s: Innovations and Accountability through Exams</strong><br />
          Microscopy was taught at SF in the 1880s in connection with pathology, physiology and histology courses.        </p>
<p>1880: Yearly exams were required for advancement, with a final exam at the end of the third year.        </p>
<p>1882: A one-year position of interne in City and County Hospital was announced.        </p>
<p>1884: The academic year was extended to nine months.        </p>
<p>1885: Admission exams were required in English, arithmetic, geography, and elementary chemistry.        </p>
<p><strong><a name="1890" id="1890"></a>1890s: Bacteriology and the Advent of Laboratory Instruction
          </strong><br />
        In 1892 a special course of lectures on bacteriology was delivered by Professor George H. F. Nuttall, visiting from Johns Hopkins University.</p>
<div id="thumb"><a href="1868_photo18.html"><img src="images/story_thumbnails/dentistry_lab.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">Dentistry students explore the new science of bacteriology in 1894</div></div>In 1893 the Medical Department of the University of California announced a regular course in bacteriology that included classification and cultivation techniques, staining, and microscopy. To support this new area of instruction, the faculty ordered the complete apparatus for equipping a bacteriology lab from Berlin. This was the only "teaching laboratory of its kind on the Pacific Coast."        </p>
<p>NATIONAL: IN 1893 JOHNS HOPKINS SCHOOL OF MEDICINE OPENED. THE 1890s SAW THE ORGANIZATION OF THE NATIONAL ASSOCIATION OF MEDICAL COLLEGES (LATER THE ASSOCIATION OF AMERICAN MEDICAL COLLEGES). THIS ORGANIZATION RECOMMENDED ENTRANCE EXAMS, A THREE-YEAR COURSE OF INSTRUCTION, WRITTEN EXAMS, AND LABORATORY WORK IN CHEMISTRY, PATHOLOGY, AND HISTOLOGY. IN 1897 THE ASSOCIATION RECOMMENDED A FOUR-YEAR COURSE.        </p>
<div id="thumb"><a href="1899_photo4.html"><img src="images/story_thumbnails/pathology_lab.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">Pathology Lab</div></div>In 1895 a fourth year of instruction was added to the UC Medical Department, "in order to conform to the custom of Eastern Medical Colleges and the academic departments of this University." The senior year was devoted to clinical instruction in medicine and surgery, dispensary work, and more instruction in bacteriology, including demonstrations.
<p>Premedical preparation was upgraded to include ten subjects: algebra, plane geometry, civil government, chemistry, and botany, along with English, arithmetic, universal history, physics, and Latin.</p>
<p> In June 1897 the UC Academic Council recommended, and the Regents accepted, a course of instruction for premed students culminating in a Bachelor of Science degree.        </p>
<div id="thumb"><a href="theme_photo.html"><img src="images/story_thumbnails/sch_of_pharmacy_lab_1894.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">School of Pharmacy Lab 1894</div></div>In 1897 new courses in the Medical Department included an explanation of the X-ray apparatus discovered in 1895 by Roentgen.
<p>In October 1898 the Medical School moved into the newly completed Affiliated Colleges. The new site gave physical impetus to curriculum reform and expansion. Both the medical and dental departments maintained clinical facilities in downtown San Francisco, but moved their laboratory instruction to Parnassus.</p>
<p>May 1899: <a href="ancona.html" class="bodylink">Arnold D'Ancona</a>, a strong advocate of the full-time system of academic professors in medicine, became Dean of the Medical Department. </p>
<p><strong><a name="1900" id="1900"></a>1900s: Full-time Instruction in Preclinical Sciences/Developing a Dedicated Teaching Hospital</strong>          <br />
  1899-1902: UC President Wheeler and Dean D'Ancona began recruitment of nationally known scientists to fill academic full-time positions in the preclinical sciences of pathology, anatomy, and physiology.</p>
<p> In 1900 the Medical Department outlined its four-year course of study.        </p>
<div id="quote">
<div id="quote_top"></div>
<div id="quote_middle">
<span class="main_nav_text">Course of Study </span><br />
    <br />
    First Year -- Anatomy, Comparative and Human; Physiology, Comparative and Human; Histology; Materia Medica; Chemistry; Chemical and Histological laboratories; Dissections.
  <p>Second Year -- Anatomy; Physiology; Chemistry; Materia Medica; Pathology; Therapeutics; Dissections. Final exam at the end of the year in Anatomy, Physiology, Materia Medica and Chemistry. </p>
  <p>Third and Fourth Years -- Surgical Anatomy; Chemical Pathology; Hygiene; Bacteriology; Medical Jurisprudence; Therapeutics; Principles and Practice of Medicine; Principles and Practice of Surgery; Gynecology; Obstetrics; Diseases of Children; Nervous and Mental Diseases; Clinical Medicine; Clinical Surgery; Ophthalmology; Otology; Laryngology; Dispensary Clinics. </p>
  <p>"The course of study comprises clinical, didactic, and laboratory instruction. It is intended that the three methods shall constitute a systematic whole, but special prominence is given to the first. Full access is given to the City and County Hospital, a complete modern structure, containing five hundred beds and representing for observation nearly every known form of disease, including those peculiar to the tropics and South America." from W. C. Carey Jones, Illustrated History of the University of California, (Berkeley: Students Cooperative Society, 1901) p. 332, 333. </p>
</div>
<div id="quote_bottom"></div>
</div>


          <p>By 1902 salaried academic scientists chaired preclinical departments of pathology, anatomy, and physiology.          </p>
          <p>October 1902: President Wheeler declared the need for a teaching hospital, "where the sick poor may not only receive the best of treatment, but also contribute healing truths to mankind."          </p>
          <p>1904: UC Medical Department's upgraded admission requirements included "two years of preparatory work in a college of recognized standing." This caused an alarming drop in enrollment--only nine students matriculated in 1905.          </p>
          <p>NATIONAL: IN 1905 THE AMERICAN MEDICAL ASSOCIATION FOUNDED THE COUNCIL ON MEDICAL EDUCATION AND ITS FIRST SURVEY IN 1906 RATED THE UC MEDICAL DEPARTMENT AS "CLASS A."          </p>
          <p>1906: The San Francisco earthquake served as catalyst for moving the preclinical sciences to UC Berkeley to make room in the Medical School Building for a teaching hospital. The teaching labs were reconstructed at Berkeley and the Medical School Building was outfitted as a teaching hospital and opened its 75 beds in 1907. Students now trained in anatomy, physiology and chemical pathology at UC Berkeley before undertaking clinical training both at SFGH and the new UC Hospital on Parnassus.          </p>
          <p><strong><a name="1910" id="1910"></a>1910: The Flexner Report Provides Momentum for Reform
            </strong><br />
            1910: <a href="flexner_report.html" class="bodylink">The Flexner Report</a> praised the Medical Department's university affiliation and noted excellent science instruction at Berkeley, but criticized the school's scattered clinical facilities and the <a href="split_campus.html" class="bodylink">split campus</a>.          </p>
          <p>1912: The first full-time clinical chair was inaugurated at San Francisco with the hiring of a Professor of Obstetrics and Gynecology. In 1913 Dr. William Palmer Lucas was recruited to fill a full-time chair in Pediatrics. Implementation of the full-time system was relatively slow at the UC Medical School -- the next recruitments did not occur until <a href="porter.html" class="bodylink">Langley Porter</a> assumed the deanship and appointed <a href="kerr.html" class="bodylink">William J. Kerr</a> Professor of Medicine and <a href="naffziger.html" class="bodylink">Howard Naffziger</a> Professor of Surgery in the late 1920s.          </p>
        <p>1913-1914: <a href="hooper.html" class="bodylink">The Hooper Foundation</a>, located on Parnassus, became the site of basic research in pathophysiology under Dr. George Whipple. In 1921 Whipple was succeeded by <a href="meyer.html" class="bodylink">Dr. K. F. Meyer</a>, who developed a strong program in the pathogenesis of infectious diseases. During Meyer's directorship, select students rotated through the Hooper labs, and by the 1920s research fellowships were being offered to UC Medical Students.          </p>
        <p>August 11, 1914: The Board of Regents decided that "the compulsory fifth or so-called interne year be made requisite for granting the degree in Medicine for all students entering in 1914 and thereafter." As a result, no students graduated in the wartime year of 1918.</p>
          <p> In 1915 the new <a href="building_hospitals.html" class="bodylink">City-County Hospital</a> was completed, expanding clinical facilities for the city by adding 512 general beds, a 100-bed infectious disease hospital and a 200-bed tubercular hospital.          </p>
        <p>In 1917 the UC Hospital added 225 more beds to enhance clinical training at San Francisco. The three lower floors of the old Medical School building were converted from inpatient wards to an outpatient department.          </p>
          <p>NATIONALLY AND AT SAN FRANCISCO:<br />
            BY THE 1920s, THE BASIC PATTERN OF MEDICAL EDUCATION SETTLED INTO A STANDARD. <br />
            -
            AN UNDERGRADUATE DEGREE REQUIRED FOR ADMISSION<br />
            -
            HOSPITAL FACILITIES AND CLINICAL INSTRUCTION<br />
            -
            ONE-YEAR REQUIRED INTERNSHIP
            <br />
            -
            FOUR-YEAR CURRICULUM: TWO YEARS OF BASIC SCIENCE INSTRUCTION AND LABORATORY WORK AND TWO YEARS OF CLINICAL TRAINING<br />
            -
            SCIENCE TRAINING GRADUALLY INCLUDES LESS TRAINING IN ANATOMY AND MORE IN PHYSIOLOGY AND BIOCHEMISTRY <br/>
            <br/>
            <a href="special_topics.html" class="bodylink">Back to Special Topics</a><br/>
            </p>
          </p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="special_topics.html" class="sidenav_subnav_type_visited">SPECIAL TOPICS</a></strong></div>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
