---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Haile T. Debas - Biography - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><h2 class="title"><span class="title-primary">People</span></h2>
     <div id="subhead">HAILE T. DEBAS (1937- )</div>
<div id="thumb_people"><a href="photo_debas.html"><img src="images/story_thumbnails/debas.jpg" width="150" height="200" border="0" /></a></div>
Haile T. Debas was born in Asmara, Eritrea, in 1937.  Following undergraduate training in Addis Ababa, he received his M.D. from McGill University in 1963, and completed his surgical training at the University of British Columbia.  His postgraduate training included a year as a research fellow at the University of Glasgow/Western Infirmary in Scotland, and two years at UCLA as a Medical Research Council Scholar in gastrointestinal physiology.
     <p>After a year in private practice in the Yukon Territories and British Columbia, he joined the surgery faculty of the University of British Columbia in 1970.  He remained there until 1980, and then served on the faculty of UCLA (1980-1985) and the University of Washington (1985-1987).</p>
     <p>In 1987, Debas came to UCSF as chair of the Department of Surgery. During his tenure, UCSF became one of the country's leading centers for transplant surgery, the training of young surgeons, and basic and clinical research in surgery.  Debas achieved national recognition as a gastrointestinal investigator and made original contributions to the physiology, biochemistry, and pathophysiology of gastrointestinal peptide hormones.</p>
     <p>Dr. Debas served as Dean of the UCSF School of Medicine from 1993-2003. Under his leadership, the School became a national model for medical education, an achievement for which he was recognized with the 2004 Abraham Flexner Award of the AAMC.  Major initiatives included the formation of several interdepartmental and interdisciplinary centers of excellence, the development of the UCSF AIDS Research Institute, a redesign of the UCSF Human Genetics Program, and important changes in the medical school curriculum.</p>
     <p>In 1997, Haile T. Debas was appointed the seventh Chancellor of UCSF, agreeing to accept the appointment for a period of one year. Serving concurrently as both Chancellor and School of Medicine Dean, he played a key role in all of the major initiatives of the campus, including the development of UCSF Stanford Health Care, the campus at Mission Bay, and the UCSF Comprehensive Cancer Center.</p>
     <p>Dr. Debas has been Executive Director of UCSF Global Health Sciences (GHS) since its establishment in 2003.  GHS integrates UCSF expertise in the health, social, and biological sciences to focus on issues such as the global impact of diseases of poverty, chronic illness, and the worldwide threats of infectious diseases.</p>
     <p>Debas has held leadership positions with numerous membership organizations and professional associations.  He is a fellow of the American Academy of Arts and Sciences and a member of the Institute of Medicine. He currently serves on the United Nations Commission on HIV/AIDS and Governance in Africa and on the Committee on Science, Engineering, and Public Policy of the National Academy of Sciences.</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
