---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Susan Desmond-Hellman - Biography - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><h2 class="title"><span class="title-primary">People</span></h2>
     <div id="subhead">SUSAN DESMOND-HELLMAN (1936-)</div>
<p>Susan Desmond-Hellmann, MD, MPH, was born in Napa, California. Her father, a pharmacist, and mother, a teacher, raised the family of seven children in Reno, Nevada.
</p>
<p>
Desmond-Hellmann earned a Bachelor of Science degree at the University of Nevada, Reno in 1978 where she majored in pre-medicine. She continued on at UNR to earn her medical degree, graduating in 1982. Desmond-Hellmann later earned a master's degree in public health from UC Berkeley.
</p>
<p>
Desmond-Hellmann first came to UCSF in 1982 as an intern—an experience she says "transformed her" — and later served as chief resident. After completing her clinical training, she joined the UCSF faculty as associate adjunct professor of epidemiology and biostatistics and served two years as visiting faculty at the Uganda Cancer Institute, studying HIV/AIDS and cancer. Desmond-Hellmann then spent two years as a medical oncologist in private practice and afterward returned to clinical research.
</p>
<p>
Desmond-Hellmann worked for Genentech from 1995-2009, first as a clinical scientist. She was named chief medical officer in 1996 and executive vice president of development and product operations in 1999. Desmond-Hellmann served as president of product development at Genentech from March 2004-2009 and was responsible for preclinical and clinical development, process research and development, business development and product portfolio management.
</p>
<p>
In August of 2009, Desmond-Hellmann was named UCSF's ninth chancellor and became the first woman to hold the post. As chancellor, Desmond-Hellmann was actively involved in shaping biomedical policy and served as a member of the National Institutes of Health's advisory committee on the National Center for Advancing Translational Science. She also championed the new field of precision medicine, putting it on the roadmap for UCSF and the nation. To that end, in 2011 Desmond-Hellmann co-chaired a National Academy of Sciences (NAS) committee that produced the report, "Toward Precision Medicine: Building a Knowledge Network for Biomedical Research and a New Taxonomy of Disease." 
</p>
<p>
She led the OME Precision Medicine Summit at UCSF Mission Bay in May 2013, a first-of-its-kind conference, which drew 170 of the world's foremost thinkers, creators and innovators in detailed discussions on how to medicine more proactive, preventive and precise.
</p>
<p>
Under her leadership and guidance, UCSF's excellence in patient care, research and education, and its public mission grew along with its size.  UCSF's Mission Bay campus continued to thrive, adding the $1.5 billion state-of-the-art UCSF Medical Center at Mission Bay, which allowed for expansion of patient care services for women, children and cancer patients. "Mission Bay gives us new space and new opportunities for programs and to bring in new faculty," said Desmond-Hellmann. "It has allowed us to execute our mission of advancing health worldwide™ in ways that had been constrained. It's a huge uplift for everything we care about."
</p>
<p>
Desmond-Hellmann stepped down from chancellor of UCSF in March of 2014 to become the chief executive officer of the Bill &amp; Melinda Gates Foundation. Praising Desmond-Hellmann's contributions to UCSF, UC President Janet Napolitano said: "With acrobatic precision, the Chancellor developed and executed an ambitious and creative vision for the campus, while navigating it through one of the worst fiscal crises in UC's history. She has been a champion of diversity, transparency and public service. Development of the [UCSF] Benioff Children's Hospital and her innovations in health care delivery are but two examples of her impact, not just on UCSF but also on the community it serves and within the broader realm of global health."
</p>
<p>
Desmond-Hellmann has garnered many distinctions. She was listed in Fortune magazine's "Top 50 Most Powerful Women in Business" in 2001 and from 2003-2008, listed as a "Woman to Watch" by the Wall Street Journal from 2004-2006, Healthcare Businesswomen's Association 2006 "Woman of the Year," named to the Biotech Hall of Fame in 2007, was inducted into the American Academy of Arts and Sciences and elected to the Institute of Medicine in 2010, and awarded an honorary Doctor of Science degree by Princeton University in 2011.
</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
