---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Early Cancer Research - Special Topics - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a></div>
<div id="insidebody">
<div id="insidecopy">
  <div id="insidecopy_text"><img src="images/titles/special_topics.jpg" alt="Special Topics" width="211" height="71" />
    <div id="subhead">EARLY CANCER RESEARCH: THE LABORATORY OF EXPERIMENTAL ONCOLOGY, 1947-1953 by Nancy Rockafellar<br />
     </div>
     <div id="thumb3"><a href="theme_photo12.html"><img src="images/story_thumbnails/lab_exp_oncol6.jpg" width="150" height="200" border="0" /></a>
  <div id="caption3">Michael Shimkin, M.D., Chief of the Laboratory of Experimental Oncology </div></div>Although it was regarded as a regional school isolated in the Far West, the UC School of Medicine was able to compete effectively for federal research money in the years immediately following world war II, especially in the area of cancer research. By 1956 California had received 8.5 million dollars from the NCI (nearly 10% of the total NCI budget); second only to New York State. This success was due to the crucial placement of former UC faculty and students in Washington bureaucracy during the war. Michael Shimkin, a young NCI researcher who had graduated from the San Francisco medical school in 1937, was deputized by the NCI to set up a facility in San Francisco that would serve as one of the seven new sections of the postwar NCI -- the only one outside of Bethesda.
     <p>In 1947, a Laboratory of Experimental Oncology (LEO) was created as a collaborative effort between the city of San Francisco, The National Cancer Institute, and the UC School of Medicine. Created with the full support of Surgeon General Thomas Parran, the Laboratory of Experimental Oncology was literally an outlying colony of the NCI designed for clinical research; it filled this need until a large national clinical center opened in Bethesda in 1953. During its five years of operation (1947-1953), LEO investigators produced 124 scientific papers, based upon 605 "experimental treatments" conducted on 467 cancer patients admitted to the lab's experimental ward. By the time the lab closed in 1953, 90% of these patients had died, and 82% were autopsied as part of the laboratory's program.       </p>
     <p>The Laboratory of Experimental Oncology had a carefully constructed public image. The administrative staff was active in public relations, welcoming curious guests, inviting the press to view the lab, and keeping a careful record of the laboratory's press coverage. Scrapbook entries show Dr. Shimkin and colleagues traveling around the state, speaking to physicians at other hospitals and local medical societies, as well as to the general public. A series of photos taken to document the LEO's activities reveal the lab and hospital ward facilities in some detail and provide a rare glimpse of the tools of early postwar clinical research. </p>
     <div id="thumb2"><img src="images/story_thumbnails/early_cancer.jpg" width="333" height="150" border="0" usemap="#Map2" />
<map name="Map2" id="Map2">
<area shape="rect" coords="169,1,334,145" href="1940_photo9.html" />
<area shape="rect" coords="-1,3,163,146" href="1940_photo7.html" />
</map>
  <div id="caption4">LEFT: The Consultative Tumor board is pictured discussing UC cancer cases at Parnassus, ca. 1952. Chairman of the Board is Dr. David A. Wood (standing), who later became head of the cancer Research Institute at UCSF.<br />
    RIGHT: Dr. R. L. Byron performs a biopsy on a subcutaneous nodule of a cancer patient, assisted by Dr. K. H. Kelly and Mrs. Anna Lance.</div>
     </div>
       <div id="thumb2"><img src="images/story_thumbnails/early_cancer2.jpg" width="333" height="150" border="0" usemap="#Map3" />
<map name="Map3" id="Map3">
<area shape="rect" coords="170,1,330,146" href="theme_photo16.html" />
<area shape="rect" coords="-1,-3,167,156" href="theme_photo15.html" />
</map>
  <div id="caption4">LEFT: The LEO featured a wide array of clinical laboratory services. Here Mrs. Emma Klement, Miss Fauno Cordes and Miss Aline Littman perform blood counts in the hematology lab.<br />
    RIGHT: LEO staff are here weighing mice with transplanted cancer that have been treated with a new chemical. The LEO maintained an animal house for these and related studies.  </div>
       </div>
    <strong>References:</strong><br />
     <div id="footnotes">
308nm CRI-LEO. Records of the Laboratory of Experimental Oncology. Archives and Special Collections, UCSF Library and Center for Knowledge Management, San Francisco, CA.
       <p>Shimkin, Michael B. "Upon Man and Beast -- Adventures in Cancer Epidemiology: Presidential Address," Cancer Research 34 (July, 1974):1525-1535. </p>
     </div> <a href="special_topics.html" class="bodylink">Back to Special Topics</a><br/>
      <br/> <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="special_topics.html" class="sidenav_subnav_type_visited">SPECIAL TOPICS</a></strong></div>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
