---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Franklin Theodore Green - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
<!--
body {
    margin: 0px;
    background-color: #E6E6E6;
    background-image: url();
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
-->
</style>

</head>

<body onload="document.forms['cse-search-box'].elements['q'].focus();">
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">FRANKLIN THEODORE GREEN (1863-1944)</div>
<div id="thumb_people"><a href="photo_green.html"><img src="images/story_thumbnails/FT-Green.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Franklin Theodore Green was born May 5, 1863 in Nevada County, California, and acquired his secondary education in San Francisco. In 1880, he entered the California College of Pharmacy, and after graduating with distinction, was quickly appointed to the faculty of the college. By 1893 he had achieved the rank of Professor of Pharmaceutical Chemistry, and was on the Berkeley faculty in the Department of Chemistry. A valuable member of the affiliated colleges faculty, by 1901 he also held an appointment in the Medical Department and taught the new basic science discipline of “physiological chemistry” to pharmacy students in addition to the subjects of materia medica and chemistry. He was made dean of the College of Pharmacy in 1909, while serving as professor of pharmaceutical chemistry, and remained dean for the next sixteen years.
<p>Franklin Green’s tenure as dean of the College of Pharmacy marked a transition towards more intensive training in pharmaceutical chemistry for professional pharmacists, a focus prompted by the passage of the federal and state pure food and drugs laws in the early twentieth century. In addition to his duties as professor and dean, F. T. Green held several important civic positions, serving as chemist to the San Francisco Board of Health (1898-1902), long-time chemical milk commissioner to the city of San Francisco, and a member of the California Fish and Game Commission. In 1908 he became toxicologist to the Board of Health and also served as toxicologist for the San Francisco coroner’s office. In addition to these professional activities he remained active in the pharmacy trade, operating Green’s Pharmacy at the corner of Divisadero and Fell Streets in San Francisco.  </p>
<p>He was a prominent participant in professional organizations, and in 1896 he became President of the California Pharmaceutical Society. He was also a member of the California Section of the American Chemical Society, the Miner’s Society, the British Chemical Society, the California Academy of Sciences, the American Pharmaceutical Association, and the Veteran Druggists of California.</p>
<p> Franklin Green was a popular figure in the affiliated colleges, described by peers as “lively and genial”, and a person who “made friends easily.” He also pursued work in geology, mineral chemistry, and watercolor sketching, interests prompted by his friendship with John C. Muir. He retired from deanship of the college of pharmacy in 1925 due to ill health, but continued to teach until 1935. He died in 1944 at the age of 81, and was remembered as one of San Francisco pharmacy’s most “scholarly and colorful figures.” <br/>
  <br/>
</p>
</p>
          </p>
</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
</body>
</html>
