---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Zach W. Hall - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body onload="document.forms['cse-search-box'].elements['q'].focus();">
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">ZACH W. HALL </div>
<div id="thumb_people"><a href="photo_hall.html"><img src="images/story_thumbnails/Zach_Hall_300.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Zach Hall completed his B.S. degree in English at Yale University in 1958, and completed a Ph.D. in biochemistry at Harvard in 1966. He next moved to the West Coast and worked as a fellow in biochemistry at Stanford University from 1967 to 1968. After his postdoctoral training, he joined the faculty of the Department of Neurology at the Harvard Medical School, serving there for eight years.
<p>In 1976, Zach Hall was recruited to UCSF’s Department of Physiology to head a new Division of Neurobiology. At UCSF he created an interdepartmental neuroscience program, which led to UCSF’s rise to national leadership in the field, and acted as a model for stimulating cross-disciplinary research. 1987 he became Chair of the Department of Physiology, and in 1994 became head of the Biomedical Sciences Graduate Program.  </p>
<p>In 1994 he was appointed Director of the National Institute of Neurological Disorders and Stroke, an institution that had been in the forefront of brain research since 1950. As Director of NINDS he managed 23 intramural institute branches and laboratories with a staff of 700 scientists, physicians, and administrators, as well as supervising research funding in public and private institutions across the country. Noting the exciting state of neuroscience at this time, Hall stated that, “our job will be to provide the scientific leadership and institutional support to sustain these advances.”  </p>
<p>Dr. Hall returned to UCSF in 1998 to serve as Executive Vice Chancellor for Research, intent on making the developing Mission Bay campus “the most exciting and vibrant place in biomedical research.” In 2001 Dr. Hall became President and CEO of En Vivo Pharmaceuticals, a startup biotechnology company for developing drugs for neurodegenerative disease. From 2002 to 2005 he moved to southern California to be Senior Associate Dean for Academic Development and also Director of the Zilkha Neurogenetic Institute at the Keck School of Medicine at USC. From 2005 to 2007 he was first President of the California Institute for Regenerative Medicine, which was set up as a state agency for funding stem cell research in California under state Proposition 71.  </p>
<p>During his varied career as educator, investigator, and senior statesman of neuroscience, Dr. Hall has published more than 100 papers and reviews, and made fundamental contributions to the investigation of the neuromuscular junction. He has written the textbook An Introduction to Molecular Neurobiology, and was a founding editor of the journal Neuron. He has been a member of the scientific advisory committee for Neurobiology of the Howard Hughes Medical Institute, the Max-Planck Institutes in Germany, and the RIKEN Institute in Japan. He is a member of the Institute of Medicine, the American Academy of Arts and Sciences, the American Neurological Association and a Fellow of the American Association for the Advancement of Science. In 2003 he received the Purkynje Medal for Scientific Achievement from the Czech Academy of Science. </p>
       <br/>
       <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
</body>
</html>
