---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Harold A. Harper - Biography - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><h2 class="title"><span class="title-primary">People</span></h2>
     <div id="subhead">HAROLD A. HARPER (1911-1988)</div>
<div id="thumb_people"><a href="photo_harper.html"><img src="images/story_thumbnails/harper.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Harold Harper was born in San Francisco in 1911, and graduated in 1933 from the University of San Francisco with a B.Sc. degree. He pursued his education in biochemistry and completed a Ph.D. at the University of Southern California in 1941.
<p>Harper joined the UCSF faculty in 1953, when the university was expanding and decentralizing, and the San Francisco Medical Center was on the verge of becoming a separate campus of UC. During the 1950s, as Moffitt Hospital and the Medical Sciences buildings were being planned and built, Parnassus leaders debated over the role of graduate education in this developing health sciences university. Completion of hospital and research facilities, and the return of anatomy, physiology and biochemistry instruction to Parnassus in 1958, intensified these arguments. Harold Harper is remembered as a champion who waged “a courageous, effective, and continual fight for increased recognition of graduate activities in general and basic sciences in particular.”  </p>
<p>As of July 1, 1961, the Regents formally created an independent San Francisco Graduate Division with a Dean and governing Graduate Council separate from the northern section at Berkeley, which had supervised graduate education at Parnassus until this time.  </p>
<p>Fittingly, Harold Harper was named first dean of the UCSF Graduate Division and held this position for twenty years (1961-1981). At the time of its creation the UCSF Graduate Division offered graduate programs in anatomy, biochemistry, comparative biochemistry, biophysics, dental surgery, dentistry, endocrinology, history of medicine, medical physics, microbiology, nursing, nutrition, pathology, comparative pathology, pharmaceutical chemistry, pharmacology, comparative pharmacology and toxicology, physiology, and animal physiology.  By 1966, degree programs in oral biology, nursing science and psychology were added.  </p>
<p>As a biochemist, his research focused on the biochemistry of amino acid metabolism and nutrition and he is remembered for his skill in translating biochemistry to a variety of audiences “with clarity and erudition, but without professional compromise.” His interest in amino acids led him to crusade against quack treatments for cancer in the 1960s and 1970s. He taught biochemistry to students from all four schools and the Graduate Division at UCSF and during the turbulent 1960s was twice selected medical school Teacher of the Year. In 1959 he wrote the first of many editions of the textbook, <em>Harpers Physiological Chemistry</em>, later <em>Harper’s Biochemistry</em>.  Under his editorship this popular volume went through many editions and was published in a dozen languages.  </p>
<p>Dr Harper is remembered for his energy and enthusiasm as an advocate for basic science instruction. He was a tireless teacher who never took a sabbatical, and a violin player who remained interested in symphony, opera and ballet. He was a member of the California Academy of Sciences at San Francisco, and received the Health Professors Society Award in 1985, when he was praised as a “teacher’s teacher….exemplary, full of wisdom, direction, encouragement and curiosity.” He retired as Professor emeritus in 1979 and stepped down as Dean of the Graduate Division in 1980. He died in 1989. <br/>
  <br/>
      </p>
</p>
</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
