---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Healthcare Teaching - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <h2 class="title"><span class="title-primary">Photos</span></h2>
<div id="subhead">HEALTHCARE, RESEARCH &amp; TEACHING</div>
<a href="healthcare.html" class="bodylink">Healthcare</a><br/>
    <a href="healthcare_research.html" class="bodylink">Research</a><br />
    Teaching<br/>
  <br />
<h3>Teaching</h3>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo13.html"><img src="images/photo_thumbnails/CaliforniaCollegeofPharmacy.jpg" alt="California College of Pharmacy Proceedings" width="113" height="150" border="0" /></a><div id="photo_caption" aria-hidden="true">California College of Pharmacy Proceedings</div>
</div>
<div id="photo_thumb"><a href="1868_photo18.html"><img src="images/photo_thumbnails/dentistry_lab.jpg" alt="Dental Clinics" width="113" height="150" border="0" /></a><div id="photo_caption" aria-hidden="true">Dental Clinics</div>
</div>
<div id="photo_thumb"><a href="1868_photo20.html"><img src="images/photo_thumbnails/dentistry_microscopes.jpg" alt="Dentistry Bacteriology Lab, 1894" border="0" /></a><div id="photo_caption" aria-hidden="true">Dentistry Bacteriology Lab, 1894</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_photo14.html"><img src="images/photo_thumbnails/lab_early_1900s.jpg" alt="Dentistry prosthetics lab (early 1900s)" border="0" /></a><div id="photo_caption" aria-hidden="true">Dentistry prosthetics lab</div>
</div>
<div id="photo_thumb"><a href="1868_photo11.html"><img src="images/photo_thumbnails/toland_hall_surgeries_stereo_opticon.jpg" alt="Dissecting room, c. 1870" border="0" /></a><div id="photo_caption" aria-hidden="true">Dissecting room, c. 1870</div>
</div><div id="photo_thumb"><a href="theme_photo5.html"><img src="images/photo_thumbnails/flexner_report_cover1.jpg" alt="Flexner report, front page" border="0" /></a><div id="photo_caption" aria-hidden="true">Flexner report, front page</div>
</div></div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="theme_photo5_2.html"><img src="images/photo_thumbnails/flexner_report_cover2.jpg" alt="Flexner report, p192" border="0" /></a><div id="photo_caption" aria-hidden="true">Flexner report, p192</div>
</div>
  <div id="photo_thumb"><a href="theme_photo5_3.html"><img src="images/photo_thumbnails/flexner_report_cover3.jpg" alt="Flexner report, p193" border="0" /></a><div id="photo_caption" aria-hidden="true">Flexner report, p193</div>
</div><div id="photo_thumb"><a href="1899_photo19.html"><img src="images/photo_thumbnails/newspaper-headline.jpg" alt="Nurses training school, announcement" border="0" /></a><div id="photo_caption" aria-hidden="true">Nurses training school, announcement</div>
</div></div>
<div id="photo_thumb_holder">
  <div id="photo_thumb"><a href="1899_photo20.html"><img src="images/photo_thumbnails/First-graduation-1910.jpg" alt="Nurses training school, first graduation" border="0" /></a><div id="photo_caption" aria-hidden="true">Nurses training school, first graduation</div>
</div>
  <div id="photo_thumb"><a href="1919_photo18.html"><img src="images/photo_thumbnails/nurses_toland_hall_2_1941.jpg" alt="Nursing students, 1941" border="0" /></a><div id="photo_caption" aria-hidden="true">Nursing students, 1941</div>
</div><div id="photo_thumb"><a href="1899_photo4.html"><img src="images/photo_thumbnails/pathology_lab.jpg" alt="Pathology laboratory, c.1902" border="0" /></a><div id="photo_caption" aria-hidden="true">Pathology laboratory, c.1902</div>
</div></div>
<div id="photo_thumb_holder">
  <div id="photo_thumb"><a href="1919_photo10.html"><img src="images/photo_thumbnails/pathology_lab_I.jpg" alt="People standing in the Pathology laboratory, c.1928" border="0" /></a><div id="photo_caption" aria-hidden="true">Pathology laboratory, c.1928</div>
</div>
  <div id="photo_thumb"><a href="1919_photo10_2.html"><img src="images/photo_thumbnails/pathology_lab_II.jpg" alt="People using a microscope in the Pathology laboratory, c.1928" border="0" /></a><div id="photo_caption" aria-hidden="true">Pathology laboratory, c.1928</div>
</div><div id="photo_thumb"><a href="1868_photo21.html"><img src="images/photo_thumbnails/pharmacy_commencement.jpg" alt="Pharmacy Commencement invitation, 1893" border="0" /></a><div id="photo_caption" aria-hidden="true">Pharmacy Commencement invitation, 1893</div>
</div></div>
<div id="photo_thumb_holder">
  <div id="photo_thumb"><a href="theme_photo.html"><img src="images/photo_thumbnails/sch_of_pharmacy_lab_1894.jpg" alt="Pharmacy lab, 1894" border="0" /></a><div id="photo_caption" aria-hidden="true">Pharmacy lab, 1894</div>
</div>
  <div id="photo_thumb"><a href="1899_photo14_3.html"><img src="images/photo_thumbnails/lecture_hall.jpg" alt="Pharmacy lecture hall, 1906" border="0" /></a><div id="photo_caption" aria-hidden="true">Pharmacy lecture hall, 1906</div>
</div><div id="photo_thumb"><a href="1899_photo14_2.html"><img src="images/photo_thumbnails/microscope-laboratory.jpg" alt="Pharmacy microscopy lab" border="0" /></a><div id="photo_caption" aria-hidden="true">Pharmacy microscopy lab</div>
</div></div>
<div id="photo_thumb_holder">
  <div id="photo_thumb"><a href="1919_photo2.html"><img src="images/photo_thumbnails/portrait_bear3.jpg" alt="UC President's Office" border="0" /></a><div id="photo_caption" aria-hidden="true">UC President's Office</div>
</div>
  <div id="photo_thumb"><a href="1959_photo18.html"><img src="images/photo_thumbnails/prosthetics-lab.jpg" alt="Dentistry Prosthetics Lab (mid-/late-1900s)" border="0" /></a><div id="photo_caption" aria-hidden="true">Dentistry Prosthetics Lab</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header">PHOTOS</div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenav_subnav_type">Portraits</a><br />
        <br />

        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenavtype sidenav_subnav_type_visited">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
