---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Healthcare - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><img src="images/titles/photos.jpg" alt="Photos" width="106" height="71" />
    <div id="subhead">HEALTHCARE, RESEARCH &amp; TEACHING</div>
Health Care<a href="healthcare_research.html" class="bodylink"><br />
Research</a><br/>
    <a href="healthcare_teaching.html" class="bodylink">Teaching</a><br/>
  <br />
<div id="subhead2">Health Care</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo6.html"><img src="images/photo_thumbnails/medkit2.jpg" width="113" height="150" border="0" /></a><div id="photo_caption">19th century medical kit</div>
</div>
<div id="photo_thumb"><a href="1868_photo7.html"><img src="images/photo_thumbnails/surgicalkit.jpg" width="113" height="150" border="0" /></a><div id="photo_caption">19th century surgical kit</div>
</div>
<div id="photo_thumb"><a href="1899_photo10.html"><img src="images/photo_thumbnails/county_hospital_ward_1890.jpg" border="0" /></a><div id="photo_caption">City &amp; County Hospital, Mens Ward</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_photo16.html"><img src="images/photo_thumbnails/mens_ward_1915.jpg" border="0" /></a><div id="photo_caption">UC Hospital, Men's Ward, 1915</div>
</div>
<div id="photo_thumb"><a href="1899_photo15.html"><img src="images/photo_thumbnails/operating_room_med_school_interior.jpg" border="0" /></a><div id="photo_caption">UC Hospital, operating room, 1913</div>
</div>
<div id="photo_thumb"><a href="1899_photo23.html"><img src="images/photo_thumbnails/surgeryteam_ucsf.jpg" border="0" /></a><div id="photo_caption">UC Hospital, operating room, 1924</div>
</div></div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_photo17.html"><img src="images/photo_thumbnails/nursery_1912.jpg" border="0" /></a><div id="photo_caption">UC Hospital, Pediatrics ward, 1912</div>
</div>
<div id="photo_thumb"><a href="1940_photo4.html"><img src="images/photo_thumbnails/genhosp30_ward1.jpg" border="0" /></a><div id="photo_caption">WWII Base Hospital #30 ward</div>
</div>
<div id="photo_thumb"><a href="1959_photo19.html"><img src="images/photo_thumbnails/clinical-pharmacy.jpg" border="0" /></a><div id="photo_caption">Clinical Pharmacy</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1959_photo9.html"><img src="images/photo_thumbnails/medical-records.jpg" border="0" /></a><div id="photo_caption">Medical Records, c. 1980</div>
</div>
<div id="photo_thumb"><a href="1959_photo3.html"><img src="images/photo_thumbnails/mobile-clinic-1966.jpg" border="0" /></a><div id="photo_caption">Mobile Dental Clinic, 1966</div>
</div>
<div id="photo_thumb"><a href="1959_photo8.html"><img src="images/photo_thumbnails/mobile_dentistry_1974.jpg" border="0" /></a><div id="photo_caption">Mobile Dental Clinic, 1974</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="photos.html" class="sidenav_subnav_type_visited">PHOTOS</a></strong></div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <strong><a href="portraits.html" class="sidenav_subnav_type">Portraits</a></strong><br />
        <br />
        <strong><a href="architecture.html" class="sidenav_subnav_type">Architecture</a></strong><br />
        <br />
        <strong><a href="healthcare.html" class="sidenav_subnav_type_visited">Healthcare, Research & Teaching</a></strong><br />
        <br />
        <strong><a href="cal_history.html" class="sidenav_subnav_type">California History</a></strong></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
