---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Healthcare Research - A History of UCSF </title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <div id="subhead">HEALTHCARE, RESEARCH &amp; TEACHING</div>
<a href="healthcare.html" class="bodylink">Healthcare</a><br />
Research<br/>
    <a href="healthcare_teaching.html" class="bodylink">Teaching</a><br/>
  <br />
<h4>Research</h4>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1940_photo14_2.html"><img src="images/photo_thumbnails/biomechanics1.jpg" alt="3 people working in the Biomechanics Laboratory" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Biomechanics Laboratory</div>
</div>
<div id="photo_thumb"><a href="1940_photo14.html"><img src="images/photo_thumbnails/biomechanics2.jpg" alt="4 people working in the Biomechanics Laboratory" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Biomechanics Laboratory</div>
</div>
<div id="photo_thumb"><a href="theme_photo15.html"><img src="images/photo_thumbnails/lab_clin_biochem.jpg" alt="Laboratory of Experimental Oncology (Mrs. Emma Klement, Miss Fauno Cordes and Miss Aline Littman perform blood counts in the hematology lab.)" /></a><div class="photo_caption" aria-hidden="true">Laboratory of Experimental Oncology</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="theme_photo16.html"><img src="images/photo_thumbnails/lab_exp_oncol2.jpg" alt="Laboratory of Experimental Oncology (LEO staff weighing mice.)" /></a><div class="photo_caption" aria-hidden="true">Laboratory of Experimental Oncology</div>
</div>
<div id="photo_thumb"><a href="1940_photo9.html"><img src="images/photo_thumbnails/lab_exp_oncol.jpg" alt="Laboratory of Experimental Oncology - biopsy" /></a><div class="photo_caption" aria-hidden="true">Laboratory of Experimental Oncology - biopsy</div>
</div>
<div id="photo_thumb"><a href="1940_photo7.html"><img src="images/photo_thumbnails/lab_exp_oncol5.jpg" alt="Laboratory of Experimental Oncology - Consultative Tumor Board, 1952" /></a><div class="photo_caption" aria-hidden="true">Laboratory of Experimental Oncology - Consultative Tumor Board, 1952</div>
</div></div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1959_photo4.html"><img src="images/photo_thumbnails/extramural-research-funds-1.jpg" alt="Research funding, 1957-89" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Research funding, 1957-89</div>
</div>
<div id="photo_thumb"><a href="1959_photo24.html"><img src="images/photo_thumbnails/Conant-and-Volberding_1981.jpg" alt="AIDS research, Conant &amp; Volberding" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">AIDS research, Conant &amp; Volberding</div>
</div>
<div id="photo_thumb"><a href="1959_photo23.html"><img src="images/photo_thumbnails/MRI_crew.jpg" alt="MRI, 1981" /></a><div class="photo_caption" aria-hidden="true">MRI, 1981</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1959_photo17.html"><img src="images/photo_thumbnails/Atchley_Koenig_Muller_1984.jpg" alt="Medical Anthropology, 1984" /></a><div class="photo_caption" aria-hidden="true">Medical Anthropology, 1984</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header">PHOTOS</div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenav_subnav_type">Portraits</a><br />
        <br />

        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenavtype sidenav_subnav_type_visited">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
