---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Healthcare - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <div id="subhead">HEALTHCARE, RESEARCH &amp; TEACHING</div>
Health Care<a href="healthcare_research.html" class="bodylink"><br />
Research</a><br/>
    <a href="healthcare_teaching.html" class="bodylink">Teaching</a><br/>
  <br />
<h4>Health Care</h4>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo6.html"><img src="images/photo_thumbnails/medkit2.jpg" alt="19th century medical kit" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">19th century medical kit</div>
</div>
<div id="photo_thumb"><a href="1868_photo7.html"><img src="images/photo_thumbnails/surgicalkit.jpg" alt="19th century surgical kit" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">19th century surgical kit</div>
</div>
<div id="photo_thumb"><a href="1899_photo10.html"><img src="images/photo_thumbnails/county_hospital_ward_1890.jpg" alt="City &amp; County Hospital, Mens Ward" /></a><div class="photo_caption" aria-hidden="true">City &amp; County Hospital, Mens Ward</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_photo16.html"><img src="images/photo_thumbnails/mens_ward_1915.jpg" alt="UC Hospital, Men's Ward, 1915" /></a><div class="photo_caption" aria-hidden="true">UC Hospital, Men's Ward, 1915</div>
</div>
<div id="photo_thumb"><a href="1899_photo15.html"><img src="images/photo_thumbnails/operating_room_med_school_interior.jpg" alt="UC Hospital, operating room, 1913" /></a><div class="photo_caption" aria-hidden="true">UC Hospital, operating room, 1913</div>
</div>
<div id="photo_thumb"><a href="1899_photo23.html"><img src="images/photo_thumbnails/surgeryteam_ucsf.jpg" alt="UC Hospital, operating room, 1924" /></a><div class="photo_caption" aria-hidden="true">UC Hospital, operating room, 1924</div>
</div></div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_photo17.html"><img src="images/photo_thumbnails/nursery_1912.jpg" alt="UC Hospital, Pediatrics ward, 1912" /></a><div class="photo_caption" aria-hidden="true">UC Hospital, Pediatrics ward, 1912</div>
</div>
<div id="photo_thumb"><a href="1940_photo4.html"><img src="images/photo_thumbnails/genhosp30_ward1.jpg" alt="WWII Base Hospital #30 ward" /></a><div class="photo_caption" aria-hidden="true">WWII Base Hospital #30 ward</div>
</div>
<div id="photo_thumb"><a href="1959_photo19.html"><img src="images/photo_thumbnails/clinical-pharmacy.jpg" alt="Clinical Pharmacy" /></a><div class="photo_caption" aria-hidden="true">Clinical Pharmacy</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1959_photo9.html"><img src="images/photo_thumbnails/medical-records.jpg" alt="Medical Records, c. 1980" /></a><div class="photo_caption" aria-hidden="true">Medical Records, c. 1980</div>
</div>
<div id="photo_thumb"><a href="1959_photo3.html"><img src="images/photo_thumbnails/mobile-clinic-1966.jpg" alt="Mobile Dental Clinic, 1966" /></a><div class="photo_caption" aria-hidden="true">Mobile Dental Clinic, 1966</div>
</div>
<div id="photo_thumb"><a href="1959_photo8.html"><img src="images/photo_thumbnails/mobile_dentistry_1974.jpg" alt="Mobile Dental Clinic, 1974" /></a><div class="photo_caption" aria-hidden="true">Mobile Dental Clinic, 1974</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header">PHOTOS</div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenav_subnav_type">Portraits</a><br />
        <br />

        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenavtype sidenav_subnav_type_visited">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
