---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>The Hooper Foundation - Special Topics - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text">
  <h2 class="title"><span class="title-primary">Special Topics</span></h2>
     <div id="subhead">THE HOOPER FOUNDATION by Joseph LaDou, M.D.<br />
     </div>
<div id="thumb"><a href="1899_photo28.html"><img src="images/story_thumbnails/hooper_foundation_old_vets_building.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">The Hooper Foundation</div></div>The Hooper Foundation was the first medical research foundation in the United States incorporated into a university. On Commencement Day, May 14, 1913, Mrs. Sophronia Hooper transferred to the Regents of the University of California certain valuable property to serve as a foundation for an institute of medical research. The institute endowed in memory of her husband, George Williams Hooper, San Francisco lumber merchant and philanthropist, was formally opened on March 7, 1914. Later, the entire Hooper estate became an endowment for the administration of the Hooper Foundation.
     <p>The Declaration of Trust stated:
       <br />
       "The George Williams Hooper Foundation, which shall be conducted and maintained in San Francsico, California and shall be managed as a department of the University of California." . . . . "The net income of the Endowment Fund shall be extended in the maintenance and conduct of said School of Medical Research which shall conduct and carry on investigations in the sciences and arts of hygiene, medicine and surgery; also in the nature and cause of diseases and in the methods of its prevention and treatment, and shall disseminate gratuitously all knowledge so acquired."       </p>
     <p>The first Director, George Hoyt Whipple, was recruited from Johns Hopkins Medical School by UC President Benjamin Ide Wheeler and UC medical dean Herbert C. Moffitt. Whipple was well known for his studies of liver metabolism and the relationship of the liver to blood formation. His work, done in part at the Hooper Foundation, led to award of the Nobel Prize along with George Minot and William P. Murphy in 1934. The three investigators established that a substance in liver would cure pernicious anemia.       </p>
     <p>Whipple brought with him Dr. Charles W. Hooper (no relation to the donors) from Hopkins, and soon interested <a href="meyer.html" class="bodylink">Karl F. Meyer</a> of Berkeley's Department of Pathology and Bacteriology to join the group. Ernest Walker, recently returned from the Philippines, joined the staff and continued his investigtions in tropical diseases--amebic dysentery, leishmaniasis, and leprosy. Walter Alvarez came to the Hooper Foundation on a part-time basis, the rest of his time devoted to clinical activities. Other clinician researchers included Frank Hinman, <a href="kerr.html" class="bodylink">William Kerr</a>, and Jean Cooke.       </p>
    <div id="thumb"><a href="theme_photo7.html"><img src="images/story_thumbnails/hooper_foundation.jpg" width="200" height="150" border="0" /></a>
  <div id="caption">Another view of the Hooper Foundation on the Parnassus campus (right rear).</div></div>After Whipple, Meyer and Walker recovered from influenza during the great epidemic, Whipple as head of the Department of Research Medicine further involved the Hooper Foundation in the teaching and clinical activities of the medical school. In 1920, Whipple was elected Dean of the medical school to succeed Herbert C. Moffitt. In 1921, Dr. Whipple left the Hooper Foundation to organize the new medical school of the University of Rochester, and his post as director was taken by Karl F. Meyer who held it for thirty-three years. Under his guidance the Hooper Foundation became recognized throughout the world as a pioneer center for research on diseases of animals transmissible to man. Dr. Meyer also was responsible for the establishment of basic procedures relating to consumer health for the canning industry of the Untied States.
     <p> In 1913, the School of Veterinary Medicine had moved to the Davis campus of the University of California. Its building on the San Francisco campus, therefore, could become the home of the Hooper Foundation. This building would remain the home of the Hooper Foundation for the ensuing fifty years. Until 1921, the laboratories of the institute were divided between experimental pathology, physiology, parasitology and chemotherapy, biochemistry, bacteriology and immunology. By 1939, additional laboratories for work in experimental urology, neurosurgery, surgical anatomy, dentistry, tropical medicine, otology, and canning technology were developed, along with a special laboratory for plague research.       </p>
     <p>The Hooper Foundation accepted responsibility for investigating a succession of epidemics, and its achievements and contribution to the health of California were no less than monumental. Outbreaks of botulism, brucellosis, encephalitis, mussel poisoning, plague, psittacosis, relapsing fever, and other infections were in turn studied in both the field and the Hooper Foundation laboratories with remarkable success.       </p>
     <p>During the early period of the Hooper Foundation, studies were conducted on typhoid and parathyphoid carrier states, on the diagnosis of dysentery, and the bacteriology of Malta fever. The genus Brucella was identified and named, a skin test for epidemiologic investigations of this disease in goats was developed, and Burcella was recognized as an intracellular parasite. Brucellosis was identified as an important infection of packing-house employees. During World War I the anaerobes were classified and tetanus spore carriers were recognized.       </p>
     <p>Since 1919 the Hooper Foundation was largely, if not solely, responsible for the investigation that led to the control of botulism in the commercial canning industry. Purification of the botulinus toxin was accomplished in 1928. The Hooper Foundation was instrumental in planning and developing the cannery inspection service and gave advice to the canneries that all but eliminated botulism in canned goods by 1945.       </p>
     <p>Until 1959, the Hooper had been mostly a microbiological institute. In the years that followed the retirement of Karl F. Meyer, the Hooper Foundation became involved in international research in tropical diseases, and followed Meyer's advice by taking greater interest in epidemiology, genetics, and the study of people in increasingly complex societies. </p>
     <strong>References:</strong> <br/>
      <div id="footnotes">Hublitz, Erika. Beginnings of the George Williams Hooper Foundation of the University of California San Francisco. In AR 91-30, G. W. Hooper Foundation and Department of Epidemiology and International Health, Archives and Special Collections, UCSF Library and Center for Knowledge Management, San Francisco, CA.
          <p>Meyer, Karl Friedrich. Coping with Catastrophy. Eighth Annual Service Award, The Forty-Niners, Shearton-Blackstone Hotel, Chicago, Illinois, January 21, 1961. </p>
     </div><a href="special_topics.html" class="bodylink">Back to Special Topics</a><br/>
      <br/> <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="special_topics.html" class="sidenav_subnav_type_visited">SPECIAL TOPICS</a></strong></div>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
