---
---
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}

  <div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>

  <div id="homebody">
    <div id="homecopy">
      {% include nav.html %}
      <div id="homecopy_text"> Celebrating the rich heritage of UCSF, from its origins in early
        San Francisco to its place today at the forefront of biomedical
        technology, research, education, and health care. This history
        charts the development of the Schools of Dentistry, Medicine,
        Nursing, and Pharmacy, the Graduate Division, and the UCSF
        Medical Center.</div>
    </div>
    <div id="sidebar">
      <div id="sidenav">
      {% include search_include.html %} <br />
        <div id="sidenavtype"><a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
            <br/>
            <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
            <br/>
            <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
            <br/>
            <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
            <br/>
            <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
