---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
<!--
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #E6E6E6;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
-->
</style>
</head>

<body onload="document.forms['cse-search-box'].elements['q'].focus();">
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
  <div id="flash">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="900" height="314">
        <param name="movie" value="images/intro.swf" />
        <param name="quality" value="high" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="images/intro.swf" width="900" height="314">
        <!--<![endif]-->
          <img src="images/home_header.jpg" width="900" height="314" />
        <!--[if !IE]>-->
        </object>
          <!--<![endif]-->
      </object>
  </div>
  <div id="gradient"><img src="images/gradient.jpg" /></div>
  <div id="homebody">
    <div id="homecopy">
      <div id="nav">
        <ul id="main_nav"  >
          <li><a href="story.html" class="main_nav_text"><strong>1868 - 1898</strong></a></li>
          <li><img src="images/divider.jpg" /></li>
          <li><a href="1899.html" class="main_nav_text"><strong>1899 - 1918</strong></a></li>
          <li><img src="images/divider.jpg" /></li>
          <li><a href="1919.html" class="main_nav_text"><strong>1919 - 1939</strong></a></li>
          <li><img src="images/divider.jpg" /></li>
          <li><a href="1940.html" class="main_nav_text"><strong>1940 - 1958</strong></a></li>
          <li><img src="images/divider.jpg" /></li>
          <li><a href="1959.html" class="main_nav_text"><strong>1959 - 1989</strong></a></li>
          <li><img src="images/divider.jpg" /></li>
          <li><a href="1990.html" class="main_nav_text"><strong>1990 - 2000</strong></a></li>
          <li><img src="images/divider.jpg" /></li>
          <li><a href="2000.html" class="main_nav_text"><strong>2000</strong>+</a></li>
        </ul>
      </div>
      <div id="homecopy_text"> Celebrating the rich heritage of UCSF, from its origins in early
        San Francisco to its place today at the forefront of biomedical
        technology, research, education, and health care. This history
        charts the development of the Schools of Dentistry, Medicine,
        Nursing, and Pharmacy, the Graduate Division, and the UCSF
        Medical Center.</div>
    </div>
    <div id="sidebar">
      <div id="sidenav">
      {% include search_include.html %} <br />
        <div id="sidenavtype"><a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
            <br/>
            <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
            <br/>
            <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
            <br/>
            <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
            <br/>
            <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}
</div>
</body>
</html>
