---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>William J. Kerr - Biography - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v4"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text">
  <img src="images/titles/people.jpg" alt="People" width="110" height="71" />
     <br />
     <div id="subhead">WILLIAM J. KERR (1889 - 1965)</div>
<div id="thumb_people"><a href="1919_photo_kerr.html"><img src="images/story_thumbnails/kerr_portrait.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
William J. Kerr was born in 1889, earned an undergraduate degree from UC Berkeley in 1912, and received his medical training at Harvard Medical School, graduating in 1915. Dr. Kerr came to the UC faculty and by 1922 was named associate professor in medicine. He was appointed first full-time chair of the division of Medicine in 1927 and served alongside the full-time Chair of surgery, Howard C. Naffziger. His relationship with the eminent chair of surgery was often fraught with difficulty, but he directed the division of medicine with creativity, pursuing his special interest in cardiology.
     <p> He is perhaps known in retrospect for his role in convincing the legislature to allocate additional funding for a special floor for cardiovascular research in the Moffitt Hospital building. Fifty thousand dollars was granted to strengthen the foundation of the new hospital and a shell of the thirteenth floor was held for research. When National Heart Institute funds became available, UCSF had research space ready, and under Dr. Kerr's influence a Cardiovascular Board developed research activities on campus. This board dedicated itself to creation of the Cardiovascular Research Institute (CVRI) and the floor plan of the thirteenth floor made participation by various departments in a single integrated unit a physical reality. With the recruitment of Julius Comroe, cardiovascular research thrived at UCSF and demonstrated the value of interdisciplinary, interdepartmental research. <br/>
       <br/>
         </p>
         </p>
         </p>
         </p>
          </p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
