---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lloyd M. Kozloff - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">LLOYD M. KOZLOFF</div>
<div id="thumb_people"><a href="photo_kozloff.html"><img src="images/story_thumbnails/Kozloff.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Lloyd M. Kozloff was born in Chicago and earned a B.S. degree in 1943 and a Ph.D. in biochemistry in 1948 at the University of Chicago. After graduation, he joined the University of Chicago, Division of Biological Sciences faculty as assistant professor of biochemistry and was promoted to full professor in 1961. His research interests focused on biochemical studies of virus replication and he helped pioneer the use of isotopic tracer techniques in biological systems, working with bacterial viruses or bacteriophage. He was first to demonstrate the transfer of parental viral DNA to viral progeny and has published more than 85 scientific papers in journals and sixteen scientific reviews. He also studied biogenic nucleation and holds a patent for a technique for protecting plants against frost injury.
<p>In the mid 1960s, Dr. Kozloff moved from the University of Chicago to the University of Colorado Health Sciences Center in Denver as professor of microbiology, continuing his work in bacterial genetics and acting as one of three founding editors of a seminal new publication, the <em>Journal of Virology</em>, in 1967.  </p>
<p>Lloyd Kozloff came to UCSF in 1980. He was appointed Professor of Microbiology and Immunology and served as dean of the Graduate Division from 1981 to 1991. As one who had participated in some of the early interdisciplinary collaborations that led to landmark developments in molecular biology at Cold Spring Harbor, he brought valuable perspective to the thriving graduate programs at UCSF. In the 1980s, the Program in Biological Sciences (PIBS) and the Biomedical Sciences (BMS) were developing at Parnassus and the Graduate Division became responsible for a growing number of postdoctoral students in biological, physical, and social sciences. The stunning discoveries of UCSF’s research scientists in the 1970s were, by the 1980s, being recognized and commercialized through biotechnology and bioengineering, producing many job opportunities for post-docs in industry as well as in dentistry, medicine, nursing, and pharmacy.  </p>
<p>Dr. Kozloff retired in 1993, and the Lloyd M. Kozloff scholarship fund for support for Ph.D. candidates was initiated in his honor. In 2005, he received the Distinguished Service Award for outstanding leadership and significant contributions from the Division of Biological Sciences, the Pritzker School of Medicine at the University of Chicago. <br/>
  <br/>
</p>
</p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
