---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Joanne Lewis - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v2"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">JOANNE LEWIS</div>
<div id="thumb_people"><a href="photo_lewis.html"><img src="images/story_thumbnails/J_Lewis.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Joanne Lewis was a key administrative figure on the UCSF campus from the early 1960s until she retired in 1991. She is particularly remembered for her role as co-founder of the UCSF Black Caucus, which was established at San Francisco in early May of 1968, in the wake of the assassination of Dr. Martin Luther King, Jr.
<p>Joanne Lewis came to the San Francisco campus in 1961, with administrative skills honed by working for the tuberculosis association. Hired to provide secretarial assistance to Dr. Hugh Fudenberg of the Department of Medicine, she quickly earned a reputation for tenacity and skill.  She was later appointed to work in the Dean’s office at San Francisco General with Dr. Moses “Mish” Grossman, where she stayed until 1972 when Chancellor Philip R. Lee called her back to the Parnassus campus to be the first Affirmative Action Coordinator for UCSF.  </p>
<p>With the shock of the assassination of Dr. Martin Luther King on April 4, 1968, African-Americans at UCSF organized into a “Black Caucus” to further equality on campus. Joanne Lewis was one of this group of campus leaders; she organized the initial meeting and helped develop committees, publish a newsletter, and compile accurate information on campus conditions that required active reform.  Throughout the late 1960s and 1970s, the Black Caucus worked to ease segregation in the workforce, to provide more job opportunities for qualified minority applicants, and lobbied for a critical mass of minority students in all four professional schools. The organization was most active during the early 1970s, under a sympathetic Chancellor Philip Lee, and continued to sustain campus progress under Chancellors Francis Sooy and Julius Krevans.  </p>
<p>Joanne Lewis remained on the San Francisco campus until the late 1970s, when she left to become California’s first director of Fair Employment and Housing in the administration of Governor Jerry Brown. She returned to UCSF in 1983 to serve as director of Project Management in the Facilities Department, and became Assistant Vice Chancellor for Capital Projects and Facilities Management. Joanne Lewis received Martin Luther King Jr. award, and, in 1998, was awarded the UCSF Medal, the university’s highest honor. She retired in 1991, and has remained a valued mentor, an individual who opened up avenues of success for women of color on the UCSF campus. <br/>
  <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
