---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>People - A History of UCSF</title>
<link href='https://fonts.googleapis.com/css?family=Gilda+Display%7CPT+Sans+Narrow:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text"><h2 class="title"><span class="title-primary">People</span></h2>
<div id="small_thumb"><img src="images/small_thumbs/bell_portrait_sitting.jpg" /></div>
     <div id="sidenavtype"><a href="bell.html" class="sidenavtype"><strong>H. G. BELL (1893-1981)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/k.bishop-thumb.jpg" /></div>
     <div id="sidenavtype"><a href="kbishop.html" class="sidenavtype"><strong>KATHARINE J. SCOTT BISHOP (1889-1975)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/bishop.jpg" /></div>
     <div id="sidenavtype"><a href="bishop.html" class="sidenavtype"><strong>J. MICHAEL BISHOP (1936-)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/brunn_portrait2.jpg" /></div>
     <div id="sidenavtype"><a href="briggs.html" class="sidenavtype"><strong>LEROY H. BRIGGS (1883-1953)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Pearl_Castile.jpg" /></div>
     <div id="sidenavtype"><a href="castile.html" class="sidenavtype"><strong>PEARL IDA CASTILE (1891-1974) </strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/cole_portrait_surgeon_general_uniform.jpg" /></div>
     <div id="sidenavtype"><a href="cole.html" class="sidenavtype"><strong>R. BEVERLY COLE (1829-1901)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/portrait_comroe.jpg" /></div>
     <div id="sidenavtype"><a href="comroe.html" class="sidenavtype"><strong>JULIUS COMROE (1911-1984)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/crede.jpg" /></div>
     <div id="sidenavtype"><a href="crede.html" class="sidenavtype"><strong>ROBERT HENRY CREDÉ (1915-1996)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/dacona_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="ancona.html" class="sidenavtype"><strong>ARNOLD D'ANCONA (CA. 1862-1929)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/daniels.jpg" /></div>
     <div id="sidenavtype"><a href="daniels.html" class="sidenavtype"><strong>TROY COOK DANIELS (1899-1985)</strong></a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/debas.jpg" /></div>
     <div id="sidenavtype"><a href="debas.html" class="sidenavtype"><strong>HAILE T. DEBAS (1937- )</strong></a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/Dennis.jpg" /></div>
     <div id="sidenavtype"><a href="dennis.html" class="sidenavtype"><strong>SAMUEL WILLIAM DENNIS (1836-1907)</strong></a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/desmondhellmann.jpg" /></div>
     <div id="sidenavtype"><a href="desmond_hellman.html" class="sidenavtype"><strong>SUSAN DESMOND-HELLMANN (1958-)</strong></a></div>
     <br clear=all />

<div id="small_thumb"><img src="images/small_thumbs/evans_portrait_sitting.jpg" /></div>
     <div id="sidenavtype"><a href="evans.html" class="sidenavtype"><strong>HERBERT MCLEAN EVANS (1882-1971)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/fleming_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="fleming.html" class="sidenavtype"><strong>WILLARD CORWIN FLEMING (1899-1972)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/C_L_Goddard.jpg" /></div>
     <div id="sidenavtype"><a href="goddard.html" class="sidenavtype"><strong>CLARK LAMOTTE GODDARD</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/FT-Green.jpg" /></div>
     <div id="sidenavtype"><a href="green.html" class="sidenavtype"><strong>FRANKLIN THEODORE GREEN (1863-1944)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Zach_Hall_300.jpg" /></div>
     <div id="sidenavtype"><a href="hall.html" class="sidenavtype"><strong>ZACH W. HALL </strong></a></div>
     <br clear=all />

<div id="small_thumb"><img src="images/small_thumbs/harper.jpg" /></div>
     <div id="sidenavtype"><a href="harper.html" class="sidenavtype"><strong>HAROLD A. HARPER (1911-1988)</strong></a></div>
     <br clear=all />


   <div id="small_thumb"><img src="images/small_thumbs/hawgood.jpg" /></div>
     <div id="sidenavtype"><a href="http://ucsfchancellor.ucsf.edu/" class="sidenavtype"><strong>SAM HAWGOOD (1953-)</strong></a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/kerr_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="kerr.html" class="sidenavtype"><strong>WILLIAM J. KERR (1889-1965)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Kozloff.jpg" /></div>
     <div id="sidenavtype"><a href="kozloff.html" class="sidenavtype"><strong>LLOYD M. KOZLOFF</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/krevans_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="krevans.html" class="sidenavtype"><strong>JULIUS R. KREVANS (1924-2015)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/lee_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="lee.html" class="sidenavtype"><strong>PHILIP RANDOLPH LEE (1924-  )</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/J_Lewis.jpg" /></div>
<div id="sidenavtype"><a href="lewis.html" class="sidenavtype"><strong>JOANNE LEWIS</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/choh_hao_li.jpg" /></div>
     <div id="sidenavtype"><a href="li.html" class="sidenavtype"><strong>CHOH HAO LI (1913-1987)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Joseph_B_Martin.jpg" /></div>
     <div id="sidenavtype"><a href="martin.html" class="sidenavtype"><strong>JOSEPH B. MARTIN (1938-)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/portrait_meyer.jpg" /></div>
     <div id="sidenavtype"><a href="meyer.html" class="sidenavtype"><strong>KARL FRIEDRICH MEYER (1884-1974)</strong></a></div>
     <br clear=all />
 <div id="small_thumb"><img src="images/small_thumbs/Guy_Millberry.jpg" /></div>
     <div id="sidenavtype"><a href="millberry.html" class="sidenavtype"><strong>GUY STILLMAN MILLBERRY (1872-1952)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/moffitt_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="moffitt.html" class="sidenavtype"><strong>HERBERT CHARLES MOFFITT (1867-1950)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/naffziger_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="naffziger.html" class="sidenavtype"><strong>HOWARD CHRISTIAN NAFFZIGER (1884-1961)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/portrait_nahm4.jpg" /></div>
     <div id="sidenavtype"><a href="nahm.html" class="sidenavtype"><strong>HELEN NAHM (1901-1992)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/owyang.jpg" /></div>
     <div id="sidenavtype"><a href="owyang.html" class="sidenavtype"><strong>ERIC OWYANG  (1918-1993)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Mary_M_Pickering.jpg" /></div>
     <div id="sidenavtype"><a href="pickering.html" class="sidenavtype"><strong>MARY MAY PICKERING (1888-??)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/porter_linedrawing.jpg" /></div>
     <div id="sidenavtype"><a href="porter.html" class="sidenavtype"><strong>ROBERT LANGLEY PORTER (1870-1965)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Rutter.jpg" /></div>
     <div id="sidenavtype"><a href="rutter.html" class="sidenavtype"><strong>WILLIAM J. RUTTER (1928-  )</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/saunders_portrait_provost.jpg" /></div>
     <div id="sidenavtype"><a href="saunders.html" class="sidenavtype"><strong>JOHN B. DE C. M. SAUNDERS (1903-1991)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/schmidt.jpg" /></div>
     <div id="sidenavtype"><a href="schmidt.html" class="sidenavtype"><strong>CARL L. A. SCHMIDT (1885-1946)</strong></a></div>
     <br clear=all />

    <div id="small_thumb"><img src="images/small_thumbs/schroeder.jpg" /></div>
     <div id="sidenavtype"><a href="schroeder.html" class="sidenavtype"><strong>STEVEN A. SCHROEDER </strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Searby.jpg" /></div>
     <div id="sidenavtype"><a href="searby.html" class="sidenavtype"><strong>WILLIAM MARTIN SEARBY  (1835-1909)</strong></a></div>
     <br clear=all />
<div id="small_thumb"><img src="images/small_thumbs/Sooy.jpg" /></div>
     <div id="sidenavtype"><a href="sooy.html" class="sidenavtype"><strong>FRANCIS A. SOOY  (1915-1986)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/toland_portrait_large.jpg" /></div>
     <div id="sidenavtype"><a href="toland.html" class="sidenavtype"><strong>HUGH HUGER TOLAND (1806-1880)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Tomkins.jpg" /></div>
     <div id="sidenavtype"><a href="tomkins.html" class="sidenavtype"><strong>GORDON M. TOMKINS (1926-1975)</strong></a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/tracy_portrait_sitting.jpg" /></div>
     <div id="sidenavtype"><a href="tracy.html" class="sidenavtype"><strong>MARGARET A. TRACY (1893-1959)</strong></a></div>
     <br clear=all />
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <div id="sidenav_subnav">
<strong><a href="chancellors.html" class="sidenav_subnav_type">Chancellors</a></strong><br />
 <br/>

  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>

  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
