---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>People - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all">
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
     <h2 class="title"><span class="title-primary">People</span></h2>

     <div id="small_thumb"><img src="images/pictures/c6f73bb6.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#amemiya" class="sidenavtype">AIKO (GRACE) OBATA AEMMIYA, RN</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/ascher2012.jpg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#ascher" class="sidenavtype">NANCY ASCHER, MD, PHD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/baintonforddorothy.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#bainton" class="sidenavtype">DOROTHY FORD BAINTON, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/68d65a89.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#barbat" class="sidenavtype">JOSEPHINE EUGENIA BARBAT, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/bell_portrait_sitting.jpg" alt=""></div>
     <div id="sidenavtype"><a href="bell.html" class="sidenavtype">H. G. BELL (1893&ndash;1981)</a></div>
     <br clear=all />
     
     <div id="small_thumb"><img src="images/small_thumbs/k.bishop-thumb.jpg" alt=""></div>
     <div id="sidenavtype"><a href="kbishop.html" class="sidenavtype">KATHARINE J. SCOTT BISHOP (1889&ndash;1975)</a></div>
     <br clear=all />
     
     <div id="small_thumb"><img src="images/small_thumbs/bishop.jpg" alt=""></div>
     <div id="sidenavtype"><a href="bishop.html" class="sidenavtype">J. MICHAEL BISHOP (1936-)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/c711d0ed.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#blackburn" class="sidenavtype">ELIZABETH H. BLACKBURN, PHD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/botsford_mary.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#botsford" class="sidenavtype">MARY BOTSFORD, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/brunn_portrait2.jpg" alt=""></div>
     <div id="sidenavtype"><a href="briggs.html" class="sidenavtype">LEROY H. BRIGGS (1883&ndash;1953)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/ucsf-logo-banner-mobile.png" style="width: 48px; height: 60px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#burch" class="sidenavtype">MARIA ANGELINA BURCH, DDS</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/Pearl_Castile.jpg" alt=""></div>
     <div id="sidenavtype"><a href="castile.html" class="sidenavtype">PEARL IDA CASTILE (1891&ndash;1974) </a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/1100a772.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#chan" class="sidenavtype">PRISCILLA CHAN, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/b8b856f2.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#chater" class="sidenavtype">SHIRLEY CHATER, PHD, RN, FAAN</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/75f23018.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#cohen" class="sidenavtype">LILLIAN COHEN, RN</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/cole_portrait_surgeon_general_uniform.jpg" alt=""></div>
     <div id="sidenavtype"><a href="cole.html" class="sidenavtype">R. BEVERLY COLE (1829&ndash;1901)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/portrait_comroe.jpg" alt=""></div>
     <div id="sidenavtype"><a href="comroe.html" class="sidenavtype">JULIUS COMROE (1911&ndash;1984)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/crede.jpg" alt=""></div>
     <div id="sidenavtype"><a href="crede.html" class="sidenavtype">ROBERT HENRY CREDÉ (1915&ndash;1996)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/dacona_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="ancona.html" class="sidenavtype">ARNOLD D'ANCONA (CA. 1862&ndash;1929)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/daniels.jpg" alt=""></div>
     <div id="sidenavtype"><a href="daniels.html" class="sidenavtype">TROY COOK DANIELS (1899&ndash;1985)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/debas.jpg" alt=""></div>
     <div id="sidenavtype"><a href="debas.html" class="sidenavtype">HAILE T. DEBAS (1937- )</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/Dennis.jpg" alt=""></div>
     <div id="sidenavtype"><a href="dennis.html" class="sidenavtype">SAMUEL WILLIAM DENNIS (1836&ndash;1907)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/desmondhellmann.jpg" alt=""></div>
     <div id="sidenavtype"><a href="desmond_hellmann.html" class="sidenavtype">SUSAN DESMOND-HELLMANN (1958-)</a></div>
     <br clear=all />


     <div id="small_thumb"><img src="images/pictures/e46abcc2.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#dong" class="sidenavtype">EMMA O. DONG (CHONG), MD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/c6b68da8.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#esserman" class="sidenavtype">LAURA ESSERMAN, MD, MBA</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/Estes.jpg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#estes" class="sidenavtype">CARROLL ESTES, PHD, FAAN</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/evans_portrait_sitting.jpg" alt=""></div>
     <div id="sidenavtype"><a href="evans.html" class="sidenavtype">HERBERT MCLEAN EVANS (1882&ndash;1971)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/2e825c10.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#ferneil" class="sidenavtype">ELLA MAE FERNEIL, RN</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/fleming_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="fleming.html" class="sidenavtype">WILLARD CORWIN FLEMING (1899&ndash;1972)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/f5162ad8.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#gerberding" class="sidenavtype">JULIE GERBERDING, MD, MPH</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/f810238e.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#giacomini" class="sidenavtype">KATHY GIACOMINI, PHD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/C_L_Goddard.jpg" alt=""></div>
     <div id="sidenavtype"><a href="goddard.html" class="sidenavtype">CLARK LAMOTTE GODDARD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/51e440b6.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#erlach" class="sidenavtype">SARAH GOMEZ ERLACH, RN</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/FT-Green.jpg" alt=""></div>
     <div id="sidenavtype"><a href="green.html" class="sidenavtype">FRANKLIN THEODORE GREEN (1863&ndash;1944)</a></div>
     <br clear=all />


     <div id="small_thumb"><img src="images/pictures/9ec42687.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#greenspan" class="sidenavtype">DEBORAH GREENSPAN, DSC, BDS</a></div>
     <br clear=all />
     
     <div id="small_thumb"><img src="images/pictures/dfb502e1.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#hale" class="sidenavtype">VICTORIA HALE, PHD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Zach_Hall_300.jpg" alt=""></div>
     <div id="sidenavtype"><a href="hall.html" class="sidenavtype">ZACH W. HALL </a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/harper.jpg" alt=""></div>
     <div id="sidenavtype"><a href="harper.html" class="sidenavtype">HAROLD A. HARPER (1911&ndash;1988)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/Diane_Havlir_29megs_By+Marco+S-2442614729-O.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#havlir" class="sidenavtype">DIANE HAVLIR, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/hawgood.jpg" alt=""></div>
     <div id="sidenavtype"><a href="http://ucsfchancellor.ucsf.edu/" class="sidenavtype">SAM HAWGOOD (1953-)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/965e28fc.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#horstmann" class="sidenavtype">DOROTHY HORSTMANN, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/dc7dde16.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#hylton" class="sidenavtype">NOLA HYLTON, PHD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/0b84590f.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#kenyon" class="sidenavtype">CYNTHIA KENYON, PHD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/kerr_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="kerr.html" class="sidenavtype">WILLIAM J. KERR (1889&ndash;1965)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/MaryAnneKoda-Kimblepreferred.jpg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#koda-kimble" class="sidenavtype">MARY ANNE KODA-KIMBLE, PHARMD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Kozloff.jpg" alt=""></div>
     <div id="sidenavtype"><a href="kozloff.html" class="sidenavtype">LLOYD M. KOZLOFF</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/krevans_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="krevans.html" class="sidenavtype">JULIUS R. KREVANS (1924&ndash;2015)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/lee_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="lee.html" class="sidenavtype">PHILIP RANDOLPH LEE (1924-  )</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/c39a33eb.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#leone" class="sidenavtype">LUCILE PETRY LEONE, RN, FAPHA</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/J_Lewis.jpg" alt=""></div>
     <div id="sidenavtype"><a href="lewis.html" class="sidenavtype">JOANNE LEWIS</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/choh_hao_li.jpg" alt=""></div>
     <div id="sidenavtype"><a href="li.html" class="sidenavtype">CHOH HAO LI (1913&ndash;1987)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/599a8441.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#lucia" class="sidenavtype">MARILYN REED LUCIA, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/88f194c0.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#mackenzie" class="sidenavtype">TIPPI MACKENZIE, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/374cd95a.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#martin" class="sidenavtype">GAIL MARTIN, PHD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Joseph_B_Martin.jpg" alt=""></div>
     <div id="sidenavtype"><a href="martin.html" class="sidenavtype">JOSEPH B. MARTIN (1938-)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/portrait_meyer.jpg" alt=""></div>
     <div id="sidenavtype"><a href="meyer.html" class="sidenavtype">KARL FRIEDRICH MEYER (1884&ndash;1974)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/1a7f6b36.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#miaskowski" class="sidenavtype">CHRISTINE MIASKOWSKI, RN, PHD, FAAN</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Guy_Millberry.jpg" alt=""></div>
     <div id="sidenavtype"><a href="millberry.html" class="sidenavtype">GUY STILLMAN MILLBERRY (1872&ndash;1952)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/36b8c465.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#milliken" class="sidenavtype">NANCY MILLIKEN, MD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/moffitt_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="moffitt.html" class="sidenavtype">HERBERT CHARLES MOFFITT (1867&ndash;1950)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/pictures/1f65e983.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#muench" class="sidenavtype">ULRIKE MUENCH, RN, PHD, FAAN</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/naffziger_portrait.jpg" alt=""></div>
     <div id="sidenavtype"><a href="naffziger.html" class="sidenavtype">HOWARD CHRISTIAN NAFFZIGER (1884&ndash;1961)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/portrait_nahm4.jpg" alt=""></div>
     <div id="sidenavtype"><a href="nahm.html" class="sidenavtype">HELEN NAHM (1901&ndash;1992)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/renee-navarro.jpg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#navarro" class="sidenavtype">RENEE NAVARRO, MD, PHARMD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/ac5a212b.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#olesen" class="sidenavtype">VIRGINIA OLESEN, PHD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/214cbceb.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#olney" class="sidenavtype">MARY OLNEY, MD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/owyang.jpg" alt=""></div>
     <div id="sidenavtype"><a href="owyang.html" class="sidenavtype">ERIC OWYANG  (1918&ndash;1993)</a></div>
     <br clear=all />
     
     <div id="small_thumb"><img src="images/pictures/6542ad6f.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#perry" class="sidenavtype">JACQUELIN PERRY, MD</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Mary_M_Pickering.jpg" alt=""></div>
     <div id="sidenavtype"><a href="pickering.html" class="sidenavtype">MARY MAY PICKERING (1888-??)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/porter_linedrawing.jpg" alt=""></div>
     <div id="sidenavtype"><a href="porter.html" class="sidenavtype">ROBERT LANGLEY PORTER (1870&ndash;1965)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/75abf6a7.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#puck" class="sidenavtype">JENNIFER PUCK, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/77559332.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#redberg" class="sidenavtype">RITA REDBERG, MD, MS</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/0c35815b.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#rice" class="sidenavtype">DOROTHY RICE</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/Rutter.jpg" alt=""></div>
     <div id="sidenavtype"><a href="rutter.html" class="sidenavtype">WILLIAM J. RUTTER (1928-  )</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/saunders_portrait_provost.jpg" alt=""></div>
     <div id="sidenavtype"><a href="saunders.html" class="sidenavtype">JOHN B. DE C. M. SAUNDERS (1903&ndash;1991)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/schmidt.jpg" alt=""></div>
     <div id="sidenavtype"><a href="schmidt.html" class="sidenavtype">CARL L. A. SCHMIDT (1885&ndash;1946)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/schroeder.jpg" alt=""></div>
     <div id="sidenavtype"><a href="schroeder.html" class="sidenavtype">STEVEN A. SCHROEDER </a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Searby.jpg" alt=""></div>
     <div id="sidenavtype"><a href="searby.html" class="sidenavtype">WILLIAM MARTIN SEARBY  (1835&ndash;1909)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/b2944468.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#snowdon" class="sidenavtype">SHANE SNOWDON, MA</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/Sooy.jpg" alt=""></div>
     <div id="sidenavtype"><a href="sooy.html" class="sidenavtype">FRANCIS A. SOOY  (1915&ndash;1986)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/57c6bb11.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#stroud" class="sidenavtype">FLORENCE STROUD, RN</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/styles.jpg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#styles" class="sidenavtype">MARGRETTA MADDEN STYLES, RN, EDD, FAAN</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/small_thumbs/toland_portrait_large.jpg" alt=""></div>
     <div id="sidenavtype"><a href="toland.html" class="sidenavtype">HUGH HUGER TOLAND (1806&ndash;1880)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/Tomkins.jpg" alt=""></div>
     <div id="sidenavtype"><a href="tomkins.html" class="sidenavtype">GORDON M. TOMKINS (1926&ndash;1975)</a></div>
     <br clear=all />
     <div id="small_thumb"><img src="images/small_thumbs/tracy_portrait_sitting.jpg" alt=""></div>
     <div id="sidenavtype"><a href="tracy.html" class="sidenavtype">MARGARET A. TRACY (1893&ndash;1959)</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/150ff69c.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#wanzer" class="sidenavtype">LUCY FIELD WANZER, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/mss200915_12_19_wara_crop.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#wara" class="sidenavtype">DIANE WARA, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/35ec0c14.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#weed" class="sidenavtype">MABEL WEED</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/60a668e4.png" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#wofsy" class="sidenavtype">CONSTANCE (CONNIE) WOFSY, MD</a></div>
     <br clear=all />

     <div id="small_thumb"><img src="images/pictures/12b6cbf6.jpeg" style="width: 48px" alt=""></div>
     <div id="sidenavtype"><a href="150w.html#wright" class="sidenavtype">BERTA WRIGHT, RN</a></div>
     <br clear=all />

</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br>
  <br>
  <div id="sidenav_subnav_header"><strong>PEOPLE</strong></div>
  <div id="sidenav_subnav">
<a href="chancellors.html" class="sidenav_subnav_type">Chancellors</a><br>
 <br>

  <a href="photos.html" class="sidenavtype">PHOTOS</a><br>
  <br>

  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a><br>
</div>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
