---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Chancellors - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
<div id="subhead">UCSF CHANCELLORS</div>
<br/>
 <div id="small_thumb"><img src="images/small_thumbs/saunders_portrait_provost.jpg" /></div>
     <div id="sidenavtype"><a href="saunders.html" class="sidenavtype"><strong>JOHN B. DE C. M. SAUNDERS (Served 1964-1966)</strong></a></div>
       John Bertrand deCusance Morant Saunders was born in Grahamstown, South Africa, on July 2, 1903.
<br /><br />

<div id="small_thumb"><img src="images/small_thumbs/fleming_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="fleming.html" class="sidenavtype"><strong>WILLARD CORWIN FLEMING (Served 1966-1969)</strong></a></div>
      Willard Fleming was born in Sausalito, California on October 11, 1899. He entered the UC College of Dentistry in the wartime year of 1918.
<br /><br />

<div id="small_thumb"><img src="images/small_thumbs/lee_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="lee.html" class="sidenavtype"><strong>PHILIP RANDOLPH LEE (Served 1969-1972)</strong></a></div>
Philip Randolph Lee was born in California, the third son of Dr. Russel Van Arsdale Lee, founder of the renowned Palo Alto Clinic.
<br /><br />

<div id="small_thumb"><img src="images/small_thumbs/Sooy.jpg" /></div>
     <div id="sidenavtype"><a href="sooy.html" class="sidenavtype"><strong>FRANCIS A. SOOY  (Served 1972-1982)</strong></a></div>
Francis A. Sooy was born in Coalinga, California on July 1, 1915. He received his received his M.D. degree from the University of California School of Medicine in 1941.
<br /><br />

<div id="small_thumb"><img src="images/small_thumbs/krevans_portrait.jpg" /></div>
     <div id="sidenavtype"><a href="krevans.html" class="sidenavtype"><strong>JULIUS R. KREVANS (Served 1982-1993)</strong></a></div>
Julius R. Krevans was born on May 1, 1924, in New York. He received his A.B. degree from New York University in 1944, and his M.D. degree from NYU School of Medicine in 1946.
<br /><br />

<div id="small_thumb"><img src="images/small_thumbs/Joseph_B_Martin.jpg" /></div>
     <div id="sidenavtype"><a href="martin.html" class="sidenavtype"><strong>JOSEPH B. MARTIN (Served 1993-1997)</strong></a></div>
       Joseph Boyd Martin was born in Bassano, Alberta, Canada in 1938. He received both his B.A. and M.D. degrees from the University of Alberta, Edmonton.
<br /><br />

     <div id="small_thumb"><img src="images/small_thumbs/debas.jpg" /></div>
     <div id="sidenavtype"><a href="debas.html" class="sidenavtype"><strong>HAILE T. DEBAS (Served 1997-1998)</strong></a></div>
       Haile Debas was born in Asmara, Eritrea, in 1937.  He received his M.D. from McGill University in 1963, and completed his surgical training at the University of British Columbia.<br/><br/>

<div id="small_thumb"><img src="images/small_thumbs/bishop.jpg" /></div>
     <div id="sidenavtype"><a href="bishop.html" class="sidenavtype"><strong>J. MICHAEL BISHOP (Served 1998-2009)</strong></a></div>
       J. Michael Bishop was born February 22, 1936, in York, Pennsylvania. He completed his undergraduate degree at Gettysburg College, majoring in chemistry.<br />
     <br />

      <div id="small_thumb"><img src="images/small_thumbs/desmondhellmann.jpg" /></div>
     <div id="sidenavtype"><a href="http://www.ucsf.edu/chancellor/leadership/susan-desmond-hellmann-md-mph" class="sidenavtype"><strong>SUSAN DESMOND-HELLMANN (Currently serving since 2009)</strong></a></div>
       Susan Desmond-Hellmann, MD, MPH, is the chancellor of the University of California, San Francisco. She assumed the post August 3, 2009.<br />
     <br />

<br/>

</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>

  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
      <div id="sidenav_subnav">
      <div id="sidenav_subnav_header"><strong>Chancellors</strong></div>

    </div>
  <div id="sidenavtype">



  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>


  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
