---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - A History of UCSF </title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
<div id="photocopy_text">
  <h2 class="title"><span class="title-primary">Photos</span></h2>
<div id="sidenavtype"><a href="portraits.html" class="sidenavtype"><strong>PORTRAITS</strong></a></div>
<a href="portraits.html" class="bodylink">A – C</a><br/>
<a href="portraits_D_M.html" class="bodylink">D – M</a><br/>
<a href="portraits_N_Z.html" class="bodylink">N – Z</a><br/>
<a href="portraits_groups.html" class="bodylink">Groups</a><br/>
     <br />
<div id="sidenavtype"><a href="architecture.html" class="sidenavtype"><strong>ARCHITECTURE</strong></a></div>
<a href="architecture.html" class="bodylink">Parnassus Campus</a><br/>
<a href="architecture_colleges.html" class="bodylink">Affiliated Colleges</a><br/>
<a href="architecture_dentistry.html" class="bodylink">Dentistry</a><br/>
<a href="architecture_medicine.html" class="bodylink">Medicine</a><br/>
<a href="architecture_nursing.html" class="bodylink">Nursing</a><br/>
<a href="architecture_pharmacy.html" class="bodylink">Pharmacy</a><br/>
<a href="architecture_hospitals.html" class="bodylink">Hospitals</a><br/>
<br/>
<div id="sidenavtype"><a href="healthcare.html" class="sidenavtype"><strong>HEALTHCARE, RESEARCH &amp; TEACHING</strong></a></div>
<a href="healthcare.html" class="bodylink">Health Care</a><br/>
<a href="healthcare_research.html" class="bodylink">Research</a><br/>
<a href="healthcare_teaching.html" class="bodylink">Teaching</a><br/>
     <br />
<div id="sidenavtype"><a href="cal_history.html" class="sidenavtype"><strong>CALIFORNIA HISTORY</strong></a></div>
<br/><br/>
<br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/><br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="photos.html" class="sidenav_subnav_type_visited">PHOTOS</a></strong></div>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
