---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Portraits N-Z - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <div id="subhead">PORTRAITS</div>
<a href="portraits.html" class="bodylink">A – C</a><br/>
    <a href="portraits_D_M.html" class="bodylink">D – M</a><br />
    N – Z<br/>
    <a href="portraits_groups.html" class="bodylink">Groups</a>
<br/>
  <br />
<h3>N – Z</h3>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1899_naffziger.html"><img src="images/photo_thumbnails/naffzigger_military_uniform_portrait.jpg" alt="Naffziger, Howard C, 1917" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Naffziger, Howard C, 1917</div>
</div>
<div id="photo_thumb"><a href="1899_photo6.html"><img src="images/photo_thumbnails/naffzigger_portrait_seated.jpg" alt="Naffziger, Howard C" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Naffziger, Howard C</div>
</div>
<div id="photo_thumb"><a href="photo_nahm.html"><img src="images/photo_thumbnails/portrait_nahm4.jpg" alt="Nahm, Helen" /></a><div class="photo_caption" aria-hidden="true">Nahm, Helen</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="photo_owyang.html"><img src="images/photo_thumbnails/owyang.jpg" alt="Owyang, Eric" /></a><div class="photo_caption" aria-hidden="true">Owyang, Eric</div>
</div>
<div id="photo_thumb"><a href="1919_photo5.html"><img src="images/photo_thumbnails/Mary_M_Pickering.jpg" alt="Pickering, Mary May" /></a><div class="photo_caption" aria-hidden="true">Pickering, Mary May</div>
</div>
<div id="photo_thumb"><a href="1919_photo8.html"><img src="images/photo_thumbnails/porter_linedrawing.jpg" alt="Porter, R. Langley" width="113" height="150" /></a><div aria-hidden="true" class="photo_caption">Porter, R. Langley</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1940_photo15.html"><img src="images/photo_thumbnails/portrait_proctor1.jpg" alt="Proctor, Francis I." /></a><div aria-hidden="true" class="photo_caption">Proctor, Francis I.</div>
</div>
<div id="photo_thumb"><a href="photo_rutter.html"><img src="images/photo_thumbnails/Rutter.jpg" alt="Rutter, William" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Rutter, William</div>
</div>
<div id="photo_thumb"><a href="1940_photo21.html"><img src="images/photo_thumbnails/saunders_portrait_provost.jpg" alt="Saunders, John" /></a><div aria-hidden="true" class="photo_caption">Saunders, John</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="photo_schmidt.html"><img src="images/photo_thumbnails/schmidt.jpg" alt="Schmidt, Carl L.A." width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Schmidt, Carl L.A.</div>
</div>
<div id="photo_thumb"><a href="theme_photo18.html"><img src="images/photo_thumbnails/schmitt.jpg" alt="Schmitt, Lionel" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Schmitt, Lionel</div>
</div>
<div id="photo_thumb"><a href="photo_schroeder.html"><img src="images/photo_thumbnails/schroeder.jpg" alt="Schroeder, Steven A." /></a><div class="photo_caption" aria-hidden="true">Schroeder, Steven A.</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="photo_searby.html"><img src="images/photo_thumbnails/Searby.jpg" alt="Searby, William" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Searby, William</div>
</div>
<div id="photo_thumb"><a href="theme_photo12.html"><img src="images/photo_thumbnails/lab_exp_oncol6.jpg" alt="Shimkin, Michael" width="113" height="150" /></a><div aria-hidden="true" class="photo_caption">Shimkin, Michael</div>
</div>
<div id="photo_thumb"><a href="1959_photo13.html"><img src="images/photo_thumbnails/sooy_chancellor_portrait.jpg" alt="Sooy, Francis A." /></a><div class="photo_caption" aria-hidden="true">Sooy, Francis A.</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1940_photo6.html"><img src="images/photo_thumbnails/stone_portrait.jpg" alt="Stone, Robert" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Stone, Robert</div>
</div>
<div id="photo_thumb"><a href="1959_photo22.html"><img src="images/photo_thumbnails/styles.jpg" alt="Styles, Margretta M." width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Styles, Margretta M.</div>
</div>
<div id="photo_thumb"><a href="1899_photo3.html"><img src="images/photo_thumbnails/taylor_portrait_sitting.jpg" alt="Taylor, Alonzo E" /></a><div class="photo_caption" aria-hidden="true">Taylor, Alonzo E</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="1868_photo5.html"><img src="images/photo_thumbnails/toland_portrait_large.jpg" alt="Portrait of Toland, Hugh Huger" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Toland, Hugh Huger</div>
</div>
<div id="photo_thumb"><a href="1868_photo9.html"><img src="images/photo_thumbnails/toland_portrait_small_oval.jpg" alt="Sepia portrait of Toland, Hugh Huger" width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Toland, Hugh Huger</div>
</div>
<div id="photo_thumb"><a href="photo_tomkins.html"><img src="images/photo_thumbnails/Tomkins.jpg" alt="Tomkins, Gordon" /></a><div class="photo_caption" aria-hidden="true">Tomkins, Gordon</div>
</div>
</div>
<div id="photo_thumb_holder"><div id="photo_thumb"><a href="photo_tracy.html"><img src="images/photo_thumbnails/tracy_portrait_sitting.jpg" alt="Tracy, Margaret A." width="113" height="150" /></a><div class="photo_caption" aria-hidden="true">Tracy, Margaret A.</div>
</div>
<div id="photo_thumb"><a href="1899_photo26.html"><img src="images/photo_thumbnails/wheeler_portrait.jpg" alt="Wheeler, Benjamin Ide" /></a><div class="photo_caption" aria-hidden="true">Wheeler, Benjamin Ide</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="photos.html" class="sidenavtype sidenav_subnav_type_visited">PHOTOS</a></div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenavtype sidenav_subnav_type_visited">Portraits</a><br />
        <br />
        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
