---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Photos - Portraits D-M - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <div id="subhead">PORTRAITS</div>
<a href="portraits.html" class="bodylink">A – C</a><br />
D – M<br/>
    <a href="portraits_N_Z.html" class="bodylink">N – Z</a><br/>
    <a href="portraits_groups.html" class="bodylink">Groups</a>
<br/>
  <br />
<h3>D – M</h3>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="1899_photo2.html"><img src="images/photo_thumbnails/dacona_portrait.jpg" alt="D'Ancona, Arnold, 1904" /></a><div aria-hidden="true" id="photo_caption">D'Ancona, Arnold, 1904</div>
</div>

<div id="photo_thumb"><a href="photo_daniels.html"><img src="images/photo_thumbnails/daniels.jpg" alt="Daniels, Troy C." width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Daniels, Troy C.</div>
</div>

<div id="photo_thumb"><a href="photo_debas.html"><img src="images/photo_thumbnails/debas.jpg" alt="Debas, Haile T." width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Debas, Haile T.</div>
</div>

</div>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="1868_photo14.html"><img src="images/photo_thumbnails/Dennis.jpg" alt="Dennis, S.W." width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Dennis, S.W.</div>
</div>

<div id="photo_thumb"><a href="theme_photo21.html"><img src="images/photo_thumbnails/derzon.jpg" alt="Derzon, Robert" /></a><div aria-hidden="true" id="photo_caption">Derzon, Robert</div>
</div>

<div id="photo_thumb"><a href="1899_photo7.html"><img src="images/photo_thumbnails/evans_portrait_sitting.jpg" alt="Evans, Herbert McLean" /></a><div aria-hidden="true" id="photo_caption">Evans, Herbert McLean</div>
</div>

</div>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="photo_fleming.html"><img src="images/photo_thumbnails/fleming_portrait.jpg" alt="Fleming, Willard C." /></a><div aria-hidden="true" id="photo_caption">Fleming, Willard C.</div>
</div>

<div id="photo_thumb"><a href="theme_photo2.html"><img src="images/photo_thumbnails/gilman_portrait.jpg" alt="Gilman, Daniel Coit" /></a><div aria-hidden="true" id="photo_caption">Gilman, Daniel Coit</div>
</div>

<div id="photo_thumb"><a href="photo_goddard.html"><img src="images/photo_thumbnails/C_L_Goddard.jpg" alt="Goddard, Clark L." /></a><div aria-hidden="true" id="photo_caption">Goddard, Clark L.</div>
</div>

</div>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="1959_photo20.html"><img src="images/photo_thumbnails/Goyan.jpg" alt="Goyan, Jere" /></a><div id="photo_caption" aria-hidden="true">Goyan, Jere</div>
</div>
<div id="photo_thumb"><a href="photo_green.html"><img src="images/photo_thumbnails/FT-Green.jpg" alt="Green, Franklin T." /></a><div id="photo_caption" aria-hidden="true">Green, Franklin T.</div>
</div>
<div id="photo_thumb"><a href="photo_greene.html"><img src="images/photo_thumbnails/Greene.jpg" alt="Greene, John C." /></a><div id="photo_caption" aria-hidden="true">Greene, John C.</div>
</div>
</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="theme_photo19.html"><img src="images/photo_thumbnails/William_Hall.jpg" alt="Hall, William B." /></a><div aria-hidden="true" id="photo_caption">Hall, William B.</div>
</div>
<div id="photo_thumb"><a href="photo_hall.html"><img src="images/photo_thumbnails/Zach_Hall_300.jpg" alt="Hall, Zach" /></a><div id="photo_caption" aria-hidden="true">Hall, Zach</div>
</div>
<div id="photo_thumb"><a href="photo_harper.html"><img src="images/photo_thumbnails/harper.jpg" alt="Harper, Harold" /></a><div id="photo_caption" aria-hidden="true">Harper, Harold</div>
</div>
</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="theme_photo20.html"><img src="images/photo_thumbnails/hixson.jpg" alt="Hixson, Harold" /></a><div aria-hidden="true" id="photo_caption">Hixson, Harold</div>
</div>
<div id="photo_thumb"><a href="theme_photo8b.html"><img src="images/photo_thumbnails/ishi_batwi_kroeber.jpg" alt="Ishi with Kroeber and Batwai" /></a><div id="photo_caption" aria-hidden="true">Ishi</div>
</div>
<div id="photo_thumb"><a href="theme_photo10.html"><img src="images/photo_thumbnails/ishi_16.jpg" alt="Ishi standing in a suit"/></a><div aria-hidden="true" id="photo_caption">Ishi</div>
</div>
</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="theme_photo8.html"><img src="images/photo_thumbnails/ishi_15.jpg" alt="Ishi full body portrait" width="113" height="150" /></a><div id="photo_caption" aria-hidden="true">Ishi</div>
</div>
<div id="photo_thumb"><a href="theme_photo9.html"><img src="images/photo_thumbnails/ishi_w_bowsarrows.jpg" alt="Ishi with bows and arrows on visit to Tehama county" /></a><div id="photo_caption" aria-hidden="true">Ishi</div>
</div>
<div id="photo_thumb"><a href="theme_photo22.html"><img src="images/photo_thumbnails/Bill-Kerr.jpg" alt="Kerr, William" /></a><div id="photo_caption" aria-hidden="true">Kerr, William</div>
</div>
</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="1899_photo32.html"><img src="images/photo_thumbnails/kerr_military_uniform_portrait.jpg" alt="Kerr, William J, 1917" width="113" height="150" /></a><div id="photo_caption" aria-hidden="true">Kerr, William J, 1917</div>
</div>
<div id="photo_thumb"><a href="1919_photo_kerr.html"><img src="images/photo_thumbnails/kerr_portrait_standing.jpg" alt="Kerr, William J" width="113" height="150" /></a><div id="photo_caption" aria-hidden="true">Kerr, William J</div>
</div>
<div id="photo_thumb"><a href="1899_photo21.html"><img src="images/photo_thumbnails/moffit_portrait_standing.jpg" alt="Herbert Moffitt and William J. Kerr" /></a><div id="photo_caption" aria-hidden="true">Kerr, William J</div>
</div>
</div>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="photo_kozloff.html"><img src="images/photo_thumbnails/Kozloff.jpg" alt="Kozloff, Lloyd" width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Kozloff, Lloyd</div>
</div>

<div id="photo_thumb"><a href="photo_krevans.html"><img src="images/photo_thumbnails/krevans.jpg" alt="Krevans, Julius" width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Krevans, Julius</div>
</div>

<div id="photo_thumb"><a href="theme_photo8b.html"><img src="images/photo_thumbnails/ishi_batwi_kroeber.jpg" alt="Kroeber, Alfred L." /></a><div aria-hidden="true" id="photo_caption">Kroeber, Alfred L.</div>
</div>

</div>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="1919_photo14.html"><img src="images/photo_thumbnails/leake_portrait_sitting.jpg" alt="Leake, Chauncey" width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Leake, Chauncey</div>
</div>

<div id="photo_thumb"><a href="photo_lee.html"><img src="images/photo_thumbnails/lee_portrait.jpg" alt="Lee, Philip R." width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Lee, Philip R.</div>
</div>

<div id="photo_thumb"><a href="photo_lewis.html"><img src="images/photo_thumbnails/J_Lewis.jpg" alt="Lewis, Joanne" width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Lewis, Joanne</div>
</div>

</div>

<div id="photo_thumb_holder">

<div id="photo_thumb"><a href="photo_li.html"><img src="images/photo_thumbnails/choh_hao_li.jpg" alt="Li, Choh Hao" width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Li, Choh Hao</div>
</div>

<div id="photo_thumb"><a href="1899_photo27.html"><img src="images/photo_thumbnails/lucas_portrait.jpg" alt="Lucas, William Palmer" /></a><div aria-hidden="true" id="photo_caption">Lucas, William Palmer</div>
</div>

<div id="photo_thumb"><a href="photo_martin.html"><img src="images/photo_thumbnails/martin.jpg" alt="Martin, Joseph B." /></a><div aria-hidden="true" id="photo_caption">Martin, Joseph B.</div>
</div>

</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="photo_meyer.html"><img src="images/photo_thumbnails/portrait_meyer.jpg" alt="Meyer, Karl F" /></a><div aria-hidden="true" id="photo_caption">Meyer, Karl F</div>
</div>

<div id="photo_thumb"><a href="1899_photo29.html"><img src="images/photo_thumbnails/Guy_Millberry.jpg" alt="Millberry, Guy S" /></a><div aria-hidden="true" id="photo_caption">Millberry, Guy S</div>
</div>

<div id="photo_thumb"><a href="1899_moffitt.html"><img src="images/photo_thumbnails/moffit_military_uniform.jpg" alt="Moffitt, Herbert C, 1917" width="113" height="150" /></a><div aria-hidden="true" id="photo_caption">Moffitt, Herbert C, 1917</div>
</div>

</div>

</div>
</div>


<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br/><br/>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="photos.html" class="sidenavtype sidenav_subnav_type_visited">PHOTOS</a></div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <a href="portraits.html" class="sidenavtype sidenav_subnav_type_visited">Portraits</a><br />
        <br />
        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br />
        <br />
        <a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a><br />
        <br />
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br/>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br/>
  <br/>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
