---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Photos - Portraits A-C - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all">
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="photocopy">
  <div id="photocopy_text"><h2 class="title"><span class="title-primary">Photos</span></h2>
    <h3>PORTRAITS</h3>
A – C<br>
<a href="portraits_D_M.html" class="bodylink">D – M</a><br>
    <a href="portraits_N_Z.html" class="bodylink">N – Z</a><br>
    <a href="portraits_groups.html" class="bodylink">Groups</a>
<br>
  <br>
<h4>A – C</h4>
<div id="photo_thumb_holder">
    <div id="photo_thumb"><a href="1919_photo.html"><img src="images/photo_thumbnails/portrait_barrows_pres.jpg" alt="Headshot portrait of Barrows, David P, 1920s"></a><div class="photo_caption" aria-hidden="true">Barrows, David P, 1920s</div></div>
<div id="photo_thumb"><a href="theme_photo6.html"><img src="images/photo_thumbnails/portrait_barrows2.jpg" alt="Seated portrait of Barrows, David P, 1920s" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">Barrows, David P, 1920s</div></div>
<div id="photo_thumb"><a href="photo_bell.html"><img src="images/photo_thumbnails/bell_portrait_sitting.jpg" alt="Sitting portrait of Bell, H. Glenn"></a><div class="photo_caption" aria-hidden="true">Bell, H. Glenn</div></div>
</div>

<div id="photo_thumb_holder">
    <div id="photo_thumb"><a href="1919_photo13.html"><img src="images/photo_thumbnails/bell_portrait_standing.jpg" alt="Standing portrait of Bell, H. Glenn"></a><div class="photo_caption" aria-hidden="true">Bell, H. Glenn</div>
    </div>
    <div id="photo_thumb"><a href="1940_photo13.html"><img src="images/photo_thumbnails/portrait_bennett.jpg" alt="Bennett, Leslie" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">Bennett, Leslie</div>
    </div>
    <div id="photo_thumb"><a href="photo_bishop.html"><img src="images/photo_thumbnails/bishop.jpg" alt="Bishop, J. Michael"></a><div class="photo_caption" aria-hidden="true">Bishop, J. Michael</div>
    </div>
</div>

<div id="photo_thumb_holder">
    <div id="photo_thumb"><a href="1919_photo12.html"><img src="images/photo_thumbnails/briggs_portrait.jpg" alt="Briggs, LeRoy"></a><div class="photo_caption" aria-hidden="true">Briggs, LeRoy</div>
    </div>
    <div id="photo_thumb"><a href="1868_photo16.html"><img src="images/photo_thumbnails/Brown_III.jpg" alt="Brown, Charlotte Blake"></a><div class="photo_caption" aria-hidden="true">Brown, Charlotte Blake</div>
    </div>
    <div id="photo_thumb"><a href="1919_photo_brunn.html"><img src="images/photo_thumbnails/brunn_portrait.jpg" alt="Brunn, Harold" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">Brunn, Harold</div>
    </div>
    </div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="1919_photo9.html"><img src="images/photo_thumbnails/portrait_campbell_1.jpg" alt="Portrait of Campbell, William W. at a desk"></a><div class="photo_caption" aria-hidden="true">Campbell, William W.</div></div>
<div id="photo_thumb"><a href="1919_photo3.html"><img src="images/photo_thumbnails/portrait_campbell_2.jpg" alt="Headshot portrait of Campbell, William W."></a><div class="photo_caption" aria-hidden="true">Campbell, William W.</div></div>
<div id="photo_thumb"><a href="photo_carman.html"><img src="images/photo_thumbnails/charles_carman3_thumb.jpg" alt="Carman, Charles T." width="113" height="150"></a><div class="photo_caption" aria-hidden="true">Carman, Charles T.</div>
</div>
</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="photo_castile.html"><img src="images/photo_thumbnails/Pearl_Castile.jpg" alt="Castile, Pearl" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">Castile, Pearl</div></div>
<div id="photo_thumb"><a href="photo_cole.html"><img src="images/photo_thumbnails/cole_portrait_surgeon_general_uniform.jpg" alt="Cole, R. Beverly, 1867" width="113" height="150"></a><div class="photo_caption">Cole, R. Beverly, 1867</div></div>
<div id="photo_thumb"><a href="1868_photo12.html"><img src="images/photo_thumbnails/cole_portrait_graduation.jpg" alt="Cole, R. Beverly, 1873" alt="Cole, R. Beverly, 1873"></a><div aria-hidden="true" class="photo_caption">Cole, R. Beverly, 1873</div>
</div>
</div>

<div id="photo_thumb_holder">
<div id="photo_thumb"><a href="1940_photo12.html"><img src="images/photo_thumbnails/portrait_comroe.jpg" alt="Comroe, Julius profile"></a><div class="photo_caption" aria-hidden="true">Comroe, Julius</div>
</div><div id="photo_thumb"><a href="1940_photo23.html"><img src="images/photo_thumbnails/portrait_comroe9.jpg" alt="Comroe, Julius portrait" width="113" height="150"></a><div class="photo_caption" aria-hidden="true">Comroe, Julius</div>
</div>
<div id="photo_thumb"><a href="photo_crede.html"><img src="images/photo_thumbnails/crede.jpg" alt="Credé, Robert"></a><div class="photo_caption" aria-hidden="true">Credé, Robert</div>
</div>
</div>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <a href="special_topics.html" class="sidenavtype">SPECIAL TOPICS</a><br><br>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br>
  <br>
  <div id="sidenav_subnav_header"><a href="photos.html" class="sidenavtype sidenav_subnav_type_visited">PHOTOS</a></div>
    <div id="sidenav_subnav">
      <div id="sidenav_subnav_links">
      <strong>Portraits</strong><br>
        <br>
        <a href="architecture.html" class="sidenav_subnav_type">Architecture</a><br>
        <br>
        <a href="healthcare.html" class="sidenav_subnav_type">Healthcare, Research & Teaching</a><br>
        <br>
        <a href="cal_history.html" class="sidenav_subnav_type">California History</a></div>
    </div>  <br>  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a></div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
