---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Related Links - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/related_links.jpg" alt="Related Links" width="209" height="71" /><br />

These sites provide historical information about schools, departments or divisions at UCSF.<br /> <br />

<strong>UCSF, Its Schools and Campuses</strong> <br/>

<a class="bodylink" href="http://sunsite.berkeley.edu/uchistory/general_history/campuses/ucsf/overview.html">UCSF from the University of California History Digital Archives</a><br />
<a class="bodylink" href="http://dentistry.ucsf.edu/about-the-school/general-information/history">School of Dentistry</a><br />
<a class="bodylink" href="http://nurseweb.ucsf.edu/www/as-hmp.htm">School of Nursing</a><br />
<a class="bodylink" href="http://pharmacy.ucsf.edu/about/history/ ">School of Pharmacy</a><br />
<a class="bodylink" href="http://www.campuslifeservices.ucsf.edu/mu50/history.php ">Millberry Union </a><br />
<a class="bodylink" href="http://pub.ucsf.edu/today/news.php?news_id=200711262">Mission Bay Campus</a><br />
<a class="bodylink" href="http://mountzion.ucsfmedicalcenter.org/history/index.html">Mount Zion</a><br />
<a class="bodylink" href="http://www.fresno.ucsf.edu/about/history.htm">UCSF Fresno</a><br />
<br />
<strong>Departments, Programs, Centers, and Institutes</strong><br />
<a class="bodylink" href="http://www.ucsf-ahp.org/HTML2/info_mission_history.html">AIDS Health Project</a><br />
<a class="bodylink" href="http://www.communityconsortium.org/about/about_history.html">Community Consortium- Positive Health Program</a><br />
<a class="bodylink" href="http://www.sfaetc.ucsf.edu/">UCSF AIDS Program at SFGH</a><br />
<a class="bodylink" href="http://anesthesia.ucsf.edu/extranet/about_us/index.php">Anesthesia</a><br />
<a class="bodylink" href="http://dahsm.medschool.ucsf.edu/dept_history.aspx">Anthropology, History, and Social Medicine: School of Medicine</a><br />
<a class="bodylink" href="http://clinicalpharmacy.ucsf.edu/about">Clinical Pharmacy</a><br />
<a class="bodylink" href="http://www.galloresearch.org/index.php/about/historycenter ">Ernest Gallo Clinic and Research Center</a><br />
<a class="bodylink" href="http://www.diabetes.ucsf.edu/about-us/history">Diabetes Center</a><br />
<a class="bodylink" href="http://www.epibiostat.ucsf.edu/general/overview/history.html">Epidemiology and Biostatistics</a><br />
<a class="bodylink" href="http://www.gladstone.ucsf.edu/gladstone/site/about/section/803">Gladstone Institutes</a><br />
<a class="bodylink" href="http://bts.ucsf.edu/pspg/about_us/">Graduate Program in Pharmaceutical Sciences and Pharmacogenomics</a><br />
<a class="bodylink" href="http://medschool.ucsf.edu/academy/aboutus/history.aspx">Haile T. Debas Academy of Medical Educators</a><br />
<a class="bodylink" href="http://cdc.atucsf.com/history.php">Homeless Dental Clinic</a><br />
<a class="bodylink" href="http://humgen.medschool.ucsf.edu/history-human-genetics-ucsf">Human Genetics </a><br />
<a class="bodylink" href="http://neurosurgery.medschool.ucsf.edu/general_information/neurosurgery_history.html">Neurological Surgery at UCSF: History of Neurosurgery at UCSF</a><br />
<a class="bodylink" href="http://nursing.ucsfmedicalcenter.org/about_dept/history.asp">Nursing, UCSF Medical Center</a><br />
<a class="bodylink" href="http://ucsfeye.net/history.shtml"> Beckman Vision Center</a><br/>
<a class="bodylink" href="http://proctor.ucsf.edu/emailhistory.html">Francis I. Proctor Foundation for Research in Ophthalmology</a><br/>
<a class="bodylink" href="http://keck.ucsf.edu/physio/about.html">Physiology</a><br />
<a class="bodylink" href="http://psych.ucsf.edu/residency-programs.aspx?id=1760">Psychiatry</a> <br />
<a class="bodylink" href="http://pedsurg.ucsf.edu/about-us/division-history.aspx">Pediatric Surgery Division</a><br />
<a class="bodylink" href="http://www.ihps.medschool.ucsf.edu/about">Philip R. Lee Institute for Health Policy Studies  </a><br />
<a class="bodylink" href="http://pulmonary.ucsf.edu/overview/index.html">Pulmonary and Critical Care Division</a><br />
<a class="bodylink" href="http://sbs.ucsf.edu/medsoc/sbs-hist.html ">Social and Behavioral Sciences</a><br />
<a class="bodylink" href="http://www.medschool.ucsf.edu/homeless/pubClinic/about.asp">Student Homeless Clinic</a><br />
<a class="bodylink" href="http://www.surgery.ucsf.edu/about-us/department-history/department-history.aspx">Surgery</a><br />
<a class="bodylink" href="http://medschool.ucsf.edu/sfgh_surgery/history">San Francisco General Hospital Department of Surgery</a><br />
<a class="bodylink" href="http://urology.ucsf.edu/">Urology</a><br />

<br/>
<br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
