---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>John B. de C. M. Saunders - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v2"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">JOHN B. DE C. M. SAUNDERS (1903-1991)</div>
<div id="thumb_people"><a href="1940_photo21.html"><img src="images/story_thumbnails/saunders_portrait_provost.jpg" width="150" height="200" border="0" /></a></div>
John Bertrand deCusance Morant Saunders was born in Grahamstown, South Africa, on July 2, 1903, the son of a British army surgeon of Scottish ancestry. His three middle names are from his mother's French side of the family. After pre-medical studies at St. Andrew's College and at Rhodes University College in South Africa, he went to the University of Edinburgh for his MB and ChB, then taught anatomy and physiology at his alma mater while he qualified for his FRCS in 1930.
     <p>Saunders came to the University of California in 1931 as an anatomy professor and was chair of the department from 1938 to 1956. Among his many other positions during his sixty years with UCSF, he was chair of the Department of History of Health Sciences from 1942 to 1975, Dean of the UCSF School of Medicine 1956-63, University Librarian from 1943 to 1971, first UCSF Provost from 1958 to 1964, and the first Chancellor of UCSF, from 1964 to 1966.</p>
     <p>Saunders conducted research with LeRoy C. Abbott of the Department of Orthopedic Surgery, and Verne T. Inman of the Biomechanics Laboratory. With them and other colleagues he studied the normal and diseased spinal column, nerve injury and regeneration, the mechanics of the joints of the upper and lower limbs, and the nature of normal and pathological gait. He published studies on congenital abnormalities of the duodenum, and on the development of the genitourinary tract. Later, he made important observations on the formation of the ventricles and the aorta.</p>
     <p>On the occasion of the 400th anniversary of the publication of the great anatomical work, De Humani Corporis Fabrici, by Andreas Vesalius in 1543, Saunders published a paper with Leroy Crummer on Loys Vasse, a contemporary of Vesalius. He continued to write several papers on aspects of the life and times of Vesalius.</p>
     <p>In 1950, Saunders published with C. D. O'Malley The Illustrations of the Works of Vesalius of Brussels. Two years later, a second book by O'Malley and Saunders entitled Leonardo da Vinci on the Human Body was highly praised. He continued to write and publish on medical history until his death at age eighty-eight.</p>
     <p>Many recall John Saunders as the strongest voice to oppose Herbert Evans in the struggle to <a href="split_campus.html" class="bodylink">keep the medical school in San Francisco</a>. Evans' preference for Berkeley reflected an opinion that caused many decades of divisiveness for the growing San Francisco campus. Saunders remained a part of many UCSF activities after his retirement in 1971. He received numerous honors and degrees around the world. One of the most coveted was the naming of the quadrangle between the Library and the School of Nursing named &quot;Saunders Court&quot; as a tribute to both John and Alison Saunders for their many contributions benefiting students and faculty. </p>
     <p><br/>
       <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
