---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Steven A. Schroeder - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">STEVEN A. SCHROEDER </div>
<div id="thumb_people"><a href="photo_schroeder.html"><img src="images/story_thumbnails/schroeder.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Steven A. Schroeder graduated from Stanford University in 1960 and entered Harvard Medical School, earning the M.D. in 1964. He trained in internal medicine at the Harvard Medical Service of Boston City Hospital. He then became an officer of the Epidemiological Intelligence Service of the Centers for Disease Control and
  held faculty appointments at Harvard and George Washington University.  In 1976 UCSF Chair of Medicine,  Lloyd “Holly” Smith, recruited Dr. Schroeder to the faculty, where he created a Division of General Internal Medicine (1980). He recruited a talented group of junior faculty, many of whom are still at UCSF.
<p>Also in 1976 Schroeder became part of the core faculty in the Health Policy Program at UCSF, a program that evolved into a national Health Services Policy Analysis Center (1977). In 1981 it was renamed the UCSF Institute for Health Policy Studies (now the Philip R. Lee Institute for Health Policy Studies) and designated an Organized Research Unit by the UC Regents. In addition to his work in the Division of General Medicine, Dr. Schroeder published widely in health services research, often in collaboration with Jonathan Showstack, Ph.D., M.P.H.</p>
<p> From 1990 to 2002, Steven Schroeder left UCSF to become President and CEO of the Robert Wood Johnson Foundation. During his tenure at RWJF, he made over four billion dollars in grants and developed new programs in substance abuse, prevention and treatment; studies in end of life care; and the expansion of health insurance for children. As head of one of the nation’s premier foundations, he noted the general reluctance to become involved in smoking issues, for as he says, “the tobacco industry plays rough.” Nevertheless the RWJF eventually funded important programs providing information on tobacco’s health effects.  </p>
<p>In 2003 Schroeder returned to UCSF and serves as Distinguished Professor of Health and Health Care in the Department of Medicine. He heads the Smoking Cessation Leadership Center, a project funded by the Robert Wood Johnson Foundation designed to work with health professionals and organizations to “narrow the gap between what should be done to help smokers quit, and what is currently done.” For more information on the center see <a href="http://smokingcessationleadership.ucsf.edu" target="_blank" class="bodylink">http://smokingcessationleadership.ucsf.edu</a>.</p>
<p> Dr. Schroeder has received many honors and six honorary doctoral degrees. He serves on the board of the James Irvine Foundation, the editorial board of the <em>New England Journal of Medicine</em>, and is president of the Harvard Medical Alumni Association. He is also past chair of the American Legacy Foundation, which recently named the Schroeder Institute for Tobacco Research and Policy Studies in his honor. <br/>
  <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
