---
---
<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Special Topics - A History of UCSF</title>

<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all">
{% include google_analytics.html %}
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1>
</div>
<div id="insidebody">
<div id="insidecopy">
  <div id="insidecopy_text">
    <h2 class="title"><span class="title-primary">Special Topics</span></h2>
    <dl class="topic">
      <dt><a href="150w.html" class="sidenavtype">WOMEN MAKE HISTORY AT UCSF</a></dt>
      <dd>We celebrate remarkable and inspiring women making contributions at UCSF.</dd>
      <dt><a href="sponge_case.html" class="sidenavtype">THE SPONGE CASE</a></dt>
      <dd>In 1856, surgeon Hugh Toland is called to attend James King of William, the editor of the Daily Evening Express, who was shot in the chest by an assassin.</dd>
      <dt><a href="curriculum_reform.html" class="sidenavtype">CURRICULUM REFORM: A COMPARATIVE CHRONOLOGY OF UCSF IN THE CONTEXT OF NATIONAL REFORMS</a></dt>
      <dd>In 1846 the first National Medical Convention (forerunner of the American Medical Association) convened to study American medical education.</dd>
      <dt><a href="daniel_gilman.html" class="sidenavtype">DANIEL COIT GILMAN AND THE EARLY YEARS OF THE UNIVERSITY OF CALIFORNIA</a></dt>
      <dd>Plans for a university were developed at the first Constitutional Convention in 1849, when the Gold Rush was well underway.</dd>
      <dt><a href="stanford_rivalry.html" class="sidenavtype">UC STANFORD RIVALRY, 1858&ndash;1917</a></dt>
      <dd>Elias Samuel Cooper, a surgeon from Illinois, sailed to San Francisco in 1855. He soon was active in organizing a state medical society and in 1858 started the first medical school in the West.</dd>
      <dt><a href="flexner_report.html" class="sidenavtype">THE FLEXNER REPORT IN CONTEXT</a></dt>
      <dd>As the example of the University of California School of Medicine reveals, significant reform of the academic curriculum and clinical teaching was well underway in America by the beginning of the twentieth century.</dd>
      <dt><a href="split_campus.html" class="sidenavtype">CHRONOLOGY OF THE SPLIT CAMPUS, 1906&ndash;1958</a></dt>
      <dd>In 1906, due to earthquake and fire, the two preclinical years of the curriculum (basic science departments of anatomy, pathology and physiology) were moved to Berkeley.</dd>
      <dt><a href="hooper.html" class="sidenavtype">THE HOOPER FOUNDATION</a></dt>
      <dd>The Hooper Foundation was the first medical research foundation in the United States incorporated into a university.</dd>
      <dt><a href="ishi.html" class="sidenavtype">THE STORY OF ISHI: A CHRONOLOGY</a></dt>
      <dd>In August of 1911 a starving native-American man walked out of the Butte County wilderness into Oroville.</dd>
      <dt><a href="stanford_merger.html" class="sidenavtype">UCSF STANFORD MERGER</a></dt>
      <dd>UC and Stanford shared the staffing of San Francisco Hospital for nearly one century. Collegial competition between the two schools was beneficial to patient care and to the institutions.</dd>
      <dt><a href="early_cancer.html" class="sidenavtype">EARLY CANCER RESEARCH: THE LABORATORY OF EXPERIMENTAL ONCOLOGY, 1947&ndash;1953</a></dt>
      <dd>Although it was regarded as a regional school isolated in the Far West, the UC School of Medicine was able to compete effectively for federal research money in the years immediately following World War II, especially in the area of cancer research.</dd>
      <dt><a href="medical_center.html" class="sidenavtype">THE DEVELOPMENT OF THE UCSF MEDICAL CENTER</a></dt>
      <dd>Although the first University of California Hospital did not appear until the 1906 earthquake and fire brought urgent hospital needs to the city, plans for a university hospital for the Medical Department had been taking place since the turn of the century.</dd>
    </dl>
  </div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br>
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype">THE STORY</a><br>
  <br>
  <div id="sidenav_subnav_header"><a href="special_topics.html" class="sidenavtype sidenav_subnav_type_visited">SPECIAL TOPICS</a></div>
  <br>
  <a href="people.html" class="sidenavtype">PEOPLE</a><br>
  <br>
  <a href="photos.html" class="sidenavtype">PHOTOS</a><br>
  <br>
  <a href="buildings.html" class="sidenavtype">BUILDINGS</a><br>
  <br>
  <a href="index.html" class="sidenavtype">HOME</a><br>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
