---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Special Topics - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v2"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
  <div id="insidecopy_text"><img src="images/titles/special_topics.jpg" alt="Special Topics" width="211" height="71" />
    <div id="sidenavtype"> <a href="sponge_case.html" class="sidenavtype"><strong>THE SPONGE CASE</strong></a></div>
    In 1856, surgeon Hugh Toland is called to attend James King of William, the editor of the Daily Evening Express, who was shot in the chest by an assassin.<br /><br />
  <div id="sidenavtype"><strong><a href="curriculum_reform.html"  class="sidenavtype">CURRICULUM REFORM: A COMPARATIVE CHRONOLOGY OF UCSF IN THE CONTEXT OF NATIONAL REFORMS</a></strong></div>
    In 1846 the first National Medical Convention (forerunner of the American Medical Association) convened to study American medical education.    <br /><br />
   <div id="sidenavtype"><a href="daniel_gilman.html" class="sidenavtype"><strong>DANIEL COIT GILMAN AND THE EARLY YEARS OF THE UNIVERSITY OF CALIFORNIA</strong></a></div>
    Plans for a university were developed at the first Constitutional Convention in 1849, when the Gold Rush was well underway.<br /><br />
  <div id="sidenavtype"><a href="stanford_rivalry.html" class="sidenavtype"><strong>UC STANFORD RIVALRY, 1858-1917</strong></a></div>
    Elias Samuel Cooper, a surgeon from Illinois, sailed to San Francisco in 1855. He soon was active in organizing a state medical society and in 1858 started the first medical school in the West.<br /><br />
    <div id="sidenavtype"><a href="flexner_report.html" class="sidenavtype"><strong>THE FLEXNER REPORT IN CONTEXT</strong></a></div>
    As the example of the University of California School of Medicine reveals, significant reform of the academic curriculum and clinical teaching was well underway in America by the beginning of the twentieth century.<br /><br />
  <div id="sidenavtype"><a href="split_campus.html" class="sidenavtype"><strong>CHRONOLOGY OF THE SPLIT CAMPUS, 1906-1958</strong></a></div>
    In 1906, due to earthquake and fire, the two preclinical years of the curriculum (basic science departments of anatomy, pathology and physiology) were moved to Berkeley.<br /><br />
  <div id="sidenavtype"><a href="hooper.html" class="sidenavtype"><strong>THE HOOPER FOUNDATION</strong></a></div>
  The Hooper Foundation was the first medical research foundation in the United States incorporated into a university.
  <br /><br />
 <div id="sidenavtype"><a href="ishi.html" class="sidenavtype"><strong>THE STORY OF ISHI: A CHRONOLOGY</strong></a></div>
    In August of 1911 a starving native-American man walked out of the Butte County wilderness into Oroville.<br />
    <br />
 <div id="sidenavtype"><a href="stanford_merger.html" class="sidenavtype"><strong>UCSF STANFORD MERGER</strong></a></div>
    UC and Stanford shared the staffing of San Francisco Hospital for nearly one century. Collegial competition between the two schools was beneficial to patient care and to the institutions.  <br /><br />
  <div id="sidenavtype"><a href="early_cancer.html" class="sidenavtype"><strong>EARLY CANCER RESEARCH: THE LABORATORY OF EXPERIMENTAL ONCOLOGY, 1947-1953</strong></a></div>
Although it was regarded as a regional school isolated in the Far West, the UC School of Medicine was able to compete effectively for federal research money in the years immediately following World War II, especially in the area of cancer research.<br/>
      <br/>
 <div id="sidenavtype"><a href="medical_center.html" class="sidenavtype"><strong>THE DEVELOPMENT OF THE UCSF MEDICAL CENTER</strong></a></div>
Although the first University of California Hospital did not appear until the 1906 earthquake and fire brought urgent hospital needs to the city, plans for a university hospital for the Medical Department had been taking place since the turn of the century. <br /><br />      <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="special_topics.html" class="sidenav_subnav_type_visited">SPECIAL TOPICS</a></strong></div>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
