---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>The Sponge Case - Special Topics - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display|Nunito:300' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div class="banner"><h1><a href="/">A History of UCSF</a></h1></div>
<div id="insidebody">
<div id="insidecopy">
  <div id="insidecopy_text"><h2 class="title"><span class="title-primary">Special Topics</span></h2>
    <div id="subhead">THE SPONGE CASE by Joseph LaDou, M.D.<br />
     </div>
<div id="thumb3"><a href="1868_photo5.html"><img src="images/story_thumbnails/toland_portrait_large.jpg" width="150" height="200" border="0" /></a>
  <div id="caption3">Dr. Hugh Huger Toland (b. 1806, d. 1880).</div></div>
In 1856, surgeon <a href="toland.html" class="bodylink">Hugh Toland</a> was called to attend James King of William, the editor of the Daily Evening Express, who was shot in the chest by an assassin. Suspecting that the left subclavian artery was injured, Toland and other physicians crowding around the patient agreed with the first physician to reach the patient, Dr. R. K. Nuttall, who proposed inserting a large sponge to plug the wound. They disregarded the objection of another prominent physician, <a href="cole.html" class="bodylink">R. Beverly Cole</a>, a close friend of King's. When King regained consciousness, he reportedly said, "Oh, Cole, in the name of God, stay by me!"
<p>King's death five days later triggered a call to arms by the San Francisco Vigilance Committee, and his funeral was the largest public gathering in the history of San Francisco. Beverly Cole reported to the Medical Society of the State of California that the sponge left in King's body for five days caused his death. The treatment recommended by Toland was, in his view, "gross malpractice." At the trial of a man implicated in King's murder, Toland and Cole played leading roles in the drama. If Cole was right, King's doctors caused his death and the man accused of his assassination should be set free. Toland's opinion prevailed, supported by autopsy findings that the death was caused by post-traumatic inflammation in the chest and veins. The San Francisco Herald concluded in its columns that James King of William was frightened to death by his doctors.</p>
<strong>References:</strong><br />
<div id="footnotes">Gardner, Frances Tomlinson. "The Little Acorn: Hugh Huger Toland, 1806-1880," <em>Bulletin of the History of Medicine</em> 24 (Jan/Feb 1950).
<p>Gardner, Frances Tomlinson. "King Cole of California," <em>Annals of Medical History</em>, 3rd ser. 2, (May 1940, Part I), and (July 1940, Part II).</p>
<p>Harris, Henry. <em>California's Medical Story</em>. San Francisco: Grabhorn Press, 1932.</p>
<p>Lyman, George D. "The Sponge," <em>Annals of Medical History</em> 10 (1928): 460-479.</p>
</div><a href="special_topics.html" class="bodylink">Back to Special Topics</a><br/>
      <br/> <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><strong><a href="special_topics.html" class="sidenav_subnav_type_visited">SPECIAL TOPICS</a></strong></div>
  <br/>
  <a href="people.html" class="sidenavtype"><strong>PEOPLE</strong></a><br/>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
