---
---
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Gordon M. Tomkins  - Biography - A History of UCSF</title>
<link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
{% include google_analytics.html %}
</head>

<body>
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v3"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">GORDON M. TOMKINS (1926-1975)</div>
<div id="thumb_people"><a href="photo_tomkins.html"><img src="images/story_thumbnails/Tomkins.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Gordon M. Tomkins was born in Chicago, and grew up in southern California.  He earned an A.B. degree in philosophy from UCLA, then entered the University of California for his first two years of medical school, transferring to Harvard, completing his medical degree in 1949, and interning under George W. Thorn at the Peter Bent Brigham Hospital. He returned to Berkeley and earned a Ph.D. degree in biochemistry under I. L. Chaikoff. In 1953 he arrived at NIH headquarters at Bethesda, and became chief of the Laboratory of Molecular Biology in the National Institute of Arthritis, Metabolism, and Digestive Diseases. Here he began work elucidating the actions of hormones at the molecular level.
<p>Tomkins was recruited to UCSF in 1969, influenced by William Rutter’s decision to come to San Francisco to revitalize UCSF’s Department of Biochemistry. As Dr. Rutter’s first recruit, he welcomed the opportunity to develop a central research theme around human genetics. Together, they recruited a number of young investigators who formed an active community of interdisciplinary scholars developing the new field of molecular biology.  </p>
<p>Although he was only at UCSF for six years before his untimely death at age forty-nine from a brain tumor, Dr. Tomkin’s influence extended far beyond his own scientific eminence—he was a key person in the development of the UCSF academic community in the early 1970s, a highly successful investigative environment that generated many important discoveries. William Rutter emphasized that “he contributed to the spirit and overall attitude of the institution…he gathered good people like the Pied Piper.” Other colleagues remembered Tomkins for his “agility of mind…sympathetic interest and eclectic curiosity [which] facilitated the diffusion of ideas across barriers of departments and disciplines.”  </p>
<p>Currently many senior scientists who encountered Dr. Tomkins at his NIH laboratory or at UCSF testify readily on his influence in their early careers. See for example, B. N. Ames, “Gordon M. Tomkins (1926-1975)”, <em>Biochemical Actions of Hormones</em> (Litwack, G., ed) vol. IV, New York, N.Y.: Academic Press, 1977). His peers recall that he “tackled fundamental questions….by temperament and conscious esthetic choice, Gordon sought an underlying simplicity and unity in biology…the holistic bent of Gordon’s imagination led naturally to exploration of analogies between prokaryotic systems and more complex animal cells.” </p>
<br/>
    <br/>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
{% include bottom_js.html %}
</body>
</html>
