@charset "UTF-8";
/* CSS Document */

/*----------------------*/

/* element styles */

body {
    margin: 0;
    background-color: #e6e6e6;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/*--------------------- */

#mainbody {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-image:url(images/back_home.jpg);
    background-repeat:repeat-y;
}

#topbar {
    width: 900px;
    height: 30px;
    background-color:#000000;
}

#gradient {
    width:900px;
    height:11px;
    margin:0;
}

#homebody {
    width:900px;
    height:300px;
    margin:0;
    padding:0;
    background-image:url(images/back_home.jpg);
    background-repeat:repeat-y;
}

#insidebody {
    width:900px;
    margin:0;
    padding:0;
}

/* Creates the random header on top of each page */

#rotator {
position:relative;
    width: 900px;
    height: 231px;
    margin: 0;
    padding: 0;
    background-image: url(images/headers/header1.jpg);
}

#rotator.v2 {
    background-image: url(images/headers/header2.jpg);
}

#rotator.v3 {
    background-image: url(images/headers/header3.jpg);
}

#rotator.v4 {
    background-image: url(images/headers/header4.jpg);
}

/* Creates the home link in the header of each page */

#rotator_home_link{ position: absolute; top:20px; left:0; width: 600px; height: 120px; }



/* Main Navigation */

#homecopy #nav {
    padding:0;
}

#nav {
    width:674px;
    height:24px;
    margin:0;
    padding-top:175px;
}

#main_nav
{
list-style-type: none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin: 0;
padding-left: 92px;
text-decoration:none;
}

#main_nav a:hover
{
list-style-type: none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin: 0;
color:#242443;
text-decoration:none;
}

.main_nav_text
{
color:#8c2626;
}

.main_nav_text_visited
{
color:#242443;
}


#main_nav a
{
    display: block;
    text-decoration: none;
}

#main_nav li
{
line-height: 1.3em;
float: left;
}

/* End of Main navigation */


/* Side Navigation */

#sidebar {
    width:226px;
    margin:0;
    padding:0;
    float:left;
}

#sidenav {
    width:190px;
    margin:0;
    padding:60px 0 0 36px;
}

#sidenav_inside {
    width:190px;
    margin:0;
    padding:0 0 0 36px;
}

#sidenavtype {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:15px;
    color:#ca7c29;
    text-decoration:none;
}

#sidenavtype a:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:15px;
color:#9a403d;
text-decoration:none;
}

.sidenavtype {
color:#ca7c29;
}

.sidenavtype_visited {
color:#9a403d;
}

#sidenav_subnav {
width:150px;
margin:0;
padding:6px 0 12px 0;
}

#sidenav_subnav_header {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:15px;
color:#9a403d;
}

#sidenav_subnav_links {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
line-height:15px;
text-decoration:none;
}

#sidenav_subnav_links a:hover {
color:#9a403d;
font-size:11px;
line-height:15px;
text-decoration:none;
}

.sidenav_subnav_type {
color:#242443;
}

.sidenav_subnav_type_visited {
color:#9a403d;
}

/* End of Side Navigation */



#inside_header {
    width:717px;
    margin:0;
    padding:0;
}

#homecopy {
    width:674px;
    height:300px;
    margin:0;
    background:none;
    float:left;
}

#insidecopy {
    width:674px;
    margin:0;
    background:none;
    float:left;
}

#photocopy {
    width:674px;
    margin:0;
    background:none;
    float:left;
}


/* Text Styles */

#homecopy_text {
    width:502px;
    margin:0;
    padding:28px 80px 0 92px;
    font-family:Arial, Helvetica, sans-serif;
font-size:18px;
line-height:30px;
color:#000000;
}

#insidecopy_text {
    width:520px;
    margin:0;
    padding:0 60px 0 94px;
    font-family:Arial, Helvetica, sans-serif;
font-size:.75em;
line-height:19px;
color:#000000;
}

#insidecopy_text a:hover {
text-decoration:underline;
}

#photocopy_text {
    width:580px;
    margin:0;
    padding:0 0 0 94px;
    font-family:Arial, Helvetica, sans-serif;
font-size:.75em;
line-height:19px;
color:#000000;
}

.bodylink {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#8c2626;
}

#footnotes {
font-family:Arial, Helvetica, sans-serif;
    font-size:.9em;
    line-height: 13px;
    color:#242443;
}

.footnotes {
font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    line-height: 13px;
    color:#8c2626;
}

/* Purple subhead */

#subhead {
padding-bottom: 6px;
font-family:Arial, Helvetica, sans-serif;
font-size:1.4em;
color:#666699;
}

/* Green Subhead */

#subhead2 {
padding-bottom: 4px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#949b50;
}

/* Dates list per 1990 and 2000+ pages */

.dates {
    width:520px;
    margin:0;
    padding:0;
}

.dates_text {
width:40px;
    margin:0;
    padding:0;
float:left;
}

.dates_body {
width:480px;
    margin:0;
    padding-bottom:5px;
float:left;
}


/* Div that holds the three photos in a row in the photo section  */

#photo_thumb_holder {
    width:520px;
    height:200px;
    margin:0;
    float: left;
}

/* Div for the individual photo in the photo section */

#photo_thumb {
    width:170px;
    margin:0;
    float: left;
}

/* Thumbnails on People page */
#small_thumb {
    width:60px;
    margin:0;
    float: left;
}

/* Horizontal Photo Thumbnail */
#thumb {
    width:215px;
    margin:0;
    padding-top:5px;
    float: left;
}

/* Big Horizontal Photo Thumbnail */
#thumb2 {
    width:520px;
    margin:0;
    padding:0;
    float: left;
}

/* Vertical Photo Thumbnail */
#thumb3 {
    width:150px;
    margin:0 0 0 15px;
    padding-top:5px;
    float:right;
}

/* Medium Horizontal Photo Thumbnail */
#thumb4 {
    width:310px;
    margin:0;
    padding-top:5px;
    float:left;
}

/* Side by side Horizontal Photo Thumbnail(1959 buildings) */
#thumb5 {
    width:290px;
    margin:0;
    padding-top:5px;
    float:left;
}

/* Vertical Photo Thumbnail on Bio Pages */
#thumb_people {
    width:150px;
    margin:0 15px 0 0;
    padding-top:5px;
    float:left;
}

/* Caption for the photos in the photo section */

#photo_caption {
    width:150px;
    margin:0;
    padding:6px 0 10px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    line-height: 13px;
    color:#242443;
    float: left;
}

/* Horizontal Caption */

#caption {
    width:200px;
    margin:0;
    padding:6px 0 10px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9em;
    line-height: 13px;
    color:#242443;
    float: left;
}

/* Big Horizontal Caption */

#caption2 {
    width:500px;
    margin:0;
    padding:6px 0 10px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9em;
    line-height: 13px;
    color:#242443;
    float: left;
}

/* Vertical Caption */

#caption3 {
    width:150px;
    margin:0;
    padding:6px 0 10px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9em;
    line-height: 13px;
    color:#242443;
    float: left;
}

/* Medium Horizontal Caption */

#caption4 {
    width:300px;
    margin:0;
    padding:6px 0 10px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9em;
    line-height: 13px;
    color:#242443;
    float: left;
}

#quote {
    width:450px;
    margin:0;
    padding:0;
}

#quote_top {
    width:450px;
    height:12px;
    margin:0;
    background-image:url(images/top_quote.jpg);
    background-repeat:no-repeat;
}

#quote_bottom {
    width:450px;
    height:12px;
    margin:0;
    background-image:url(images/bottom_quote.jpg);
    background-repeat:no-repeat;
}

#quote_middle {
    width:426px;
    margin:0;
    padding:0 12px 0 12px;
    background-image:url(images/quote_back.jpg);
    background-repeat:repeat-y
}


/* Footer */

#footer {
    width:900px;
    height:55px;
    margin:0;
    background-image:url(images/footer_back.jpg);

}

#footercontent {
width:250px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
line-height:13px;
padding:20px 0 0 38px;
float:left;
}

#footercontent a:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
text-decoration:underline;
}


#footercontent2 {
width:300px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
line-height:13px;
padding:20px 0 0 100px;
float:left;
}

#footercontent_logo {
width:190px;
padding:5px 0 0 20px;
float:left;
}

.footerlinks {
color:#000000;
}



/* Clears the floated elements above it and allow the floated elements to expand content within them */

.clearit {
    clear: both;
    height: 0;
    line-height: 0.0;
    font-size: 0;
}
