<!-- Begin Footer -->
<div id="footer">

<div id="footercontent"><a href="http://www.library.ucsf.edu/collections/archives/contact" class="footerlinks"><strong>CONTACT US</strong></a><a href="#" class="footerlinks"></a><img src="images/footer_divider.jpg" alt="" width="25" height="9" border="0" /><a href="about.html" class="footerlinks"><strong>ABOUT</strong></a><a href="#" class="footerlinks"></a><img src="images/footer_divider.jpg" alt="" width="25" height="9" border="0" /><a href="related_links.html" class="footerlinks"><strong>RELATED LINKS</strong></a></div>

<div id="footercontent2">© 2014 The Regents of the University of California</div>

<div id="footercontent_logo"><a href="http://library.ucsf.edu/"><img src="images/library_logo.jpg" border="0" alt="UCSF Library &amp; Center for Knowledge Management" /></a></div>

</div>
<!-- End Footer -->
