<div id="nav">
<ul id="main_nav">
<li><a href="story.html" class="main_nav_text"><strong>1868&nbsp;&ndash;&nbsp;1898</strong></a></li>
<li><a href="1899.html" class="main_nav_text"><strong>1899&nbsp;&ndash;&nbsp;1918</strong></a></li>
<li><a href="1919.html" class="main_nav_text"><strong>1919&nbsp;&ndash;&nbsp;1939</strong></a></li>
<li><a href="1940.html" class="main_nav_text"><strong>1940&nbsp;&ndash;&nbsp;1958</strong></a></li>
<li><a href="1959.html" class="main_nav_text"><strong>1959&nbsp;&ndash;&nbsp;1989</strong></a></li>
<li><a href="1990.html" class="main_nav_text"><strong>1990&nbsp;&ndash;&nbsp;2009</strong></a></li>
<li><a href="2010.html" class="main_nav_text"><strong>2010</strong>+</a></li>
</ul>
</div>