<div id="nav">
<ul id="main_nav">
<li><a href="story.html" class="main_nav_text">1868&ndash;1898</a></li>
<li><a href="1899.html" class="main_nav_text">1899&ndash;1918</a></li>
<li><a href="1919.html" class="main_nav_text">1919&ndash;1939</a></li>
<li><a href="1940.html" class="main_nav_text">1940&ndash;1958</a></li>
<li><a href="1959.html" class="main_nav_text">1959&ndash;1989</a></li>
<li><a href="1990.html" class="main_nav_text">1990&ndash;2009</a></li>
<li><a href="2010.html" class="main_nav_text">2010&ndash;</a></li>
</ul>
</div>