<div id="nav">
<ul id="main_nav">
<li><a href="story.html" class="main_nav_text"><strong>1868 - 1898</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1899.html" class="main_nav_text"><strong>1899 - 1918</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1919.html" class="main_nav_text"><strong>1919 - 1939</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1940.html" class="main_nav_text"><strong>1940 - 1958</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1959.html" class="main_nav_text"><strong>1959 - 1989</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="1990.html" class="main_nav_text"><strong>1990 - 2009</strong></a></li>
<li><img src="images/divider.jpg" alt="" /></li>
<li><a href="2010.html" class="main_nav_text"><strong>2010</strong>+</a></li>
</ul>
</div>