<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Herbert C. Moffitt - Biography - A History of UCSF</title>
<link href="ucsf_history.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
<!--
body {
	margin: 0px;
	background-color: #E6E6E6;
	background-image: url();
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
-->
</style>

</head>

<body onload="document.forms['cse-search-box'].elements['q'].focus();">
{% include google_analytics.html %}
<div id="mainbody">
{% include ucsf_banner.html %}
<div id="rotator" class="v2"><a href="index.html" id="rotator_home_link"></a>
</div>
<div id="insidebody">
<div id="insidecopy">
<div id="insidecopy_text"><img src="images/titles/people.jpg" alt="People" width="110" height="71" /><br />
     <div id="subhead">HERBERT CHARLES MOFFITT (1867-1950)</div>
<div id="thumb_people"><a href="1899_moffitt.html"><img src="images/story_thumbnails/moffitt_portrait.jpg" width="150" height="200" border="0" /></a><a href="1940_photo21.html"></a></div>
Herbert C. Moffitt was born in San Francisco in 1867. He attended the University of California, Berkeley, where he was awarded the University Medal for his leadership and scholastic accomplishments. He attended Harvard Medical School and interned with distinction at Massachusetts General Hospital. He then went to Europe for further diagnostic training where he spent two years at various medical centers in Munich, Berlin, Paris and Vienna. He began the practice of internal medicine in San Francisco in 1897 and married Margaret Jolliffe. They had two children.
     <p>Moffitt advanced to Professor of Medicine at the University of California School of Medicine in one year's time. In 1912, he was asked to be Dean of the medical school, a post that he held until called to World War I as a major in the Army Medical Corps. When the Regents and President Wheeler sought to reorganize the University of California Medical School, it was Moffitt who was asked to direct the activity. In the years preceding the war, he toured the country studying other medical centers with his characteristic thoroughness. As a result of his travels, he brought many outstanding faculty members to the University of California, including George Whipple, Karl F. Meyer, Frank Lynch, Herbert M. Evans, and William P. Lucas. Moffitt raised the funds among his many friends for the construction of UC Hospital which opened in 1917, the final step in the reorganization of the medical school.       </p>
     <p>Moffitt was an gifted clinician, and carried his exceptional clinical ability into his teaching and into his private practice. His fame spread early and he became known as one of the nation's best-known clinicians. He was a member of the Association of American Physicians and its president in 1922. Always interested in medical education, he was an ardent proponent of bedside teaching, and to all of his students and colleagues he was the ultimate clinical teacher. He had a phenomenal memory, able to call to mind details of cases seen long ago, or the exact passages of medical textbooks and journals, with an accuracy that astounded his listeners. He solved clinical problems by direct attack, rather than by the process of elimination. He had a certain brusqueness and aloofness, both of which were but a thin cloak to cover up his highly sensitive and kindly nature.       </p>
     <p>On his return from Army service in 1919, he was made Chairman of the Division of Medicine. He retired in 1937, continuing on as a familiar sight at conferences, rounds, and bedside teaching. Few things were ever done at the medical school without consultation with "The Chief," as he had long been known. His contribution to the University of California is shown by the naming of Herbert C. Moffitt Hospital. In his self-effacing way, he was much opposed to accepting this honor. He died at age eighty-three, having received most every honor and award that can come to one in medicine. <br/>
       <br/>
     </p>
     </p>
          </p>
</div>
</div>
<div id="sidebar">
<div id="sidenav_inside">{% include search_include.html %}<br />
    <div id="sidenavtype">
  <a href="story.html" class="sidenavtype"><strong>THE STORY</strong></a><br/>
  <br/>
  <a href="special_topics.html" class="sidenavtype"><strong>SPECIAL TOPICS</strong></a><br/>
  <br/>
  <div id="sidenav_subnav_header"><a href="people.html" class="sidenav_subnav_type_visited"><strong>PEOPLE</strong></a></div>
  <br/>
  <a href="photos.html" class="sidenavtype"><strong>PHOTOS</strong></a><br/>
  <br/>
  <a href="buildings.html" class="sidenavtype"><strong>BUILDINGS</strong></a><br/>
  <br/>
  <a href="index.html" class="sidenavtype"><strong>HOME</strong></a><br/>
</div>
</div>
</div>
</div>
<br class="clearit" />
{% include footer.html %}
</div>
</body>
</html>
